.ww-theme-light {
  --ww-color-white: #ffffff;
  /* DARK transparent */
  --ww-color-dark-800-transparent: #323b3c08;
  --ww-color-dark-50-transparent: #f5f7f708;
  --ww-color-keyframe-green-text: #343534;
  --ww-color-keyframe-green-bg: #02d41a29;

  /* Canvas */
  --ww-color-canvas-element-hover: #6cc4f9;
  --ww-color-canvas-element-selected: #088ddd;
  --ww-color-canvas-element-component: #2aba7e;
  --ww-color-canvas-element-deprecated: #df9600;
  --ww-color-canvas-element-bound: #6554c0;
  --ww-color-canvas-padding: hsla(155, 76%, 70%, 0.12);
  --ww-color-canvas-margin: hsla(203, 93%, 70%, 0.12);
  --ww-color-canvas-margin-negative: hsla(0, 100%, 80%, 0.2);
  --ww-color-placeholder-border: #555;

  /* Overlay */
  --ww-color-overlay: rgba(0, 0, 0, 0.5);

  --ww-color-bg: #fff;
  --ww-color-bg-hover: #f2f2f2;
  --ww-color-bg-pressed: #f5f5f5;
  --ww-color-bg-secondary: #f7f7f7;
  --ww-color-bg-secondary-hover: #f2f2f2;
  --ww-color-bg-secondary-pressed: #ededed;
  --ww-color-bg-tertiary: #ebebeb;
  --ww-color-bg-inverse: #3d3d3d;
  --ww-color-bg-tertiary-hover: #e5e5e5;
  --ww-color-bg-tertiary-pressed: #e0e0e0;
  --ww-color-bg-special: #f7f7f7;
  --ww-color-bg-workflow-editor: #f2f2f2;
  --ww-color-bg-disabled: #e4e4e7;
  --ww-color-bg-disabled-hover: #e4e4e7;
  --ww-color-bg-disabled-pressed: #e4e4e7;
  --ww-color-bg-brand: #099af2;
  --ww-color-bg-brand-hover: #088ddd;
  --ww-color-bg-brand-pressed: #0880c9;
  --ww-color-bg-brand-secondary: #d5eefd;
  --ww-color-bg-brand-secondary-hover: #c0e5fc;
  --ww-color-bg-brand-secondary-pressed: #acdefb;
  --ww-color-bg-warning: #eb7d00;
  --ww-color-bg-warning-hover: #d67200;
  --ww-color-bg-warning-pressed: #c26800;
  --ww-color-bg-warning-secondary: #fff1d5;
  --ww-color-bg-warning-secondary-hover: #ffebc2;
  --ww-color-bg-warning-secondary-pressed: #ffe4ad;
  --ww-color-bg-alert: #df330c;
  --ww-color-bg-alert-hover: #cb2e0b;
  --ww-color-bg-alert-pressed: #b82a0a;
  --ww-color-bg-alert-secondary: #ffe3dd;
  --ww-color-bg-alert-secondary-hover: #ffd1c7;
  --ww-color-bg-alert-secondary-pressed: #ffc0b2;
  --ww-color-bg-success: #23865c;
  --ww-color-bg-success-hover: #1f7551;
  --ww-color-bg-success-pressed: #1a6545;
  --ww-color-bg-success-secondary: #e3f9f0;
  --ww-color-bg-success-secondary-hover: #d1f5e6;
  --ww-color-bg-success-secondary-pressed: #c0f1dd;
  --ww-color-bg-binding: #6554c0;
  --ww-color-bg-binding-hover: #5745ba;
  --ww-color-bg-binding-pressed: #513fab;
  --ww-color-bg-binding-secondary: #e5e3f4;
  --ww-color-bg-binding-secondary-hover: #d6d3ee;
  --ww-color-bg-binding-secondary-pressed: #c9c4e8;
  --ww-color-content-primary: #191a1a;
  --ww-color-content-primary-hover: #212222;
  --ww-color-content-primary-pressed: #2b2c2c;
  --ww-color-content-secondary: #4a4e4f;
  --ww-color-content-secondary-hover: #565b5c;
  --ww-color-content-secondary-pressed: #404445;
  --ww-color-content-tertiary: #737678;
  --ww-color-content-tertiary-hover: #737678;
  --ww-color-content-tertiary-pressed: #737678;
  --ww-color-content-disabled: #a1a1aa;
  --ww-color-content-brand: #088ad8;
  --ww-color-content-brand-hover: #088ad8;
  --ww-color-content-brand-pressed: #088ad8;
  --ww-color-content-brand-secondary: #006fb2;
  --ww-color-content-warning: #df9600;
  --ww-color-content-warning-hover: #df9600;
  --ww-color-content-warning-pressed: #df9600;
  --ww-color-content-brand-secondary-hover: #005385;
  --ww-color-content-brand-secondary-pressed: #005385;
  --ww-color-content-alert: #ff370a;
  --ww-color-content-warning-secondary: #9d6a02;
  --ww-color-content-alert-hover: #ff370a;
  --ww-color-content-alert-pressed: #ff370a;
  --ww-color-content-warning-secondary-hover: #9d6a02;
  --ww-color-content-warning-secondary-pressed: #9d6a02;
  --ww-color-content-alert-secondary: #a31e00;
  --ww-color-content-success: #2aba7e;
  --ww-color-content-success-hover: #2aba7e;
  --ww-color-content-success-pressed: #2aba7e;
  --ww-color-content-alert-secondary-hover: #a31e00;
  --ww-color-content-alert-secondary-pressed: #a31e00;
  --ww-color-content-success-secondary: #1e855a;
  --ww-color-content-binding: #5341b0;
  --ww-color-content-binding-hover: #5341b0;
  --ww-color-content-binding-pressed: #5341b0;
  --ww-color-content-success-secondary-hover: #1e855a;
  --ww-color-content-success-secondary-pressed: #1e855a;
  --ww-color-content-binding-secondary: #4d3ca4;
  --ww-color-content-binding-secondary-hover: #4d3ca4;
  --ww-color-content-binding-secondary-pressed: #4d3ca4;
  --ww-color-content-onbg: #fff;
  --ww-color-content-onbg-secondary: #ffffffb8;
  --ww-color-content-onbg-tertiary: #ffffff80;
  --ww-color-content-brand-tertiary: #085b9b;
  --ww-color-content-brand-tertiary-hover: #085b9b;
  --ww-color-content-brand-tertiary-pressed: #085b9b;
  --ww-color-content-warning-tertiary: #614100;
  --ww-color-content-warning-tertiary-hover: #614100;
  --ww-color-content-warning-tertiary-pressed: #614100;
  --ww-color-content-alert-tertiary: #611200;
  --ww-color-content-alert-tertiary-hover: #611200;
  --ww-color-content-alert-tertiary-pressed: #611200;
  --ww-color-content-success-tertiary: #155d3f;
  --ww-color-content-success-tertiary-hover: #155d3f;
  --ww-color-content-success-tertiary-pressed: #155d3f;
  --ww-color-content-binding-tertiary: #5341b0;
  --ww-color-content-binding-tertiary-hover: #5341b0;
  --ww-color-content-binding-tertiary-pressed: #5341b0;
  --ww-color-border: #edeeee;
  --ww-color-border-hover: #dedede;
  --ww-color-border-pressed: #cfcfcf;
  --ww-color-border-secondary: #e5e5e5;
  --ww-color-border-secondary-hover: #d6d6d6;
  --ww-color-border-secondary-pressed: #ebebeb;
  --ww-color-border-tertiary: #b2b3b3;
  --ww-color-border-tertiary-hover: #bcc0c1;
  --ww-color-border-tertiary-pressed: #bcc0c1;
  --ww-color-border-disabled: #bcc0c1;
  --ww-color-border-brand: #099af2;
  --ww-color-border-brand-hover: #099af2;
  --ww-color-border-brand-pressed: #099af2;
  --ww-color-border-brand-secondary: #c2e5fa;
  --ww-color-border-brand-secondary-hover: #c0e5fc;
  --ww-color-border-brand-secondary-pressed: #c0e5fc;
  --ww-color-border-success: #2dae77;
  --ww-color-border-success-hover: #23865c;
  --ww-color-border-success-pressed: #23865c;
  --ww-color-border-success-secondary: #c2f4df;
  --ww-color-border-success-secondary-hover: #c0fce3;
  --ww-color-border-success-secondary-pressed: #c0fce3;
  --ww-color-border-warning: #f78400;
  --ww-color-border-warning-hover: #f78400;
  --ww-color-border-warning-pressed: #f78400;
  --ww-color-border-warning-secondary: #fde5b4;
  --ww-color-border-warning-secondary-hover: #ffebc2;
  --ww-color-border-warning-secondary-pressed: #ffebc2;
  --ww-color-border-alert: #f23f17;
  --ww-color-border-alert-hover: #df330c;
  --ww-color-border-alert-pressed: #df330c;
  --ww-color-border-alert-secondary: #ffd1c7;
  --ww-color-border-alert-secondary-hover: #ffd1c7;
  --ww-color-border-alert-secondary-pressed: #ffd1c7;
  --ww-color-border-binding: #826ffe;
  --ww-color-border-binding-hover: #9180fe;
  --ww-color-border-binding-pressed: #9e90fe;
  --ww-color-border-binding-secondary: #d6d3ee;
  --ww-color-border-binding-secondary-hover: #d6d3ee;
  --ww-color-border-binding-secondary-pressed: #d6d3ee;
  --ww-shadow-small: 0px 1px 2px rgba(18, 18, 23, 0.05);
  --ww-shadow-medium: 0px 2px 4px rgba(18, 18, 23, 0.06),
    0px 4px 6px rgba(18, 18, 23, 0.08);
  --ww-shadow-large: 0px 4px 6px rgba(18, 18, 23, 0.05),
    0px 10px 15px rgba(18, 18, 23, 0.08);
}

.ww-theme-dark {
  --ww-color-bg: #262626;
  --ww-color-bg-hover: #383838;
  --ww-color-bg-pressed: #333333;
  --ww-color-bg-secondary: #3d3d3d;
  --ww-color-bg-secondary-hover: #454545;
  --ww-color-bg-secondary-pressed: #4d4d4d;
  --ww-color-bg-tertiary: #787878;
  --ww-color-bg-inverse: #fff;
  --ww-color-bg-tertiary-hover: #45494a;
  --ww-color-bg-tertiary-pressed: #4a4e4f;
  --ww-color-bg-special: #424242;
  --ww-color-bg-workflow-editor: #3b3b3b;
  --ww-color-bg-disabled: #3b3f40;
  --ww-color-bg-disabled-hover: #323b3c;
  --ww-color-bg-disabled-pressed: #323b3c;
  --ww-color-bg-brand: #0887d4;
  --ww-color-bg-brand-hover: #0990e2;
  --ww-color-bg-brand-pressed: #099cf6;
  --ww-color-bg-brand-secondary: #193852;
  --ww-color-bg-brand-secondary-hover: #1d405e;
  --ww-color-bg-brand-secondary-pressed: #20486a;
  --ww-color-bg-warning: #e47d07;
  --ww-color-bg-warning-hover: #ed8207;
  --ww-color-bg-warning-pressed: #f8911b;
  --ww-color-bg-warning-secondary: #4b2d16;
  --ww-color-bg-warning-secondary-hover: #573419;
  --ww-color-bg-warning-secondary-pressed: #633b1d;
  --ww-color-bg-alert: #df330c;
  --ww-color-bg-alert-hover: #f2370d;
  --ww-color-bg-alert-pressed: #f34720;
  --ww-color-bg-alert-secondary: #53261d;
  --ww-color-bg-alert-secondary-hover: #5e2b21;
  --ww-color-bg-alert-secondary-pressed: #6a3025;
  --ww-color-bg-success: #0c6c4a;
  --ww-color-bg-success-hover: #0d7752;
  --ww-color-bg-success-pressed: #109365;
  --ww-color-bg-success-secondary: #1b3d2e;
  --ww-color-bg-success-secondary-hover: #1f4735;
  --ww-color-bg-success-secondary-pressed: #24513d;
  --ww-color-bg-binding: #5341b0;
  --ww-color-bg-binding-hover: #5b49bc;
  --ww-color-bg-binding-pressed: #6957c1;
  --ww-color-bg-binding-secondary: #322c62;
  --ww-color-bg-binding-secondary-hover: #38316d;
  --ww-color-bg-binding-secondary-pressed: #3d3678;
  --ww-color-content-primary: #fff;
  --ww-color-content-primary-hover: #cfcfcf;
  --ww-color-content-primary-pressed: #e8e8e8;
  --ww-color-content-secondary: #bfbfbf;
  --ww-color-content-secondary-hover: #dbdbdb;
  --ww-color-content-secondary-pressed: #bcc0c1;
  --ww-color-content-tertiary: #9e9e9e;
  --ww-color-content-tertiary-hover: #888f91;
  --ww-color-content-tertiary-pressed: #888f91;
  --ww-color-content-disabled: #606b6d;
  --ww-color-content-brand: #099af2;
  --ww-color-content-brand-hover: #099af2;
  --ww-color-content-brand-pressed: #099af2;
  --ww-color-content-brand-secondary: #6cc4f9;
  --ww-color-content-warning: #df9600;
  --ww-color-content-warning-hover: #df9600;
  --ww-color-content-warning-pressed: #df9600;
  --ww-color-content-brand-secondary-hover: #98d6fb;
  --ww-color-content-brand-secondary-pressed: #98d6fb;
  --ww-color-content-alert: #ff370a;
  --ww-color-content-warning-secondary: #f7ca6e;
  --ww-color-content-alert-hover: #ff370a;
  --ww-color-content-alert-pressed: #ff370a;
  --ww-color-content-warning-secondary-hover: #fada99;
  --ww-color-content-warning-secondary-pressed: #fada99;
  --ww-color-content-alert-secondary: #f99b86;
  --ww-color-content-success: #2aba7e;
  --ww-color-content-success-hover: #2aba7e;
  --ww-color-content-success-pressed: #2aba7e;
  --ww-color-content-alert-secondary-hover: #fbbfb1;
  --ww-color-content-alert-secondary-pressed: #fbbfb1;
  --ww-color-content-success-secondary: #77eebc;
  --ww-color-content-binding: #5341b0;
  --ww-color-content-binding-hover: #5341b0;
  --ww-color-content-binding-pressed: #5341b0;
  --ww-color-content-success-secondary-hover: #a0f3d0;
  --ww-color-content-success-secondary-pressed: #a0f3d0;
  --ww-color-content-binding-secondary: #b2b0fc;
  --ww-color-content-binding-secondary-hover: #cdc4fd;
  --ww-color-content-binding-secondary-pressed: #cdc4fd;
  --ww-color-content-onbg: #fff;
  --ww-color-content-onbg-secondary: #ffffffb8;
  --ww-color-content-onbg-tertiary: #ffffff80;
  --ww-color-content-brand-tertiary: #d5eefd;
  --ww-color-content-brand-tertiary-hover: #d5eefd;
  --ww-color-content-brand-tertiary-pressed: #d5eefd;
  --ww-color-content-warning-tertiary: #fff0d1;
  --ww-color-content-warning-tertiary-hover: #fff0d1;
  --ww-color-content-warning-tertiary-pressed: #fff0d1;
  --ww-color-content-alert-tertiary: #ffdad1;
  --ww-color-content-alert-tertiary-hover: #ffdad1;
  --ww-color-content-alert-tertiary-pressed: #ffdad1;
  --ww-color-content-success-tertiary: #daf7ea;
  --ww-color-content-success-tertiary-hover: #daf7ea;
  --ww-color-content-success-tertiary-pressed: #daf7ea;
  --ww-color-content-binding-tertiary: #e5e3f4;
  --ww-color-content-binding-tertiary-hover: #e5e3f4;
  --ww-color-content-binding-tertiary-pressed: #e5e3f4;
  --ww-color-border: #424242;
  --ww-color-border-hover: #4d4d4d;
  --ww-color-border-pressed: #575757;
  --ww-color-border-secondary: #575757;
  --ww-color-border-secondary-hover: #616161;
  --ww-color-border-secondary-pressed: #6b6b6b;
  --ww-color-border-tertiary: #71797a;
  --ww-color-border-tertiary-hover: #606b6d;
  --ww-color-border-tertiary-pressed: #606b6d;
  --ww-color-border-disabled: #606b6d;
  --ww-color-border-brand: #0c92e4;
  --ww-color-border-brand-hover: #0c98ed;
  --ww-color-border-brand-pressed: #0d9ef7;
  --ww-color-border-brand-secondary: #2b4f6e;
  --ww-color-border-brand-secondary-hover: #2f5678;
  --ww-color-border-brand-secondary-pressed: #335d82;
  --ww-color-border-success: #107e57;
  --ww-color-border-success-hover: #11875d;
  --ww-color-border-success-pressed: #129164;
  --ww-color-border-success-secondary: #2c5441;
  --ww-color-border-success-secondary-hover: #315e49;
  --ww-color-border-success-secondary-pressed: #376951;
  --ww-color-border-warning: #f4870b;
  --ww-color-border-warning-hover: #ff8d0b;
  --ww-color-border-warning-pressed: #ff8d0b;
  --ww-color-border-warning-secondary: #644226;
  --ww-color-border-warning-secondary-hover: #6e482a;
  --ww-color-border-warning-secondary-pressed: #784f2e;
  --ww-color-border-alert: #ee3a11;
  --ww-color-border-alert-hover: #f73c12;
  --ww-color-border-alert-pressed: #ff3e12;
  --ww-color-border-alert-secondary: #6e3a2f;
  --ww-color-border-alert-secondary-hover: #783f33;
  --ww-color-border-alert-secondary-pressed: #824538;
  --ww-color-border-binding: #5e4cb8;
  --ww-color-border-binding-hover: #6350c2;
  --ww-color-border-binding-pressed: #6854cc;
  --ww-color-border-binding-secondary: #46417c;
  --ww-color-border-binding-secondary-hover: #4c4787;
  --ww-color-border-binding-secondary-pressed: #524c91;
  --ww-shadow-small: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  --ww-shadow-medium: 0px 4px 8px -1px rgba(18, 18, 23, 0.36),
    0px 6px 16px -2px rgba(18, 18, 23, 0.36);
  --ww-shadow-large: 0px 8px 16px -2px rgba(0, 0, 0, 0.4),
    0px 12px 24px -4px rgba(0, 0, 0, 0.4);
}
