<div id="tsushima-container">
  <!-- Three.js will render here -->
</div>

<script type="module" src="/src/components/tsushima/src/main.js"></script>

<style>
  #tsushima-container {
    margin: 0;
    width: 400px;
    height: 400px;
    background-color: #000;

    /* background-image: url("public/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  }
</style>
