---
import Layout from "../layouts/Layout.astro";
import Illustration from "../components/Illustration.astro";
import WwComponents from "../components/WwComponents.astro";
import WwEditor from "../components/WwEditor.astro";
import logo1 from "../svg/logo-1.svg?raw";
import logo2 from "../svg/logo-2.svg?raw";
import logo3 from "../svg/logo-3.svg?raw";
---

<Layout title="Welcome to Astro.">
  <!-- Hero -->
  <section
    id="hero"
    class="h-[100vh] max-h-[1050px] pb-[24px] pt-[20px] overflow-hidden antialiased"
  >
    <div class="container px-8 h-full flex flex-row">
      <div
        class="flex flex-col gap-4 justify-between h-full w-1/2 z-10 text-sm"
      >
        <div class="container flex flex-row justify-start items-start gap-6">
          <a href="mailto:hi@ivanovicluka.co">hi@ivanovicluka.co</a>
          <a href="https://www.linkedin.com/in/lukaivanovic0/">LinkedIn</a>
          <a href="https://x.com/lukaivnvc">Twitter</a>
        </div>

        <div>
          <span class="text-lg text-neutral-700">Luka Ivanović © 2024</span>
          <h1 class="mb-10 mt-4">
            Software designer working on allowing <br /> everyone the freedom to
            build applications <br />fast and simple @ weweb.
          </h1>
          <span class="text-sm text-neutral-700">Worked with</span>
          <div class="flex flex-row gap-4 pb-2 pt-2">
            <Fragment set:html={logo1} />
            <Fragment set:html={logo2} />
            <Fragment set:html={logo3} />
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-4 justify-end h-full w-1/2 relative">
        <Illustration />
      </div>
    </div>
  </section>

  <WwEditor />
  <div id="dark-mode-trigger" class="mt-[50vh]">
    <!-- You can add content here if needed -->
    <WwComponents />

    <section>
      <div
        class="container h-[500px] flex flex-col justify-end items-center py-4"
      >
        <span class="text-[var(--color-text)]">Luka Ivanović © 2024</span>
      </div>
    </section>
  </div>

  <!-- Footer -->

  <script>
    const darkModeTrigger = document.getElementById("dark-mode-trigger");
    const body = document.body;

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            body.classList.add("dark-mode");
          } else {
            body.classList.remove("dark-mode");
          }
        });
      },
      { threshold: 0.1 }
    );

    if (darkModeTrigger) {
      observer.observe(darkModeTrigger);
    }
  </script>
</Layout>
