---
import Layout from "../layouts/Layout.astro";
import ProjectHeader from "../components/ProjectHeader.astro";
import WwComponents from "../components/WwComponents.astro";
import WwEditor from "../components/WwEditor.astro";
import WwAi from "../components/WwAi.astro";
import Tsushima from "../components/tsushima/Tsushima.astro";
import Divider from "../components/Divider.astro";
---

<Layout title="Home">
  <div class="h-[8px]"></div>
  <Divider />
  <section>
    <div class="container">
      <div
        class="inner-container h-[32px] border-b border-[#b8b8b8] flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="235"
          height="32"
          fill="none"
          viewBox="0 0 235 32"
        >
          <g clip-path="url(#a)">
            <path
              stroke="#B8B8B8"
              stroke-dasharray=".66 2.64"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M118.501 90.299c41.034 0 74.299-33.265 74.299-74.299 0-41.033-33.265-74.298-74.299-74.298-41.033 0-74.298 33.265-74.298 74.299 0 41.033 33.265 74.298 74.298 74.298Z"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-dasharray=".66 2.64"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M118.502 86.996c39.21 0 70.996-31.786 70.996-70.996 0-39.21-31.786-70.996-70.996-70.996-39.21 0-70.996 31.786-70.996 70.996 0 39.21 31.786 70.996 70.996 70.996Z"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-dasharray=".66 2.64"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M118.499 83.694c37.386 0 67.694-30.308 67.694-67.695 0-37.386-30.308-67.693-67.694-67.693-37.387 0-67.694 30.307-67.694 67.694 0 37.386 30.307 67.694 67.694 67.694Z"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-dasharray=".66 2.64"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M118.501 90.299c41.034 0 74.299-33.265 74.299-74.299 0-41.033-33.265-74.298-74.299-74.298-41.033 0-74.298 33.265-74.298 74.299 0 41.033 33.265 74.298 74.298 74.298Z"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-dasharray=".66 2.64"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M118.499 94.26c43.223 0 78.261-35.038 78.261-78.26 0-43.222-35.038-78.261-78.261-78.261-43.222 0-78.26 35.039-78.26 78.26 0 43.223 35.038 78.262 78.26 78.262Z"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-dasharray=".66 2.64"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M118.502 86.996c39.21 0 70.996-31.786 70.996-70.996 0-39.21-31.786-70.996-70.996-70.996-39.21 0-70.996 31.786-70.996 70.996 0 39.21 31.786 70.996 70.996 70.996Z"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M200.987 16c0 45.554-36.929 82.484-82.484 82.484-45.555 0-82.484-36.93-82.484-82.484 0-45.555 36.93-82.484 82.484-82.484 45.555 0 82.484 36.929 82.484 82.483Z"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M219.477 16c0 55.767-45.208 100.976-100.976 100.976S17.525 71.767 17.525 16c0-55.767 45.209-100.976 100.976-100.976 55.768 0 100.976 45.209 100.976 100.976Z"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width=".8"
              d="m103.342-70.444-5.66 1.195-1.174-4.814 1.907-.418.52 2.386 2.036-.402-.98-4.886-4.088.91-4.194 1.149-3.808 1.182 1.62 4.72 1.828-.582-.772-2.375 1.855-.617 1.414 4.808-5.34 1.723-5.34 2.145-1.992-4.537 1.805-.743.927 2.26 1.936-.75-1.815-4.64-3.867 1.605-3.931 1.86-3.545 1.825 2.415 4.367 1.699-.891-1.172-2.204 1.719-.93 2.227 4.489-4.962 2.623-4.89 3.04-2.75-4.123 1.649-1.045 1.305 2.065 1.776-1.074-2.593-4.256-3.53 2.253-3.548 2.514-3.174 2.413 3.136 3.881 1.519-1.172-1.537-1.968 1.531-1.214 2.974 4.034-4.444 3.46-4.299 3.86-3.425-3.58 1.441-1.317 1.645 1.805 1.562-1.367-3.294-3.74-3.084 2.834-3.057 3.094-2.705 2.929 3.765 3.276 1.29-1.42-1.855-1.67 1.297-1.461 3.63 3.454-3.737 4.134-3.531 4.496-3.993-2.935 1.193-1.545 1.932 1.494 1.302-1.616-3.89-3.114-2.549 3.323-2.475 3.575-2.159 3.352 4.274 2.577 1.026-1.621-2.116-1.324 1.024-1.664 4.173 2.775-2.987 4.755-2.717 5.08-4.441-2.197.905-1.729 2.163 1.136 1.001-1.818-4.372-2.39-1.932 3.715-1.817 3.95-1.543 3.677 4.656 1.795.73-1.775-2.315-.936.72-1.817 4.59 2.009-2.121 5.22-1.797 5.494-4.756-1.388.59-1.861 2.328.741.67-1.964-4.723-1.592-1.255 3.995-1.101 4.207-.879 3.889 4.898.956.409-1.875-2.442-.518.392-1.914 4.87 1.177L31.97.923l-.811 5.687-4.926-.544.26-1.935 2.42.327.319-2.05-4.927-.75-.543 4.153-.355 4.334-.192 3.982 4.99.092.077-1.916-2.494-.088.054-1.953 5.001.315-.21 5.634.187 5.781-4.944.32-.081-1.95 2.44-.099-.042-2.075-4.982.118.186 4.184.403 4.33.503 3.955 4.93-.776-.257-1.901-2.472.347-.285-1.933 4.98-.558.768 5.557 1.185 5.633-4.814 1.174-.419-1.907 2.387-.521-.402-2.036-4.886.98.91 4.089 1.148 4.194 1.182 3.807 4.72-1.62-.582-1.827-2.374.77-.617-1.853 4.807-1.414 1.724 5.338 2.146 5.34-4.537 1.993-.743-1.806 2.26-.927-.75-1.935-4.641 1.814 1.606 3.868 1.86 3.93 1.825 3.546 4.367-2.415-.891-1.699-2.205 1.172-.93-1.72 4.49-2.227 2.622 4.962 3.04 4.89-4.123 2.75-1.045-1.649L42.35 64.9l-1.074-1.776-4.256 2.593 2.253 3.53 2.514 3.548 2.413 3.174 3.882-3.137-1.173-1.518-1.967 1.537-1.214-1.532 4.034-2.973 3.46 4.445 3.86 4.3-3.58 3.425-1.317-1.442 1.805-1.644-1.367-1.562-3.739 3.294 2.834 3.084 3.093 3.056 2.929 2.705 3.276-3.764-1.42-1.291-1.669 1.856-1.462-1.297 3.455-3.63 4.133 3.736 4.496 3.53-2.935 3.993-1.546-1.192 1.494-1.932-1.616-1.302-3.114 3.89 3.324 2.548 3.575 2.476 3.352 2.159 2.577-4.274-1.621-1.026-1.324 2.116-1.664-1.025 2.775-4.172 4.755 2.987 5.08 2.716-2.197 4.442-1.73-.906 1.136-2.162-1.817-1.002-2.391 4.373 3.715 1.932 3.951 1.817 3.676 1.543 1.795-4.657-1.774-.729-.937 2.314-1.816-.719 2.008-4.592 5.22 2.123 5.495 1.797-1.39 4.756-1.86-.591.741-2.327-1.964-.669-1.592 4.722 3.995 1.255 4.207 1.101 3.889.879.956-4.898-1.874-.408-.52 2.441-1.913-.392 1.177-4.871 5.475 1.175 5.686.811-.543 4.925-1.935-.259.327-2.421-2.051-.318-.749 4.927 4.152.543 4.334.355 3.983.191.092-4.989-1.917-.078-.087 2.495-1.953-.055.315-5.001 5.634.209 5.781-.188.321 4.945-1.951.08-.098-2.44-2.075.042.117 4.982 4.184-.186 4.33-.403 3.955-.503-.775-4.929-1.902.256.347 2.472-1.933.286-.558-4.98 5.558-.769 5.633-1.185 1.174 4.814-1.907.418-.521-2.386-2.036.402.981 4.886 4.088-.91 4.194-1.148 3.808-1.183-1.62-4.72-1.828.583.771 2.374-1.854.617-1.414-4.807 5.338-1.724 5.341-2.145 1.992 4.537-1.806.743-.927-2.26-1.935.75 1.814 4.641 3.868-1.606 3.931-1.859 3.545-1.826-2.415-4.367-1.699.891 1.172 2.205-1.719.929-2.228-4.489 4.962-2.623 4.891-3.04 2.749 4.123-1.649 1.045-1.305-2.064-1.776 1.074 2.593 4.256 3.53-2.253 3.548-2.514 3.174-2.413-3.136-3.882-1.519 1.173 1.537 1.967-1.531 1.214-2.973-4.034 4.444-3.46 4.3-3.86 3.426 3.581-1.442 1.317-1.645-1.806-1.562 1.367 3.295 3.74 3.083-2.834 3.057-3.094 2.705-2.928-3.765-3.277-1.291 1.42 1.856 1.67-1.296 1.461-3.631-3.454 3.737-4.133 3.53-4.497 3.993 2.935-1.193 1.546-1.932-1.495-1.302 1.617 3.891 3.114 2.548-3.324 2.476-3.575 2.158-3.352-4.274-2.577-1.026 1.621 2.116 1.324-1.024 1.664-4.172-2.775 2.986-4.755 2.716-5.08 4.441 2.197-.905 1.73-2.163-1.137-1.001 1.818 4.372 2.39 1.932-3.715 1.817-3.95 1.543-3.677-4.656-1.795-.729 1.775 2.314.936-.72 1.817-4.591-2.008 2.122-5.22 1.797-5.495 4.757 1.389-.591 1.86-2.327-.741-.67 1.964 4.723 1.593 1.254-3.996 1.102-4.207.879-3.889-4.898-.956-.409 1.875 2.442.518-.393 1.915-4.87-1.178 1.174-5.474.811-5.688 4.926.544-.26 1.935-2.42-.327-.319 2.05 4.927.75.543-4.152.355-4.334.192-3.983-4.99-.092-.077 1.917 2.494.087-.054 1.953-5.001-.315.209-5.635-.188-5.78 4.945-.32.081 1.95-2.441.098.043 2.075 4.982-.117-.186-4.184-.403-4.33-.503-3.955-4.93.775.256 1.902 2.472-.347.286 1.933-4.98.557-.769-5.557-1.184-5.632 4.814-1.174.418 1.907-2.387.52.402 2.036 4.886-.98-.909-4.088-1.149-4.194-1.182-3.808-4.72 1.62.582 1.827 2.375-.77.616 1.853-4.807 1.414-1.723-5.338-2.145-5.34 4.536-1.992.744 1.805-2.26.927.749 1.936 4.642-1.815-1.606-3.867-1.86-3.931-1.825-3.545-4.367 2.415.891 1.699 2.204-1.172.93 1.719-4.489 2.227-2.623-4.962-3.04-4.89 4.122-2.75 1.045 1.65-2.064 1.305 1.074 1.775 4.256-2.592-2.253-3.53-2.514-3.549-2.413-3.173-3.882 3.136 1.173 1.518 1.967-1.536 1.214 1.53-4.034 2.974-3.46-4.444-3.859-4.3 3.58-3.426 1.316 1.442-1.805 1.645 1.367 1.562 3.739-3.295-2.833-3.084-3.094-3.056-2.929-2.705-3.276 3.765 1.419 1.29 1.67-1.855 1.462 1.296-3.454 3.63-4.133-3.736-4.496-3.53 2.934-3.993 1.546 1.193-1.494 1.932 1.616 1.302 3.114-3.89-3.324-2.549-3.575-2.476-3.352-2.158-2.576 4.274 1.621 1.026 1.324-2.116 1.663 1.024-2.775 4.173-4.754-2.987-5.08-2.717 2.196-4.442 1.73.906-1.136 2.163 1.818 1.001 2.391-4.373-3.716-1.931-3.951-1.817-3.676-1.544-1.795 4.657 1.775.729.936-2.314 1.816.72-2.008 4.59-5.221-2.121-5.495-1.798 1.389-4.756 1.861.59-.741 2.328 1.964.67 1.592-4.723-3.995-1.255-4.207-1.1-3.889-.88-.956 4.898 1.874.409.519-2.442 1.914.392-1.177 4.87-5.475-1.174-5.688-.811.543-4.925 1.936.259-.327 2.42 2.05.32.75-4.928-4.153-.543-4.334-.355-3.982-.191-.093 4.99 1.917.077.088-2.495 1.953.055-.315 5-5.633-.207-5.779.188-.32-4.944 1.95-.081.099 2.44 2.075-.042-.118-4.982-4.183.186-4.33.403-3.955.503.775 4.93 1.901-.257-.347-2.472 1.933-.285.558 4.98-5.585.78"
            ></path>
            <path
              fill="#B8B8B8"
              fill-rule="evenodd"
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M96.188 11.265c-5.051 0-6.146 3.112-10.77 3.112-.484 0-.78-.366-1.178-.366-.542 0-.507.338-.507.577 0 .238.62.372.62.632s-.22.247-.22.465c0 .217 3.37 1.692 4.933 3.62.493.61 2.64.71 3.876.715 4.96.017 3.715-1.295 7.947-1.295 2.198 0 1.666 1.004 3.524 1.004.617 0 .634.28 1.116.283.355.002.492-.105.492-.982 0-3.843-6.183-7.765-9.833-7.765Zm41.95-.001c5.051 0 6.146 3.113 10.77 3.113.484 0 .779-.366 1.179-.366.541 0 .506.338.506.576 0 .239-.62.373-.62.633s.22.247.22.464c0 .218-3.371 1.693-4.933 3.621-.493.61-2.64.71-3.876.715-4.959.017-3.715-1.296-7.947-1.296-2.198 0-1.666 1.005-3.523 1.005-.618 0-.635.28-1.117.283-.355.002-.492-.105-.492-.982 0-3.844 6.184-7.766 9.833-7.766Z"
              clip-rule="evenodd"></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M87.037 12.121c3.956.099 4.099-2.062 8.024-2.876 4.169-.865 8.837 1.79 9.617 2.177m-22.6-2.575c2.01-1.829 4.715-1.084 5.19-.992-2.705.727-3.148.86-4.199 1.977m4.396-3.716c4.313-2.787 4.751-.634 6.49-.944 1.066-.19 1.15-.794 6 .744.383.121 2.653.842 4.914 1 2.305.162 2.44-.244 3.526-1.105"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M97.223 5.17c.683.086 4.62.744 6.374-.998m1.315 2.8c.189.592.156.715 1.038 1.054 1.345.517 1.383.266 2.738-.257m6.277-3.946c.077 1.33.388 1.466-.502 2.466-.803.902-2.206 1.576-2.867 1.99m-4.937 5.787c-.158 1.049.559.796.925 1.801.586 1.611-.187 3.072-.311 3.307.467-.288 1.482-.588 2.501-2.491 1.786-3.335 1.448-5.166-1.994-6.787"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M108.205 12.094c.337.229.933 1.468 1.034 1.714.746 1.815.612 1.903.665 2.372m2.841-1.054c.116.267.79 1.827-.221 3.642-1.412 2.531-.655 3.735-.227 4.99m11.428-8.139c-.393.651-1.873 1.99-.79 4.673 1.022 2.533 2.134 3.409-.425 8.504m-3.547-33.732c.428.647 1.645 3.525 1.931 6.757.261 2.938-.371 3.086.981 5.68"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M121.039 4.62c.245.549.126.944 2.734 2.336m1.145 5.01c.112-2.023 1.84-2.922 2.103-3.06"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M125.377 10.558c.471-.196.46-.406 1.317-.208m3.279 3.52c1.356-2.874 2.176-3.327 6.024-4.157 4.759-1.027 9.256 1.808 9.946 2.243"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M128.436 12.706c1.978-.202 1.792-.84 2.966-1.271m-1.644-.654c1.058.023 1.069-.048 2.054.354m-7.83 7.153c-.055 1.127.098 1.17-.63 2.528m1.457.374c.041 1.772.085 1.846-.661 2.964m-29.691-2.671c3.867 1.018 3.988-1.054 7.883-.092m31.68.113c1.446-.715 3.567.3 4.456.496 2.241.497 4.084-.311 4.675-.43m-4.829 2.816c1.579-.86 1.656-.064 3.825.177m2.578-1.164c.721-.068 1.024-.226 2.243.13m-11.62-16.957c3.904-2.211 6.207-3.578 8.675-3.052 4.887 1.042 4.014 3.433 8.974 4.001"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M142.715 4.675c1.317-.068 1.823.15 2.588-.57m-1.741 2.297c1.945-.857 2.573.156 3.523-1.475M126.422 7c2.007 1.326 4.974-.302 5.208-.502 2.31-1.971 2.552-2.648 5.296-2.638 1.757.006 1.983.541 2.092.635"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M127.07 4.845c2.886.927 3.881.951 5.61.717m-2.137-3.1c.909 1.205 1.347 1.654 2.948 2.25M57.2 28.158c-.14 2.547.345 4.353.861 8 .522 3.685 2.522 6.966 2.857 7.515"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M60.54 18.725c-1.786.818-4.473 3.186-4.684 4.77-.375 2.811 1.03 6.852 1.515 7.83 1.691 3.415 3.68 3.854 5.077 4.326m15.518 1.754c2.405-2.644 2.516-2.713 2.895-6.329.404-3.858-4.38-6.622-6.62-6.02-.086.023-2.545.46-2.362 2.635.078.93 1.48 1.251 1.575.246"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M66.31 24.031c.11 4.294 1.748 7.323 2.756 7.663 2.73.919 4.313-.074 4.628-.27 1.464-.918 1.91-3.624 1.968-3.974"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M73.003 25.274c-.78-.813-2.626.654-2.328 3.532.142 1.37 2.492.965 3.086-.998"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M65.059 27.118c.376 4.563.271 5.89 5.04 7.248 1.761.501 5.62.057 6.431-.71 2.999-2.83 1.68-6.957 1.492-7.543"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M78.44 26.275c3.053 6.845-2.26 9.504-3.792 10.625M63.856 20.509c-3.577 7.038-1.064 9.375-.989 9.503 1.645 2.799 4.724 3.75 8.839 5.6M68.413 6.44c-2.747 1.628-3.99 1.923-2.302 4.638 1.261 2.028 4.018 4.348.382 8.044"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M63.236 14.102c.166-.16 1.05-1.013 2.734-.91 1.113.067 1.986 1.185 2.109 1.342m.101-3.757c1.194 1.138 2.057 2.578.429 4.157"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M71.031 9.433c1.74 3.088 4.763 7.293-3.957 11.308-3.36 1.548-2.89 2.203-3.562 5.853"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M72.388 10.973c.866.822 2.856 4.13 1.339 5.77-1.536 1.66-2.9 1.534-2.853 4.688m-.17-2.436c-2.22 1.51-3.009 2.152-3.071 3.91M79.978 7.801c-2.23 2.746.917 4.283 1.439 8.507.232 1.88-.634 6.899-7.882 5.156"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M80.302 20.662c.056.28.54 2.706.069 3.568-.472.863-2.167 1.164-2.695 1.33m7.778-30.674C83.641.673 73.77-2.353 73.692 5.159c-.044 4.164 5.665 3.548 2.7 10.965-.059.146-.553 1.383-.864 1.768l-1.003.983c4.071-1.137 4.99-.92 5.954-5.213M66.198.291c-1.922 6.686-7.59 4.528-6.424 11.002.272 1.515 2.596 6.457.365 10.558-1.588 2.918-2.857 6.682 1.396 10.707"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M75.816 8.852c.91-3.135.804-6.774 4.49-7.68 4.138-1.02 7.823-.8 10.542-1.729 6.072-2.075-.042-16.492 5.472-17.31 3.435-.51 17.003 10.113 17.359-3.842"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M78.879 4.634C80.489 2.526 84.427.73 86.68.72c3.323-.017 4.159 1.143 5.68-1.81M67.362-8.16c-.688-1.013-6.11-1.057-6.307-.255C59.67-2.741 64.118 2.2 64.682 2.972"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M71.134 2.332c-5.822.222-5.673-8.698-2.506-11.851 1.44-1.434 1.118-6.228 5.479-8.749 2.352-1.36 5.095-1.598 5.628-1.829.594-.257 4.517-6.93 13.77-9.823 2.163-.676 3.846 1.46 15.976-1.502m41.984 22.436c5.48-2.865 1.95 10.815 9.83 9.883 1.327-.157 2.253-1.157 2.426-1.48.288-.538-.346-2.425-.414-2.627 2.988 3.439.477 6.388-4.919 3.63-5.746-2.938-3.094-5.498-5.182-8.795m-4.94 8.31c5.418 4.698 10.374 9.708 4.373 17.89-2.331 3.177-1.416 4.783.07 6.946 2.128 3.098 3.383 3.311 6.567 4.825"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M150.383.071c4.331 4.003 4.531 4.34 5.228 9.82"></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M153.811 1.661c2.642 3.213 2.676 3.422 2.076 7.558-.72 4.969 5.017 6.89 9.109 3.685 2.831-2.217 3.846-8.96-2.607-7.067"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M163.491 7.603c.03 2.986-2.913 1.371-3.018.784-1.209-6.751 10.148-5.827 10.289-.212.08 3.161-2.925 4.83-3.226 5.083M154.73 27.24c.744 4.954 10.786 4.418 3.926 10.667-.598.545-1.378 1.885-1.137 2.934.762 3.312 3.246 2.297 4 8.104"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M156.789 22.376c2.131 5.88 6.508 2.549 7.938 7.827.858 3.167-.09 4.973-.29 5.353-.508.969-2.722 2.175-2.988 2.32 2.093-.54 4.626-.916 5.527-3.127 1.852-4.542-.642-5.566-.971-5.898m-7.812-14.862c-1.986 1.841-6.915 5.42-5.08 10.681"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M154.988 13.916c.215 5.34-2.274 6.978-.507 10.223 2.017 3.704 5.111 1.117 8.352 8.485m2.887-16.802c-1.419 2.259-4.306 6.499.679 8.582m7.598-29.416c2.624-.277 3.444-.195 4.611-1.314 1.604 5.393 1.326 7.014-2.707 10.864-.411-4.724-2.733-7.4-3.18-7.916"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M175.767 4.142c.468 2.08-.549 3.257-2.314 6.083"></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M175.66 6.505c2.83 3.83-.994 11.095 3.047 17.278.756 1.157 5.51 6.202 1.315 11.389-3.667 4.535-13.711 3.096-12.24 8.119.217.741 5.081 2.291 5.218 6.035.13 3.547-2.498 3.025-10.025 5.657"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M175.813 26.637c5.227 15.391-11.486 8.564-12.757 14.696-.793 3.823 5.032 1.851 7.774 6.566.523.898-1.223 2.828-1.403 3.026-3.1 3.427-2.592 3.817-5.793 7.127m10.583-40.699c-.643 3.368 1.364 3.338 2.867 3.773"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M176.618 11.488c-.862 3.779-4.54 4.713-5.176 6.708-.976 3.06 2.046 1.484 6.454 6.419"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M176.906 11.322c-2.636 5.065-6.14 3.18-10.024 6.47-1.824 1.545-.16 4.68 1.391 5.504 1.134.603 8.959 2.83 13.017 8.797"
            ></path>
            <path
              stroke="#B8B8B8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".8"
              d="M169.156 18.12c-.775 2.772-.978 3.239.783 5.682m.313-3.825c.051.505.244 2.405 3.23 5.47m-92.345 5.421c1.51 5.986-1.6 10.68 4.118 21.027 3.22 5.827 3.312 8.63 12.86 17.99 9.684 9.494 14.034 9.764 19.678 10.232"
            ></path>
            <path
              fill="#fff"
              fill-rule="evenodd"
              d="M95.76 13.315c-.594.06-2.098-.09-3.022 1.514-.183.316-1.71 2.963 3.285 3.174 1.072.045 3.114.095 3.633-2.571.304-1.57-1.787-2.164-3.896-2.117Z"
              clip-rule="evenodd"></path>
            <path
              fill="#B8B8B8"
              fill-rule="evenodd"
              d="M95.76 13.077c1.32-.03 2.631.194 3.403.722.574.393.873.946.73 1.678-.222 1.147-.716 1.82-1.29 2.22-.853.591-1.903.573-2.586.544-2.111-.09-3.11-.622-3.547-1.213-.7-.945-.057-2.104.066-2.318.984-1.706 2.573-1.568 3.204-1.632a.236.236 0 0 1 .02-.001Zm.02.475h-.002c-.562.054-1.969-.097-2.83 1.395-.05.087-.21.365-.288.718-.072.327-.071.724.192 1.08.391.526 1.301.941 3.185 1.02.605.026 1.54.065 2.294-.459.495-.344.904-.933 1.096-1.92.13-.667-.27-1.114-.907-1.402-.719-.325-1.727-.453-2.74-.432Z"
              clip-rule="evenodd"></path>
            <path
              fill="#fff"
              fill-rule="evenodd"
              d="M138.784 13.455c-.434-.036-3.843-.621-3.799 1.947.061 3.66 5.543 3.144 6.51 1.687.574-.864.18-1.232.112-1.453-.631-2.032-2.728-2.134-2.823-2.18Z"
              clip-rule="evenodd"></path>
            <path
              fill="#B8B8B8"
              fill-rule="evenodd"
              d="M138.858 13.229c.02.003.132.021.24.042.65.123 2.194.549 2.736 2.294.014.044.045.095.075.157.067.139.134.315.131.548-.003.242-.082.551-.347.95-.215.324-.624.614-1.152.825-.744.298-1.725.447-2.664.355-1.617-.158-3.097-1.021-3.13-2.994-.01-.578.14-1.011.383-1.338.36-.485.931-.737 1.531-.85.929-.176 1.919-.019 2.143 0a.241.241 0 0 1 .054.01Zm-.12.456.026.007c-.21-.017-1.141-.171-2.015-.007-.481.091-.948.278-1.237.666-.189.255-.297.596-.29 1.046.029 1.686 1.32 2.395 2.702 2.53.86.084 1.759-.051 2.44-.324.423-.169.761-.387.933-.646.194-.293.265-.515.267-.693.002-.171-.062-.292-.109-.386a1.344 1.344 0 0 1-.076-.172c-.467-1.506-1.809-1.861-2.37-1.968-.121-.023-.214-.04-.271-.053Z"
              clip-rule="evenodd"></path>
          </g>
          <defs>
            <clipPath id="a">
              <path fill="#fff" d="M.5 0h234v32H.5z"></path>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="inner-container min-h-[64vh] py-6">
        <div class="flex items-center justify-between text-primary">
          <!-- <a href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="10"
              fill="none"
              viewBox="0 0 28 10"
            >
              <path fill="currentColor" d="M24 7V6h4v1h-4Z"></path>
              <path fill="currentColor" d="M24 7V6h4v1h-4ZM0 7V6h4v1H0Z"></path>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M18 3h6v4h-1V4h-4v3h-5V6h4V3Zm-8 0H4v4h1V4h4v3h5V6h-4V3Z"
                clip-rule="evenodd"></path>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M27 1H1v8h26V1ZM0 0v10h28V0H0Z"
                clip-rule="evenodd"></path>
            </svg>
          </a> -->

          <div class="w-full flex flex-row gap-6">
            <a href="/">Index</a>
            <a href="/snippets">Snippets</a>
            <a href="/contact">Contact</a>
          </div>
        </div>

        <div class="flex flex-col w-full max-w-[620px] mt-[100px]">
          <span class="text-neutral-500 uppercase text-[12px] tracking-wider"
            >Luka Ivanovic</span
          >
          <h1 class="mb-8 mt-2">
            Software developer and designer looking to make the world a better
            place through technology
          </h1>
          <div class="max-w-[320px]">
            <span class="text-neutral-500 uppercase text-[12px] tracking-wider"
              >currently</span
            >
            <p>
              Working at weweb on enabling anyone to build applications through
              a visual interface.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Divider />

  <WwEditor />

  <Divider />

  <WwAi />

  <Divider />

  <WwComponents />

  <Divider />

  <section>
    <div class="container">
      <div class="inner-container pb-[200px]">
        <ProjectHeader
          name="Snippets"
          showBadge={false}
          description="A collection of snippets that I've written over the years."
          accentColor="#341D65"
        />

        <div>
          <div class="masonry">
            <div class="masonry-item">
              <Tsushima />
              <div class="text-black/80 text-[10px] pt-2 uppercase">
                threejs dissolve effect from Ghost of Tsushima
              </div>
            </div>
            <div class="masonry-item">
              <img
                src="/branding-04.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>

            <div class="masonry-item">
              <img
                src="/branding-01.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
            <div class="masonry-item">
              <img
                src="/branding-02.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
            <div class="masonry-item">
              <img
                src="/branding-03.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>

            <div class="masonry-item">
              <img
                src="/GSH-TCpWYAAr_Jt.jpeg"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
          </div>
          <div class="w-full flex justify-center">
            <a href="/snippets" class="text-primary underline"
              >See all snippets</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <Divider />
  <div class="h-12"></div>
</Layout>

<style>
  .masonry {
    column-count: 3;
    column-gap: 16px;
  }

  .masonry-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    .masonry {
      column-count: 2;
    }
  }

  @media (max-width: 480px) {
    .masonry {
      column-count: 1;
    }
  }
</style>
