---
import Layout from "../layouts/Layout.astro";
import Illustration from "../components/Illustration.astro";
import IllustrationThreeJs from "../components/IllustrationThreeJs.astro";
import WwComponents from "../components/WwComponents.astro";
import WwEditor from "../components/WwEditor.astro";
import logo1 from "../svg/logo-1.svg?raw";
import logo2 from "../svg/logo-2.svg?raw";
import logo3 from "../svg/logo-3.svg?raw";
---

<Layout title="Welcome to Astro.">
  <section class="absolute top-0 left-0 w-full">
    <div class="container h-[46px] flex flex-row items-center gap-6">
      <a href="mailto:hi@ivanovicluka.co">hi@ivanovicluka.co</a>
      <a href="https://www.linkedin.com/in/lukaivanovic0/">LinkedIn</a>
      <a href="https://x.com/lukaivnvc">Twitter</a>
    </div>
  </section>
  <!-- Hero -->
  <section
    id="hero"
    class="lg:h-[100dvh] max-h-[920px] pb-[24px] pt-[16px] overflow-hidden relative"
  >
    <div
      class="container h-full flex flex-col-reverse justify-stretch xl:flex-row gap-12 lg:gap-4"
    >
      <div class="flex flex-col gap-4 justify-end w-full xl:w-1/2 z-10">
        <div>
          <span class="text-md text-neutral-700">Luka Ivanović © 2024</span>
          <h1 class="mb-10 mt-4 max-w-[610px]">
            Software designer working at <a
              class="text-neutral-600 italic"
              href="https://weweb.io">weweb</a
            > on enabling anyone to turn their ideas into applications.
          </h1>
          <span class="text-neutral-700">Worked with</span>
          <div class="flex flex-row gap-4 pb-2 pt-2">
            <div class="h-[26px] md:h-[32px]">
              <Fragment set:html={logo1} />
            </div>
            <div class="h-[26px] md:h-[32px]">
              <Fragment set:html={logo2} />
            </div>
            <div class="h-[26px] md:h-[32px]">
              <Fragment set:html={logo3} />
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-full flex-grow xl:w-1/2 h-[400px] lg:h-full relative overflow-hidden border border-[#b3b3b3]"
      >
        <!-- <IllustrationThreeJs /> -->
        <Illustration />
      </div>
    </div>
  </section>

  <WwEditor />

  <div id="dark-mode-trigger" class="mt-[30vh]">
    <!-- You can add content here if needed -->
    <WwComponents />

    <section>
      <div
        class="container h-[500px] flex flex-col justify-end items-center py-8"
      >
        <span class="text-[var(--color-secondary)]">Luka Ivanović © 2024</span>
      </div>
    </section>
  </div>

  <script>
    const darkModeTrigger = document.getElementById("dark-mode-trigger");
    const body = document.body;

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            body.classList.add("dark-mode");
          } else {
            body.classList.remove("dark-mode");
          }
        });
      },
      { threshold: 0.1 }
    );

    if (darkModeTrigger) {
      observer.observe(darkModeTrigger);
    }
  </script>
</Layout>
