---
import Layout from "../layouts/Layout.astro";
import ProjectHeader from "../components/ProjectHeader.astro";
import WwComponents from "../components/WwComponents.astro";
import WwEditor from "../components/WwEditor.astro";
import WwAi from "../components/WwAi.astro";
import Tsushima from "../components/tsushima/Tsushima.astro";
import Divider from "../components/Divider.astro";
import pattern from "../svg/pattern.svg?raw";
---

<Layout title="Home">
  <div class="h-[8px]"></div>

  <Divider />

  <section>
    <div class="container">
      <div class="inner-container pt-6 pb-[120px] flex flex-col gap-[80px]">
        <div class="w-full flex justify-between text-primary">
          <div>
            <a href="/">Luka Ivanovic </a>
            <br />
            <span class="opacity-60">Product Designer</span>
          </div>

          <div class="text-right">
            <a href="/">Contact me</a>
            <br />
            <a href="/" class="opacity-60">@lukaivnvc</a>
          </div>
        </div>

        <div class="flex flex-col w-full max-w-[1150px]">
          <h1 class="mb-2 mt-2">
            Software designer and developer looking to make a change through
            technology.
            <span class="opacity-50 text-regular">
              Currently working at WeWeb on enabling anyone to build
              applications without coding.
            </span>
          </h1>

          <div class="mt-8 max-w-[472px]">
            <span class="text-[10px] uppercase">[ About ]</span>

            <a href="/" class="opacity-70 mt-2">
              I enjoy being active and playing sports. I love watching and
              playing football. I also like to travel and explore new places. I
              also like to cook and bake.
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <WwEditor />

  <Divider />

  <WwAi />

  <Divider />

  <WwComponents />

  <Divider />

  <section>
    <div class="container">
      <div class="inner-container pb-[200px]">
        <ProjectHeader
          name="Snippets"
          showBadge={false}
          description="A collection of snippets that I've written over the years."
          accentColor="#341D65"
        />

        <div>
          <div class="masonry">
            <div class="masonry-item">
              <Tsushima />
              <div class="text-black/80 text-[10px] pt-2 uppercase">
                threejs dissolve effect from Ghost of Tsushima
              </div>
            </div>
            <div class="masonry-item">
              <img
                src="/branding-04.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>

            <div class="masonry-item">
              <img
                src="/branding-01.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
            <div class="masonry-item">
              <img
                src="/branding-02.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
            <div class="masonry-item">
              <img
                src="/branding-03.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>

            <div class="masonry-item">
              <img
                src="/GSH-TCpWYAAr_Jt.jpeg"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
          </div>
          <div class="w-full flex justify-center">
            <a href="/snippets" class="text-primary underline"
              >See all snippets</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <Divider />
  <div class="h-12"></div>
</Layout>

<style>
  .masonry {
    column-count: 3;
    column-gap: 16px;
  }

  .masonry-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    .masonry {
      column-count: 2;
    }
  }

  @media (max-width: 480px) {
    .masonry {
      column-count: 1;
    }
  }
</style>
