---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Coming Soon">
  <main class="h-screen flex items-center justify-center">
    <div class="text-center">
      <p class="uppercase">Coming Soon</p>
    </div>
  </main>
</Layout>
