---
import Layout from "../layouts/Layout.astro";
import Illustration from "../components/Illustration.astro";
import IllustrationThreeJs from "../components/IllustrationThreeJs.astro";
import WwComponents from "../components/WwComponents.astro";
import WwEditor from "../components/WwEditor.astro";
import logo1 from "../svg/logo-1.svg?raw";
import logo2 from "../svg/logo-2.svg?raw";
import logo3 from "../svg/logo-3.svg?raw";
---

<Layout title="Welcome to Astro.">
  <section>
    <div
      class="container h-[60px] flex flex-row items-center gap-6 text-xs lg:text-sm"
    >
      <a href="mailto:hi@ivanovicluka.co">hi@ivanovicluka.co</a>
      <a href="https://www.linkedin.com/in/lukaivanovic0/">LinkedIn</a>
      <a href="https://x.com/lukaivnvc">Twitter</a>
    </div>
  </section>
  <!-- Hero -->
  <section
    id="hero"
    class="h-[calc(100dvh-60px)] max-h-[920px] pb-[24px] pt-[20px] overflow-hidden relative"
  >
    <div class="container h-full flex flex-col-reverse xl:flex-row">
      <div
        class="flex flex-col gap-4 justify-end h-full w-full lg:w-1/2 z-10 text-sm"
      >
        <div>
          <span class="text-md text-neutral-700">Luka Ivanović © 2024</span>
          <h1 class="mb-10 mt-4 max-w-[640px]">
            Software designer working on allowing everyone the freedom to build
            applications fast and simple @ <a href="https://weweb.io">weweb</a>.
          </h1>
          <span class="text-sm text-neutral-700">Worked with</span>
          <div class="flex flex-row gap-4 pb-2 pt-2">
            <Fragment set:html={logo1} />
            <Fragment set:html={logo2} />
            <Fragment set:html={logo3} />
          </div>
        </div>
      </div>
      <div
        class="flex flex-col gap-4 justify-end h-full w-full lg:w-1/2 border border-neutral-300"
      >
        <!-- <IllustrationThreeJs /> -->
        <!-- <Illustration /> -->
      </div>
    </div>
  </section>

  <WwEditor />

  <div id="dark-mode-trigger" class="mt-[30vh]">
    <!-- You can add content here if needed -->
    <WwComponents />

    <section>
      <div
        class="container h-[500px] flex flex-col justify-end items-center py-8"
      >
        <span class="text-[var(--color-secondary)] text-sm"
          >Luka Ivanović © 2024</span
        >
      </div>
    </section>
  </div>

  <script>
    const darkModeTrigger = document.getElementById("dark-mode-trigger");
    const body = document.body;

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            body.classList.add("dark-mode");
          } else {
            body.classList.remove("dark-mode");
          }
        });
      },
      { threshold: 0.1 }
    );

    if (darkModeTrigger) {
      observer.observe(darkModeTrigger);
    }
  </script>
</Layout>
