---
import Layout from "../layouts/Layout.astro";
import ProjectHeader from "../components/ProjectHeader.astro";
import WwComponents from "../components/WwComponents.astro";
import WwEditor from "../components/WwEditor.astro";
import WwAi from "../components/WwAi.astro";
import Tsushima from "../components/tsushima/Tsushima.astro";
import Divider from "../components/Divider.astro";
import apollon from "../svg/apollon.svg?raw";
import "../styles/global.css";
---

<Layout title="Home">
  <div class="h-[8px]"></div>

  <Divider />

  <section>
    <div class="container">
      <div class="inner-container pt-6 pb-[120px] flex flex-col gap-[80px]">
        <div
          class="w-full flex flex-col md:flex-row justify-start md:justify-between gap-4 text-primary"
        >
          <div class="leading-4">
            <span class="text-xs opacity-60"> Product Designer </span>
            <br />
            <a href="/">Luka Ivanovic </a>
          </div>

          <div
            class="flex flex-col md:flex-row items-startmd:items-center gap-4 md:gap-[120px]"
          >
            <div class="leading-4">
              <span class="text-xs opacity-60">Contact </span>
              <br />
              <a href="mailto:lluka.ivanovic@gmail.com">Email </a>
            </div>

            <div class="leading-4">
              <span class="text-xs opacity-60">Social </span>
              <br />
              <a
                href="https://x.com/lukaivnvc"
                target="_blank"
                rel="noopener noreferrer"
                class="cursor-default"
                >@lukaivnvc
              </a>
            </div>

            <div class="leading-4">
              <span class="text-xs opacity-60">Switch mode </span>
              <br />
              <a id="theme-toggle" class="cursor-default">Light</a>
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full max-w-[840px]">
          <h1 class="mb-2 mt-2">
            Software designer and developer<span
              class="opacity-70 text-xs align-super ml-1"
            >
              kind of</span
            > looking to make a change through technology.
          </h1>

          <div class="max-w-[560px] mt-8">
            <span class="text-xs opacity-60"> Currently </span>

            <p class="mt-2">
              I'm working at WeWeb on an AI-boosted app builder that enables
              anyone to build applications without coding and practicing my
              craft through various projects.
            </p>
          </div>

          <!-- <div class="mt-8 max-w-[472px]">
            <span class="text-[10px] uppercase">[ About ]</span>

            <a href="/" class="opacity-70 mt-2">
              I enjoy being active and playing sports. I love watching and
              playing football. I also like to travel and explore new places. I
              also like to cook and bake.
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <WwEditor />

  <Divider />

  <WwAi />

  <Divider />

  <WwComponents />

  <Divider />

  <section>
    <div class="container">
      <div class="inner-container pb-[80px]">
        <div class="h-[80px]"></div>
        <ProjectHeader
          name="Snippets"
          showBadge={false}
          description="Pieces of work that I've done for fun and practice."
          accentColor="#341D65"
        />
        <div class="h-[80px]"></div>

        <div>
          <div class="masonry">
            <div class="masonry-item">
              <Tsushima />
              <div class="text-secondary text-[10px] pt-2 uppercase">
                threejs dissolve effect from Ghost of Tsushima
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container relative overflow-hidden">
    <div
      class="inner-container h-[700px] flex flex-col items-center justify-end py-6"
    >
      <Fragment set:html={apollon} />
      <div class="mt-4">
        <span class="opacity-60">Built with Astro.js</span>
      </div>
      <div class="text-right">
        <span class="opacity-60"
          >Using the TWK Lausanne typeface from Weltkern.</span
        >
      </div>
    </div>
  </div>

  <Divider />
  <div class="h-4"></div>
</Layout>

<script>
  const themeToggle = document.getElementById("theme-toggle");

  themeToggle.addEventListener("click", (e) => {
    e.preventDefault();
    document.body.classList.toggle("dark-mode");
    themeToggle.textContent = document.body.classList.contains("dark-mode")
      ? "Dark"
      : "Light";
  });
</script>

<style>
  .masonry {
    column-count: 3;
    column-gap: 16px;
  }

  .masonry-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    .masonry {
      column-count: 2;
    }
  }

  @media (max-width: 480px) {
    .masonry {
      column-count: 1;
    }
  }
</style>
