---
import Layout from "../layouts/Layout.astro";
import WwComponents from "../components/WwComponents.astro";
import WwEditor from "../components/WwEditor.astro";
import WwAi from "../components/WwAi.astro";
import circle from "../svg/circle2.svg?raw";
import Menu from "../components/Menu.astro";
---

<Layout title="Welcome to Astro.">
  <!-- Hero -->
  <section id="hero">
    <div class="container h-[420px]">
      <div class="h-10 flex items-center justify-between">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="10"
          fill="none"
          viewBox="0 0 28 10"
        >
          <path fill="#0A0300" d="M24 7V6h4v1h-4Z"></path>
          <path fill="#0A0300" d="M24 7V6h4v1h-4ZM0 7V6h4v1H0Z"></path>
          <path
            fill="#0A0300"
            fill-rule="evenodd"
            d="M18 3h6v4h-1V4h-4v3h-5V6h4V3Zm-8 0H4v4h1V4h4v3h5V6h-4V3Z"
            clip-rule="evenodd"></path>
          <path
            fill="#000"
            fill-rule="evenodd"
            d="M27 1H1v8h26V1ZM0 0v10h28V0H0Z"
            clip-rule="evenodd"></path>
        </svg>
      </div>

      <div class="flex flex-col w-full mt-[88px]">
        <h1 class="max-w-[600px] mb-2">
          Independent creative technologist pursuing play with pixels.
        </h1>
        <p class="text-neutral-500 text-xs uppercase mt-6">Currently</p>
        <p class="text-neutral-600">
          Currently at <a href="https://weweb.io">WeWeb</a> on enabling anyone to
          build applications.
        </p>
      </div>
    </div>
  </section>

  <Menu />

  <WwEditor />

  <WwComponents />

  <WwAi />

  <section class="overflow-hidden">
    <div
      class="container h-[500px] flex flex-col justify-end items-center py-8 relative"
    >
      <span class="text-[var(--color-secondary)] z-40"
        >Luka Ivanović © 2024</span
      >
    </div>
  </section>
</Layout>
