---
import Layout from "../layouts/Layout.astro";
import ProjectHeader from "../components/ProjectHeader.astro";
import WwComponents from "../components/WwComponents.astro";
import WwEditor from "../components/WwEditor.astro";
import WwAi from "../components/WwAi.astro";
import Tsushima from "../components/tsushima/Tsushima.astro";
import Divider from "../components/Divider.astro";
import pattern from "../svg/pattern.svg?raw";
---

<Layout title="Home">
  <div class="h-[8px]"></div>

  <!-- <div class="container">
    <div
      class="relative border border-[var(--color-border)] text-[var(--color-border)] py-2 overflow-hidden"
    >
      <div class="absolute left-[120px] top-[50%] translate-y-[-50%]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="203"
          height="203"
          fill="none"
          viewBox="0 0 203 203"
        >
          <path
            fill="#fff"
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M202.352 101.376c0 55.768-45.208 100.976-100.976 100.976S.4 157.144.4 101.376 45.609.4 101.376.4c55.768 0 100.976 45.209 100.976 100.976Z"
          ></path>
          <path
            stroke="#616161"
            stroke-dasharray=".66 2.64"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M101.376 175.675c41.034 0 74.299-33.265 74.299-74.299 0-41.033-33.265-74.298-74.299-74.298-41.033 0-74.298 33.265-74.298 74.298 0 41.034 33.265 74.299 74.298 74.299Z"
          ></path>
          <path
            stroke="#616161"
            stroke-dasharray=".66 2.64"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M101.377 172.372c39.21 0 70.996-31.786 70.996-70.996 0-39.21-31.786-70.996-70.996-70.996-39.21 0-70.996 31.786-70.996 70.996 0 39.21 31.786 70.996 70.996 70.996Z"
          ></path>
          <path
            stroke="#616161"
            stroke-dasharray=".66 2.64"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M101.374 169.07c37.386 0 67.694-30.308 67.694-67.694 0-37.387-30.308-67.694-67.694-67.694-37.387 0-67.694 30.307-67.694 67.694 0 37.386 30.307 67.694 67.694 67.694Z"
          ></path>
          <path
            stroke="#616161"
            stroke-dasharray=".66 2.64"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M101.376 175.675c41.034 0 74.299-33.265 74.299-74.299 0-41.033-33.265-74.298-74.299-74.298-41.033 0-74.298 33.265-74.298 74.298 0 41.034 33.265 74.299 74.298 74.299Z"
          ></path>
          <path
            stroke="#616161"
            stroke-dasharray=".66 2.64"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M101.374 179.637c43.223 0 78.261-35.039 78.261-78.261 0-43.223-35.038-78.261-78.261-78.261-43.222 0-78.26 35.038-78.26 78.261 0 43.222 35.038 78.261 78.26 78.261Z"
          ></path>
          <path
            stroke="#616161"
            stroke-dasharray=".66 2.64"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M101.377 172.372c39.21 0 70.996-31.786 70.996-70.996 0-39.21-31.786-70.996-70.996-70.996-39.21 0-70.996 31.786-70.996 70.996 0 39.21 31.786 70.996 70.996 70.996Z"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M183.862 101.376c0 45.554-36.929 82.484-82.484 82.484-45.554 0-82.484-36.93-82.484-82.484 0-45.555 36.93-82.484 82.484-82.484 45.555 0 82.484 36.929 82.484 82.484Z"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width=".8"
            d="m86.217 14.932-5.66 1.195-1.174-4.814 1.907-.418.52 2.386 2.036-.401-.98-4.886-4.088.91-4.194 1.148-3.808 1.182 1.62 4.72 1.828-.582-.772-2.374 1.855-.617 1.414 4.807-5.34 1.723-5.34 2.145-1.992-4.536 1.805-.743.927 2.26 1.936-.75-1.815-4.642-3.867 1.606-3.931 1.86-3.545 1.825 2.415 4.367 1.699-.89-1.172-2.205 1.719-.93 2.227 4.49-4.962 2.622-4.89 3.04-2.75-4.122 1.649-1.046 1.305 2.065 1.776-1.074-2.593-4.256-3.53 2.253-3.548 2.514-3.174 2.413 3.136 3.881 1.519-1.172-1.537-1.968 1.531-1.213 2.974 4.033-4.444 3.46-4.299 3.86-3.425-3.58 1.441-1.317 1.645 1.805 1.562-1.367-3.294-3.739-3.084 2.833-3.057 3.094-2.705 2.929 3.765 3.276 1.29-1.42-1.855-1.669 1.297-1.462 3.63 3.454-3.737 4.134-3.531 4.496-3.993-2.934 1.193-1.546 1.932 1.494 1.302-1.616-3.89-3.114-2.549 3.323-2.475 3.575-2.159 3.352 4.274 2.577 1.026-1.62-2.116-1.325 1.024-1.664 4.173 2.776-2.987 4.754-2.717 5.08-4.441-2.196.905-1.73 2.163 1.136 1.001-1.818-4.372-2.39-1.932 3.715-1.817 3.95-1.543 3.677 4.656 1.795.73-1.775-2.315-.936.72-1.816 4.59 2.008-2.121 5.22-1.797 5.495-4.756-1.39.59-1.86 2.328.742.67-1.965-4.723-1.592-1.255 3.995L8.77 79.11l-.879 3.889 4.898.956.409-1.874-2.442-.52.392-1.913 4.87 1.177-1.173 5.475-.811 5.687-4.926-.543.26-1.935 2.42.327.319-2.051-4.927-.75-.543 4.153-.355 4.334-.192 3.982 4.99.093.077-1.917-2.494-.088.054-1.953 5.001.315-.21 5.635.187 5.78-4.944.321-.081-1.951 2.44-.099-.042-2.074-4.982.117.186 4.184.403 4.33.503 3.955 4.93-.776-.257-1.901-2.472.347-.285-1.933 4.98-.558.768 5.557 1.185 5.633-4.814 1.174-.419-1.907 2.387-.521-.402-2.036-4.886.981.91 4.088 1.148 4.194 1.182 3.808 4.72-1.62-.582-1.828-2.374.771-.617-1.854 4.807-1.414 1.724 5.338 2.146 5.341-4.537 1.992-.743-1.806 2.26-.927-.75-1.935-4.641 1.814 1.606 3.868 1.86 3.931 1.825 3.545 4.367-2.415-.891-1.699-2.205 1.172-.93-1.719 4.49-2.228 2.622 4.962 3.04 4.89-4.123 2.75-1.045-1.649 2.064-1.305-1.074-1.776-4.256 2.593 2.253 3.53 2.514 3.548 2.413 3.174 3.882-3.136-1.173-1.519-1.967 1.537-1.214-1.531 4.034-2.974 3.46 4.445 3.86 4.3-3.58 3.425-1.317-1.441 1.805-1.645-1.367-1.562-3.739 3.294 2.834 3.084 3.093 3.056 2.929 2.705 3.276-3.764-1.42-1.291-1.669 1.856-1.462-1.297 3.455-3.63 4.133 3.736 4.496 3.531-2.935 3.993-1.546-1.193 1.494-1.932-1.616-1.302-3.114 3.891 3.324 2.548 3.575 2.475 3.352 2.159 2.577-4.274-1.621-1.026-1.324 2.116-1.664-1.025 2.775-4.172 4.755 2.987 5.08 2.716-2.197 4.442-1.73-.906 1.136-2.162-1.818-1.002-2.39 4.373 3.715 1.932 3.951 1.817 3.676 1.543 1.795-4.657-1.774-.729-.937 2.315-1.816-.72 2.008-4.591 5.22 2.122 5.495 1.797-1.39 4.756-1.86-.59.741-2.328-1.964-.669-1.592 4.722 3.995 1.255 4.207 1.101 3.889.879.956-4.898-1.874-.408-.52 2.441-1.913-.392 1.177-4.871 5.475 1.175 5.686.811-.543 4.925-1.935-.259.327-2.42-2.05-.319-.75 4.927 4.152.543 4.334.355 3.983.191.092-4.989-1.917-.078-.087 2.495-1.953-.054.315-5.001 5.634.208 5.781-.188.321 4.945-1.951.081-.098-2.441-2.075.042.117 4.983 4.184-.187 4.33-.403 3.955-.502-.775-4.93-1.902.256.347 2.472-1.933.286-.558-4.98 5.558-.769 5.633-1.185 1.174 4.814-1.907.419-.521-2.387-2.036.402.981 4.886 4.088-.91 4.194-1.148 3.808-1.182-1.62-4.721-1.828.583.771 2.374-1.854.617-1.414-4.807 5.338-1.723 5.341-2.146 1.992 4.537-1.806.743-.927-2.26-1.935.75 1.814 4.641 3.868-1.606 3.931-1.859 3.545-1.825-2.415-4.368-1.699.891 1.172 2.205-1.719.929-2.228-4.489 4.962-2.623 4.891-3.039 2.749 4.122-1.649 1.045-1.305-2.064-1.776 1.074 2.593 4.256 3.53-2.253 3.548-2.514 3.174-2.413-3.136-3.882-1.519 1.173 1.537 1.967-1.531 1.214-2.973-4.034 4.444-3.46 4.3-3.859 3.426 3.58-1.442 1.317-1.645-1.806-1.562 1.367 3.295 3.74 3.083-2.834 3.057-3.093 2.705-2.929-3.765-3.276-1.291 1.419 1.856 1.669-1.296 1.462-3.631-3.454 3.737-4.133 3.53-4.497 3.993 2.935-1.193 1.546-1.932-1.494-1.302 1.616 3.891 3.114 2.548-3.324 2.476-3.575 2.158-3.352-4.274-2.577-1.026 1.621 2.116 1.324-1.024 1.664-4.172-2.775 2.986-4.755 2.716-5.079 4.441 2.196-.905 1.729-2.163-1.135-1.001 1.817 4.372 2.391 1.932-3.716 1.817-3.95 1.543-3.677-4.656-1.794-.729 1.774 2.314.936-.72 1.817-4.591-2.008 2.122-5.221 1.797-5.494 4.757 1.389-.591 1.861-2.327-.742-.67 1.964 4.723 1.593 1.254-3.996 1.102-4.207.879-3.888-4.898-.957-.409 1.875 2.442.519-.393 1.914-4.87-1.178 1.174-5.474.811-5.687 4.926.543-.26 1.935-2.42-.327-.319 2.051 4.927.749.543-4.152.355-4.334.192-3.983-4.99-.092-.077 1.917 2.494.087-.054 1.953-5.001-.315.209-5.634-.188-5.781 4.945-.32.081 1.95-2.441.098.043 2.075 4.982-.117-.186-4.184-.403-4.33-.503-3.955-4.93.776.256 1.9 2.472-.346.286 1.933-4.98.558-.769-5.558-1.184-5.632 4.814-1.174.418 1.907-2.387.52.402 2.036 4.886-.98-.909-4.088-1.149-4.194-1.182-3.808-4.72 1.62.582 1.827 2.375-.77.616 1.853-4.807 1.415-1.723-5.339-2.145-5.34 4.536-1.992.744 1.805-2.26.927.749 1.936L190.43 67l-1.606-3.868-1.86-3.931-1.825-3.545-4.367 2.415.891 1.699 2.204-1.172.93 1.719-4.489 2.227-2.623-4.961-3.04-4.89 4.122-2.75 1.045 1.648-2.064 1.306 1.074 1.775 4.256-2.592-2.253-3.53-2.514-3.549-2.413-3.173-3.882 3.136 1.173 1.518 1.967-1.536 1.214 1.531-4.034 2.973-3.46-4.444-3.859-4.3 3.58-3.425 1.316 1.441-1.805 1.645 1.367 1.562 3.739-3.294-2.833-3.084-3.094-3.057-2.929-2.705-3.276 3.765 1.419 1.29 1.67-1.855 1.462 1.296-3.454 3.63-4.133-3.735-4.496-3.531 2.934-3.993 1.546 1.193-1.494 1.932 1.616 1.302 3.114-3.89-3.324-2.549-3.575-2.476-3.352-2.158-2.576 4.274 1.621 1.026 1.324-2.116 1.663 1.024-2.775 4.173-4.754-2.987-5.08-2.717 2.196-4.441 1.73.906-1.136 2.162 1.818 1.001 2.391-4.372-3.716-1.932-3.951-1.817-3.676-1.543-1.795 4.656 1.775.73.936-2.315 1.816.72-2.008 4.59-5.221-2.121-5.495-1.797 1.389-4.757 1.861.591-.741 2.327 1.964.67 1.592-4.723-3.995-1.255-4.207-1.1-3.889-.88-.956 4.898 1.874.409.519-2.442 1.914.392-1.177 4.871-5.475-1.174-5.688-.812.543-4.925 1.936.26-.327 2.42 2.05.318.75-4.926-4.153-.544-4.334-.355-3.982-.191-.093 4.99 1.917.077.088-2.495 1.953.055-.315 5-5.633-.207-5.779.188-.32-4.944 1.95-.081.099 2.44 2.075-.042-.118-4.982-4.184.186-4.33.403-3.954.503.775 4.93 1.901-.257-.347-2.472 1.933-.285.558 4.98-5.584.78"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M62.428 54.692c.55-1.743 1.902-4.428 3.042-5.762 2.225-2.602 3.879-4.186 7.383-6.05.45 2.222 1.555 4.504 1.462 8.475-.088 3.772-2.18 5.61-4.867 7.708"
          ></path>
          <path
            fill="#616161"
            fill-rule="evenodd"
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M79.063 96.64c-5.051 0-6.146 3.113-10.77 3.113-.484 0-.78-.366-1.178-.366-.542 0-.507.338-.507.576 0 .239.62.373.62.633 0 .261-.22.247-.22.465 0 .217 3.37 1.692 4.933 3.62.493.61 2.64.711 3.876.715 4.96.017 3.715-1.295 7.947-1.295 2.198 0 1.666 1.004 3.524 1.004.617 0 .634.28 1.116.283.355.002.492-.105.492-.982 0-3.843-6.183-7.765-9.833-7.765Z"
            clip-rule="evenodd"></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M129.577 144.509c-4.043 4.97-3.681 6.87-16.146 14.713-3.011 1.893-2.685 2.272-5.641 4.191-3.005 1.952-3.184 1.396-6.745 2.119"
          ></path>
          <path
            fill="#616161"
            fill-rule="evenodd"
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M121.013 96.64c5.051 0 6.146 3.113 10.77 3.113.484 0 .779-.366 1.179-.366.541 0 .506.338.506.576 0 .239-.62.373-.62.633 0 .261.22.247.22.465 0 .217-3.371 1.692-4.933 3.62-.493.61-2.64.711-3.876.715-4.959.017-3.715-1.295-7.947-1.295-2.198 0-1.666 1.004-3.523 1.004-.618 0-.635.28-1.117.283-.355.002-.492-.105-.492-.982 0-3.843 6.184-7.765 9.833-7.765Z"
            clip-rule="evenodd"></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M86.586 140.68c.482.343.767.527 2.837.527 2.07 0 3.695-1.191 5.956-1.191 2.26 0 2.902 1.654 6.13 1.654 1.481 0 2.596-1.08 4.755-1.08 1.287 0 3.064.939 5.436.939.894 0 1.378-.204 1.657-.421m-13.769 1.185c.541.731.94 1.061.94 3.4"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M92.047 145.51c.582.418 2.13 1.162 5.175 1.162 2.238 0 2.17-.462 3.718-.462 2.024 0 1.942.616 3.543.616 1.6 0 2.756-1.586 3.219-2.232m-37.79-47.097c3.956.099 4.099-2.062 8.024-2.876 4.169-.865 8.837 1.79 9.617 2.177m-22.6-2.576c2.01-1.828 4.715-1.083 5.19-.991-2.705.727-3.148.86-4.199 1.977m4.396-3.716c4.313-2.787 4.751-.634 6.49-.944 1.066-.19 1.15-.794 6 .744.383.121 2.653.842 4.914 1 2.305.163 2.44-.243 3.526-1.105"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M80.098 90.546c.683.086 4.62.744 6.374-.998m1.315 2.8c.189.592.156.715 1.038 1.054 1.345.517 1.383.266 2.738-.257M97.84 89.2c.076 1.328.388 1.465-.502 2.464-.802.902-2.206 1.576-2.867 1.991m-4.937 5.787c-.158 1.049.56.796.925 1.801.586 1.611-.187 3.072-.31 3.307.466-.288 1.481-.588 2.5-2.491 1.786-3.335 1.448-5.166-1.994-6.787"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M91.08 97.47c.337.229.933 1.468 1.034 1.714.746 1.815.612 1.903.665 2.371m2.841-1.054c.116.268.79 1.828-.221 3.643-1.412 2.532-.655 3.735-.227 4.991m11.428-8.14c-.393.651-1.873 1.989-.79 4.673 1.022 2.533 2.134 3.409-.425 8.504m-3.547-33.732c.428.648 1.645 3.525 1.931 6.758.261 2.937-.371 3.085.981 5.68"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M103.914 89.996c.245.549.126.943 2.734 2.336m1.145 5.009c.112-2.022 1.84-2.922 2.103-3.059"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M108.252 95.934c.471-.196.46-.406 1.317-.208m3.279 3.52c1.356-2.874 2.176-3.327 6.024-4.157 4.759-1.026 9.256 1.808 9.946 2.243"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M111.311 98.082c1.978-.202 1.792-.84 2.966-1.271m-1.644-.654c1.058.023 1.069-.048 2.054.354m-7.83 7.153c-.055 1.127.098 1.17-.63 2.528m1.457.374c.041 1.772.085 1.846-.661 2.964m-9.886 10.242c-.435.655-.225 1.916-.222 2.337-.216-.134-2.842-1.76-3.12.571m15.292-.196c-1.859-2.064-2.629-.31-3.463-.593-1.022-.346-.719-2.493-.718-2.586m-10.799 7.85c.35-.128 1.962-.829 3.151.138m-3.485 2.117c-2.799-.146-3.213-1.366-3.767-3.549m20.35-.212c.702 2.631-1.225 3.387-1.508 3.498m-8.973-.503c1.705 1.165 3.041-.093 3.559-.478 1.136-.841 2.102-.518 3.957-.941m-9.001 2.816c.003.108.251 1.598-.007 2.702m4.464-2.471c-.196 1.008-.116.988.058 2.027m-13.534 6.538c5.019-3.095 5.885-4.987 9.14-3.687 1.985.792 3.61-.963 5.677-.309 2.132.674 3.335 2.767 6.542 4.228m-20.107 14.167c2.59-.598 2.863-.772 3.865-1.912m5.235-.712a5.315 5.315 0 0 1 4.166.665c2.189 1.393 2.194 1.45 4.746 1.831M77.332 106.86c3.867 1.018 3.988-1.055 7.883-.093m31.68.113c1.446-.715 3.567.299 4.456.496 2.241.497 4.084-.311 4.675-.43m-4.829 2.816c1.579-.86 1.656-.064 3.825.177m2.578-1.165c.721-.067 1.024-.225 2.243.131m-11.62-16.957c3.904-2.211 6.207-3.578 8.675-3.052 4.887 1.042 4.014 3.433 8.974 4.001"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M125.59 90.05c1.317-.067 1.823.15 2.588-.569m-1.74 2.297c1.944-.857 2.572.156 3.522-1.475m-20.663 2.074c2.007 1.325 4.974-.303 5.208-.503 2.31-1.971 2.552-2.648 5.296-2.638 1.757.006 1.983.541 2.092.635"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M109.945 90.221c2.886.927 3.881.951 5.61.717m-2.137-3.101c.909 1.206 1.347 1.655 2.948 2.251m.72-11.281c.512 7.16 8.193 6.258 10.176 5.127m-61.988 58.83c1.944-7.65-5.185-8.57-6.64-7.108-.853.857-1.776 4.321-.1 4.924.624.225 3.93.038 2.913-2.895-.138.154-2.194 2.464-2.402.945-.215-1.567 3.608-3.489 3.437 1.663-.105 3.159-1.11 4.221-5.996 4.251-2.486.015-2.878-.156-4.684-1.483-2.074-1.523-2.416-2.764-2.831-3.55m.329-16.138c.082 1.328 1.072 2.317 2 2.452 4.353.634 7.05 2.165 7.441 2.824.619 1.042 1.202 4.708-1.4 3.7-10.333-4.004-10.509 2.671-9.614 5.352"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M53.954 126.363c4.036-.805 4.673-.798 7.556 2.032.997.978 2.04 5.902-1.818 5.462-2.551-.29-6.222-2.057-8.664-.216-.01.008-1.344.675-1.62 2.798-.445 3.408 4.11 4.131 4.895 3.136.607-.77.502-2.623.467-2.872-.17-1.221-.768-1.784-1.172-2.323m-5.788 3.493c-.467-1.959-4.195-5.918-1.468-7.9.468-.34 5.429-2.285 1.349-4.815-.875-.542-3.537-1.381-4.382-2.528-.605-.821-.645-4.064-.649-4.422"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M43.415 122.5c-.265 1.304.234 4.529.5 5.399.549 1.797 2.096 2.927 2.185 3.009m-6.025-17.374c-.14 2.547.345 4.353.861 7.999.522 3.686 2.522 6.967 2.857 7.516"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M43.415 104.101c-1.786.818-4.473 3.186-4.684 4.77-.375 2.811 1.03 6.852 1.515 7.83 1.691 3.415 3.68 3.854 5.077 4.326m15.518 1.754c2.405-2.644 2.516-2.713 2.895-6.329.404-3.858-4.38-6.622-6.62-6.019-.086.022-2.545.46-2.362 2.634.078.93 1.48 1.251 1.575.246"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M49.185 109.407c.11 4.294 1.748 7.323 2.756 7.663 2.73.919 4.313-.074 4.628-.271 1.464-.917 1.91-3.623 1.968-3.973"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M55.878 110.65c-.78-.813-2.626.653-2.328 3.532.142 1.37 2.492.965 3.086-.998"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M47.934 112.494c.376 4.563.271 5.889 5.04 7.248 1.761.501 5.62.057 6.431-.71 2.999-2.831 1.68-6.957 1.492-7.543"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M61.315 111.651c3.053 6.845-2.26 9.504-3.792 10.625M46.73 105.885c-3.576 7.038-1.063 9.375-.988 9.503 1.645 2.799 4.724 3.749 8.839 5.6m-3.293-29.173c-2.747 1.629-3.99 1.924-2.302 4.64 1.261 2.026 4.018 4.347.382 8.042"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M46.111 99.478c.166-.16 1.05-1.013 2.734-.91 1.113.067 1.986 1.185 2.109 1.342m.101-3.757c1.194 1.137 2.057 2.578.429 4.157"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M53.906 94.81c1.74 3.087 4.763 7.291-3.957 11.307-3.36 1.548-2.89 2.203-3.562 5.853"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M55.263 96.35c.866.82 2.856 4.129 1.339 5.77-1.536 1.659-2.9 1.533-2.853 4.687m-.17-2.436c-2.22 1.51-3.009 2.152-3.071 3.91m12.345-15.104c-2.23 2.746.917 4.283 1.439 8.507.232 1.879-.634 6.898-7.882 5.156"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M63.178 106.038c.055.28.54 2.706.068 3.568-.472.863-2.167 1.164-2.695 1.33m7.779-30.674c-1.814 5.787-11.685 2.761-11.763 10.273-.044 4.164 5.665 3.548 2.7 10.965-.059.146-.553 1.383-.864 1.768l-1.003.983c4.071-1.137 4.99-.92 5.954-5.213M49.073 85.667c-1.922 6.686-7.59 4.528-6.425 11.001.273 1.516 2.597 6.457.366 10.558-1.588 2.919-2.857 6.683 1.396 10.708m12.338-33.887c2.166-3.373 3.288-1.254 7.176-2.342"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M58.373 84.598c2.759-1.155 2.79-1.265 5.468-.824m-5.15 10.454c.91-3.135.804-6.774 4.49-7.681 4.138-1.018 7.823-.799 10.542-1.728 6.072-2.075-.042-16.492 5.472-17.31 3.435-.51 17.003 10.112 17.359-3.842"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M61.754 90.01c1.61-2.109 5.548-3.903 7.802-3.914 3.323-.017 4.159 1.143 5.68-1.81m21.937-15.142c-3.302 2.384-4.618 2.096-7.755 1.613m-11.055-4.952c.206-.192 1.367-1.275 3.515-.253 3.031 1.442 4.727.325 5.89-.202M76.82 70.872c2.185-1.892 2.3-1.698 2.809-1.869m-2.785 5.716c.906-1.33 1.107-2.166 3.289-3.09m-8.952-2.657c1.664 2.138 2.315 5.446-.478 8.555"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M70.031 68.985c.165 2.494 1.347 2.662 2.055 3.042m.124-9.342c-.299.308-1.075 1.095-1.616 4.544m4.121.633c2.503-3.053 2.966-3.977 6.605-4.682m-19.064 7.786c-.761.469-5.984 2.786-1.52 6.675"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M56.844 71.485c2.742-1.925 6.056-4.641 10.07-1.406 5.298 4.27.203 8.392.17 8.43.573-1.752.428-1.73.386-3.612m-.158-4.504c-1.203-5.281 1.13-6.278 3.984-8.444m-2.603-.531c1.227-2.017 2.692-1.721 4.279-2.01m-20.649 24.86c-.184-.562-2.197-6.687.279-7.39 2.81-.798 3.198 4.301 3.379 5.287.861-5.76-2.64-5.927-.42-11.337m-5.324 6.388c-.688-1.013-6.11-1.057-6.307-.255-1.386 5.674 3.063 10.615 3.627 11.387"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M46.254 78.204c1.285 1.867 1.242 1.817 2.273 3.793M53.69 65.6c-1.317-3.137-2.657-3.716-5.532-5.742-.486 3.284-.786 4.435-1.25 6.966-.636 3.462.14 5.966 1.622 9.296"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M50.484 66.25c-.14 3.332.32 3.656 2.383 5.678m2.106-3.506c-1.393-3.095-1.41-3.09-1.426-3.222-.863-7.068 5.314-13.492 6.203-12.969 6.036 3.55 3.028 11.335 2.641 12.914"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M56.081 63.034c-.248 1.51.286 3.013.988 4.01m1.606-2.17c-.27-3.67-.488-6.502.767-9.915m10.524-5.815c.1.564-.412 5.594-1.108 7.07-1.759 3.727-3.187 4.427-4.6 7.225M90.695 44.35c-4.808 8.242-6.727 8.348-11.927 10.222m-3.241 1.126c.51-3.87 1.165-7.57 1.282-8.286m-3.491-2.984c1.375-.898 3.178-2.295 4.146-3.566 1.717 2.9 1.766 2.833 2.791 6.03"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M86.888 40.897c-.256-1.3-.184-2.783-.047-4.967-6.331 1.181-10.425 2.64-13.452 7.825"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M78.426 55.094c1.526-8.357 1.138-10.158 9.154-14.323 3.312-1.72 10.552-2.867 10.673-2.33.079.35-2.063 9.376-6.271 12.937-2.733 2.313-6.11 3.978-13.556 3.716Z"
            clip-rule="evenodd"></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M96.152 53.637c-1.293-.412-1.73.074-2.424.28M54.009 87.708c-5.822.222-5.673-8.698-2.506-11.851 1.44-1.434 1.117-6.228 5.479-8.749 2.352-1.36 5.095-1.598 5.628-1.83.594-.256 4.517-6.93 13.77-9.822 2.163-.676 3.846 1.46 15.976-1.502"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M67.32 62.7c-3.48 2.745-2.535 4.915-2.042 6.114M91.86 55.563c-6.37 3.153-6.714 1.648-13.813 2.334 2.985 1.268 5.396 3.12 14.15.59 4.244-1.227 8.359-6.654 8.919-7.392-2.5-.704-5.611-.445-5.743-.446"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M98.544 54.35c-1.957 2.533-1.871 3.502-9.61 6.419-3.641 1.373-5.662.505-9.66-.657"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M97.277 43.438c2.369-.775 5.567-2.421 7.54-2.473 16.869-.445 21.166 8.906 20.236 9.616-5.842 4.455-13.868 2.816-15.066 2.572-5.794-1.183-8.494-4.67-12.71-9.715Z"
            clip-rule="evenodd"></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M106.059 45.837c.483-.067 2.497-1.153 9.658 1.166 6.681 2.163 8.271 2.837 8.971 3.133m-18.122.184c3.714 1.4 6.539 2.081 12.809 1.496m-13.834-10.849c-.187-.54.097-.923-1.961-3.257.707-.079 3.948-.436 8.808 1.22 4.048 1.38 5.025 2.825 6.209 3.918m.57.678c-.302-.732-1.561-3.873-2.765-6.403 1.022.29 6.292 1.782 11.81 6.047.719.556 4.551 3.41 5.251 10.902-6.386-.915-7.076-2.202-8.036-3.537m-6.21-10.59 1.344 1.242"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M121.58 42.707c5.281 2.829 7.15 9.015 7.438 9.967m2.505-6.186c.24-.333.753-.48 1.717-4.963 7.544 5.171 7.922 8.351 8.038 9.33.807 6.788 1.171 9.361-3.792 11.247-.457-3.683-2.335-6.077-3.775-7.848"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M136.914 48.451c.697 3.879 2.116 6.871.352 12.923m-29.478-8.862c-.266.825-.609 4.985 1.612 6.49m5.491.232c2.986 1.358 4.184 1 5.164.95m-15.479-3.054c-.207 3.432 1.979 6.097 2.331 6.525"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M107.589 62.294c-1.788-.906-1.67-1.098-2.568-1.83m-3.76-4.093c-1.944 5.718 1.129 9.142 3.827 12.844-1.9-1.042-8.251-3.09-4.471-12.16m21.537 9.277c-.533-6.781-8.782.818-11.851.23"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M110.938 65.113c1.356.626 1.346.555 2.818.629m-1.59-2.278c2.583.867 2.703.971 4.757.776m-13.946-1.934c5.052 7.44 5.997 7.898 14.874 6.232 2.363-.444 4.897 1.686 2.898 5.365-3.661 6.742.176 9.034 4.341 8.619 2.746-.274 9.062-3.54 10.385.238"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M113.906 69.063c2.518-.62 7.797-3.018 9.137 1.297m-3.33 6.278c.909 3.897 4.513 4.591 8.459 4.984m-1.521-8.878c1.686 3.478 2.161 3.27 6.288 4.128-6.349.641-7.135-2.142-7.533-2.67m-2.365-18.906c2.985 4.702 7.532 2.733 9.238 6.876 1.201 2.917-1.588 3.597-3.516 7.844.195-.53 1.453-3.94.396-7.04-.406-1.191-3.177-1.524-3.48-1.56"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M120.908 57.034c10.836 1.436 10.157 5.925 10.054 9.558"></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M128.148 55.007c6.416 3.704 10.111 4.892 8.952 9.719-.647 2.697-11.364 7.388-5.215 10.025m9.332-15.453c2.904-2.034 4.189-3.99 4.995-7.257 8.831 7.633-3.715 14.723-.681 17.957 2.975 3.172 1.716 4.144 3.358 5.382 2.882 2.174 3.896 1.642 5.2-1.738 1.572-4.074.056-11.51-2.352-15.534-1.295 1.59-1.223 1.636-2.871 2.883"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M149.824 63.196c.042 2.966.897 2.853.723 5.816-.291 4.952-.67 5.07-.52 6.952m-12.594-9.024c6.304 2.82 9.341 3.147 10.287 7.328.819 3.624-2.859 6.406-3.341 6.77 5.704-8.972-4.277-11.66-7.369-12.621"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M134.713 72.361c3.804 2.717 5.502.084 7.653 2.847 1.481 1.902.467 2.133-1.903 8.065 1.204-3.781-.549-6.92-.73-7.078-1.81-1.58-4.204-.877-4.727-2.293"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M134.34 76.39c5.48-2.865 1.95 10.815 9.83 9.883 1.327-.157 2.253-1.158 2.426-1.481.288-.537-.346-2.424-.414-2.626 2.988 3.439.477 6.388-4.919 3.629-5.746-2.938-3.094-5.497-5.182-8.794m-4.94 8.309c5.418 4.7 10.374 9.71 4.373 17.89-2.331 3.177-1.416 4.784.07 6.946 2.128 3.098 3.383 3.312 6.567 4.825"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M133.258 85.447c4.331 4.003 4.531 4.34 5.228 9.82"></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M136.686 87.038c2.642 3.212 2.676 3.42 2.076 7.558-.72 4.968 5.017 6.889 9.109 3.684 2.831-2.217 3.846-8.96-2.607-7.067"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M146.366 92.979c.03 2.986-2.913 1.37-3.018.784-1.209-6.751 10.148-5.827 10.289-.212.08 3.161-2.925 4.83-3.226 5.083m-12.806 13.983c.744 4.953 10.786 4.417 3.926 10.666-.598.544-1.378 1.885-1.137 2.934.762 3.312 3.246 2.297 4 8.104"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M143.728 131.377c-3.404 4.984-7.074-4.778-16.076 2.518-.874.708-3.649 7.05 1.804 10.297 1.448.862 6.407.554 11.228-.942"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M129.441 132.906c-1.948 3.281.222 7.149.479 7.686 2.128 4.447 8.619 2.555 9.616 2.419m-4.422-8.075c-.392 3.15.027 3.163 1.591 4.714"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M131.807 137.783c2.337 4.438 3.747 2.204 7.391 2.929 2.522.501 6.07 2.863 3.053 6.518"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M139.98 147.207c1.356-1.226 1.081-2.491.769-2.451-.905.113-5.551.251-4.613 3.662.79 2.873 9.128 3.408 10.298-1.031 1.324-5.026-3.526-6.771-3.861-6.98"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M144.81 143.782c-.07 1.011.616 4.356-3.462 4.668-.395.03-3.44.263-4.647-1.71m9.687-16.261c.357.101 3.526.555 2.968 3.329-.419 2.082-1.231 1.412-6.971 3.284m-2.721-29.34c2.131 5.88 6.508 2.549 7.938 7.827.858 3.167-.09 4.973-.29 5.353-.508.969-2.722 2.175-2.988 2.319 2.093-.54 4.626-.915 5.527-3.126 1.852-4.542-.642-5.566-.971-5.898m-7.812-14.862c-1.986 1.841-6.915 5.419-5.08 10.681"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M137.863 99.292c.215 5.34-2.274 6.978-.507 10.223 2.017 3.704 5.111 1.117 8.352 8.485m2.887-16.802c-1.419 2.259-4.306 6.498.679 8.582m5.595-44.81c1.166-.793 1.24-.693 1.91-1.907 2.078 2.109 6.802 12.158-1.729 18.321-3.058-4.137-3.296-3.924-3.665-4.249"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M155.98 69.04c.125 2.585.271 4.473-2.652 9.48m3.544 1.844c2.624-.278 3.444-.196 4.611-1.314 1.604 5.392 1.326 7.014-2.707 10.864-.411-4.724-2.733-7.4-3.18-7.916"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M159.396 81.93c-.733 1.343-.748 1.31-1.904 2.343m1.15 5.245c.468 2.08-.549 3.257-2.314 6.083"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M158.535 91.88c2.83 3.831-.994 11.096 3.047 17.279.756 1.157 5.51 6.202 1.315 11.389-3.667 4.535-13.711 3.096-12.24 8.118.217.742 5.081 2.292 5.218 6.036.13 3.547-2.498 3.025-10.025 5.656"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M158.688 112.013c5.227 15.391-11.486 8.564-12.757 14.696-.793 3.823 5.032 1.851 7.774 6.566.523.898-1.223 2.828-1.403 3.026-3.1 3.427-2.592 3.817-5.793 7.127m10.583-40.699c-.643 3.368 1.364 3.338 2.867 3.773"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M159.493 96.864c-.862 3.778-4.54 4.712-5.176 6.708-.976 3.059 2.046 1.484 6.454 6.418"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M159.781 96.698c-2.636 5.065-6.14 3.18-10.024 6.47-1.824 1.545-.16 4.68 1.391 5.504 1.134.603 8.959 2.83 13.017 8.797"
          ></path>
          <path
            stroke="#616161"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-miterlimit="1.5"
            stroke-width=".8"
            d="M152.031 103.495c-.775 2.773-.978 3.24.783 5.683m.313-3.825c.051.505.244 2.405 3.23 5.47m-9.161-55.408c.286 3.88-.98 3.468-3.502 6.375-2.683 3.094-2.013 6.295-1.969 6.8m-77.713 47.654c1.51 5.986-1.6 10.68 4.118 21.027 3.22 5.827 3.312 8.629 12.86 17.99 9.684 9.494 14.035 9.764 19.678 10.232M60.328 52.458c.694-1.563 2.484-7.065 7.707-10.528.875-.58 1.546.038 2.081 2.308m13.571-4.859c-1.03.777-3.397 2.228-3.937 5.61"
          ></path>
          <path
            fill="#fff"
            fill-rule="evenodd"
            d="M78.635 98.69c-.594.061-2.098-.089-3.022 1.515-.183.316-1.71 2.963 3.285 3.174 1.072.045 3.114.095 3.633-2.571.304-1.57-1.787-2.164-3.896-2.118Z"
            clip-rule="evenodd"></path>
          <path
            fill="#616161"
            fill-rule="evenodd"
            d="M78.634 98.453c1.321-.03 2.632.194 3.404.722.574.393.873.946.73 1.678-.222 1.146-.716 1.821-1.29 2.22-.853.591-1.903.573-2.586.544-2.111-.089-3.11-.623-3.547-1.214-.7-.944-.057-2.104.066-2.317.984-1.706 2.573-1.568 3.204-1.632l.02-.001Zm.022.475h-.003c-.562.054-1.969-.097-2.83 1.395-.05.087-.21.365-.288.718-.072.327-.071.724.192 1.079.391.527 1.301.942 3.185 1.021.605.026 1.54.064 2.294-.459.495-.344.904-.933 1.096-1.92.13-.667-.27-1.114-.907-1.402-.719-.326-1.727-.453-2.74-.432Z"
            clip-rule="evenodd"></path>
          <path
            fill="#fff"
            fill-rule="evenodd"
            d="M121.659 98.831c-.434-.036-3.843-.621-3.799 1.947.061 3.659 5.543 3.144 6.51 1.687.574-.865.18-1.232.112-1.453-.631-2.032-2.728-2.134-2.823-2.181Z"
            clip-rule="evenodd"></path>
          <path
            fill="#616161"
            fill-rule="evenodd"
            d="M121.733 98.605c.02.003.132.021.24.042.65.123 2.194.549 2.736 2.294.014.044.045.095.075.157.067.139.134.315.131.549-.003.241-.082.55-.347.95-.215.323-.624.613-1.152.824-.744.298-1.725.447-2.664.356-1.617-.158-3.097-1.022-3.13-2.995-.01-.578.14-1.011.383-1.338.36-.484.931-.737 1.531-.85.929-.175 1.919-.019 2.143 0a.241.241 0 0 1 .054.01Zm-.12.456.026.007c-.21-.017-1.141-.171-2.015-.007-.481.091-.948.278-1.237.666-.189.255-.297.596-.29 1.046.029 1.686 1.32 2.395 2.702 2.53.86.084 1.759-.051 2.44-.324.423-.169.761-.387.933-.646.194-.293.265-.515.267-.693.002-.171-.062-.292-.109-.386a1.307 1.307 0 0 1-.076-.172c-.467-1.506-1.809-1.861-2.37-1.968-.121-.023-.214-.04-.271-.053Z"
            clip-rule="evenodd"></path>
        </svg>
      </div>

      <Fragment set:html={pattern} />
    </div>
  </div> -->

  <Divider />

  <section>
    <div class="container">
      <div class="inner-container pt-6 pb-[120px] flex flex-col gap-[80px]">
        <div class="w-full flex justify-between text-primary">
          <div>
            <a href="/" class="text-medium">Luka Ivanovic </a>
            <br />
            <span class="opacity-60">Product Designer</span>
          </div>

          <div class="text-right">
            <a href="/" class="text-medium">Contact me</a>
            <br />
            <a href="/" class="opacity-60">@lukaivnvc</a>
          </div>
        </div>

        <div class="flex flex-col w-full max-w-[1150px]">
          <h1 class="mb-2 mt-2">
            Software designer and developer looking to make a change through
            technology.
            <span class="opacity-50 text-regular">
              Currently working at WeWeb on enabling anyone to build
              applications without coding.
            </span>
          </h1>

          <div class="mt-8 max-w-[472px]">
            <span class="text-[10px] uppercase">[ About ]</span>

            <a href="/" class="opacity-70 mt-2">
              I enjoy being active and playing sports. I love watching and
              playing football. I also like to travel and explore new places. I
              also like to cook and bake.
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <WwEditor />

  <Divider />

  <WwAi />

  <Divider />

  <WwComponents />

  <Divider />

  <section>
    <div class="container">
      <div class="inner-container pb-[200px]">
        <ProjectHeader
          name="Snippets"
          showBadge={false}
          description="A collection of snippets that I've written over the years."
          accentColor="#341D65"
        />

        <div>
          <div class="masonry">
            <div class="masonry-item">
              <Tsushima />
              <div class="text-black/80 text-[10px] pt-2 uppercase">
                threejs dissolve effect from Ghost of Tsushima
              </div>
            </div>
            <div class="masonry-item">
              <img
                src="/branding-04.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>

            <div class="masonry-item">
              <img
                src="/branding-01.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
            <div class="masonry-item">
              <img
                src="/branding-02.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
            <div class="masonry-item">
              <img
                src="/branding-03.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>

            <div class="masonry-item">
              <img
                src="/GSH-TCpWYAAr_Jt.jpeg"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
          </div>
          <div class="w-full flex justify-center">
            <a href="/snippets" class="text-primary underline"
              >See all snippets</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <Divider />
  <div class="h-12"></div>
</Layout>

<style>
  .masonry {
    column-count: 3;
    column-gap: 16px;
  }

  .masonry-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    .masonry {
      column-count: 2;
    }
  }

  @media (max-width: 480px) {
    .masonry {
      column-count: 1;
    }
  }
</style>
