---
import Layout from "../layouts/Layout.astro";
import ProjectHeader from "../components/ProjectHeader.astro";
import WwComponents from "../components/WwComponents.astro";
import WwEditor from "../components/WwEditor.astro";
import WwAi from "../components/WwAi.astro";
import Tsushima from "../components/tsushima/Tsushima.astro";
import Divider from "../components/Divider.astro";
---

<Layout title="Home">
  <div class="h-[8px]"></div>
  <Divider />
  <section>
    <div class="container">
      <div class="inner-container min-h-[80vh] py-4">
        <div class="flex items-center text-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="64"
            height="64"
            fill="none"
            viewBox="0 0 64 64"
          >
            <path
              stroke="#000"
              stroke-dasharray=".21 .83"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M32 55.453c12.953 0 23.453-10.5 23.453-23.453 0-12.952-10.5-23.453-23.452-23.453-12.953 0-23.453 10.5-23.453 23.453S19.048 55.453 32 55.453Z"
            ></path>
            <path
              stroke="#000"
              stroke-dasharray=".21 .83"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M32 54.41c12.377 0 22.41-10.033 22.41-22.41S44.378 9.59 32 9.59 9.59 19.623 9.59 32 19.623 54.41 32 54.41Z"
            ></path>
            <path
              stroke="#000"
              stroke-dasharray=".21 .83"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M32 53.368c11.8 0 21.367-9.567 21.367-21.368 0-11.801-9.566-21.368-21.368-21.368-11.8 0-21.368 9.567-21.368 21.368 0 11.801 9.567 21.368 21.368 21.368Z"
            ></path>
            <path
              stroke="#000"
              stroke-dasharray=".21 .83"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M32 55.453c12.953 0 23.453-10.5 23.453-23.453 0-12.952-10.5-23.453-23.452-23.453-12.953 0-23.453 10.5-23.453 23.453S19.048 55.453 32 55.453Z"
            ></path>
            <path
              stroke="#000"
              stroke-dasharray=".21 .83"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M32 56.703c13.643 0 24.703-11.06 24.703-24.703 0-13.643-11.06-24.704-24.704-24.704C18.357 7.296 7.297 18.356 7.297 32c0 13.643 11.06 24.703 24.704 24.703Z"
            ></path>
            <path
              stroke="#000"
              stroke-dasharray=".21 .83"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M32 54.41c12.377 0 22.41-10.033 22.41-22.41S44.378 9.59 32 9.59 9.59 19.623 9.59 32 19.623 54.41 32 54.41Z"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M58.06 32c0 14.392-11.668 26.059-26.06 26.059-14.391 0-26.058-11.667-26.058-26.06 0-14.39 11.667-26.058 26.059-26.058 14.392 0 26.058 11.667 26.058 26.059Z"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M63.896 32c0 17.615-14.28 31.896-31.896 31.896S.104 49.616.104 32 14.384.104 32 .104C49.615.104 63.896 14.384 63.896 32Z"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width=".208"
              d="m27.215 4.713-1.787.378-.37-1.52.602-.132.164.753.642-.127-.309-1.542-1.29.287-1.324.363-1.202.373.511 1.49.577-.184-.243-.75.585-.194.446 1.517-1.685.544-1.686.678-.629-1.433.57-.234.293.713.61-.236-.572-1.465-1.22.506-1.242.587-1.119.577.763 1.378.536-.281-.37-.696.543-.293.703 1.417-1.567.828-1.543.959-.868-1.301.52-.33.412.651.56-.339-.818-1.343-1.114.711-1.12.794-1.002.761.99 1.226.48-.37-.486-.621.484-.384.938 1.274-1.402 1.092-1.357 1.218-1.082-1.13.456-.416.519.57.493-.431-1.04-1.18-.974.894-.964.976-.854.925 1.188 1.034.408-.448-.586-.527.409-.461 1.146 1.09-1.18 1.304-1.114 1.42-1.26-.926.376-.488.61.471.41-.51-1.227-.983-.805 1.05-.781 1.128-.681 1.058 1.349.813.324-.511-.668-.418.323-.526 1.317.876-.943 1.501-.857 1.604-1.402-.694.286-.546.682.359.316-.574-1.38-.754-.61 1.172-.573 1.248-.488 1.16 1.47.566.23-.56-.73-.295.227-.573 1.45.633-.67 1.648-.568 1.735-1.5-.439.186-.587.734.234.211-.62-1.49-.503-.396 1.261-.348 1.328-.277 1.228 1.546.302.129-.592-.771-.164.124-.604 1.537.372-.37 1.728-.256 1.795-1.555-.172.082-.61.764.103.1-.648-1.555-.236-.171 1.31-.112 1.369-.06 1.257 1.574.029.025-.605-.788-.028.017-.616 1.58.1-.067 1.778.059 1.824-1.561.102-.025-.616.77-.031-.013-.655-1.573.037.059 1.32.127 1.367.159 1.249 1.556-.245-.081-.6-.78.11-.09-.61 1.571-.177.243 1.754.374 1.778-1.52.37-.132-.601.753-.165-.126-.642-1.543.31.287 1.29.363 1.324.373 1.201 1.49-.51-.184-.578-.75.244-.194-.586 1.518-.446.544 1.685.677 1.686-1.432.629-.235-.57.714-.293-.237-.61-1.465.572.507 1.22.587 1.242.576 1.119 1.379-.763-.282-.536-.696.37-.293-.543 1.417-.703.828 1.566.96 1.544-1.302.868-.33-.52.652-.413-.34-.56-1.343.818.711 1.115.794 1.12.762 1.002 1.225-.99-.37-.48-.621.485-.383-.483 1.273-.939 1.092 1.403 1.218 1.358-1.13 1.081-.415-.455.57-.52-.432-.492-1.18 1.04.894.973.977.965.924.854 1.034-1.189-.448-.407-.527.586-.461-.41 1.09-1.146 1.305 1.18 1.42 1.114-.927 1.26-.488-.376.471-.61-.51-.41-.983 1.227 1.05.805 1.128.781 1.058.681.813-1.349-.511-.323-.418.668-.525-.324.876-1.317 1.5.943 1.604.857-.693 1.402-.546-.286.358-.682-.574-.316-.754 1.38 1.173.61 1.247.573 1.16.487.567-1.47-.56-.23-.296.73-.573-.226.633-1.45 1.648.67 1.735.568-.439 1.501-.587-.186.234-.735-.62-.211-.503 1.49 1.261.396 1.328.348 1.228.277.302-1.546-.592-.129-.164.771-.604-.124.372-1.537 1.728.37 1.795.257-.172 1.554-.61-.081.103-.764-.648-.101-.236 1.555 1.31.172 1.369.112 1.257.06.029-1.575-.605-.024-.028.787-.616-.017.1-1.579 1.778.066 1.825-.06.1 1.562-.615.025-.031-.77-.655.013.037 1.573 1.32-.06 1.367-.126 1.249-.159-.245-1.556-.6.08.11.781-.61.09-.177-1.572 1.754-.242 1.779-.374.37 1.52-.602.131-.164-.753-.643.127.31 1.542 1.29-.287 1.324-.363 1.202-.373-.511-1.49-.577.184.243.75-.585.194-.447-1.517 1.685-.544 1.686-.677.629 1.432-.57.234-.293-.713-.61.237.572 1.465 1.221-.507 1.241-.587 1.119-.576-.762-1.379-.537.281.37.696-.542.294-.703-1.417 1.566-.828 1.544-.96.867 1.302-.52.33-.412-.652-.56.339.818 1.343 1.114-.71 1.12-.794 1.002-.762-.99-1.225-.48.37.486.62-.484.384-.938-1.273 1.403-1.092 1.357-1.219 1.081 1.13-.455.416-.519-.57-.493.432 1.04 1.18.973-.895.965-.976.854-.925-1.188-1.034-.408.448.586.527-.41.462-1.145-1.09 1.18-1.305 1.114-1.42 1.26.927-.376.488-.61-.472-.411.51 1.228.983.804-1.049.782-1.129.68-1.058-1.348-.813-.324.512.668.418-.323.525-1.318-.876.943-1.501.858-1.604 1.402.694-.286.546-.683-.359-.316.574 1.38.755.61-1.173.574-1.247.487-1.16-1.47-.567-.23.56.73.295-.227.574-1.45-.634.67-1.648.568-1.734 1.501.438-.186.587-.735-.234-.211.62 1.49.503.397-1.261.347-1.328.278-1.227-1.547-.302-.129.591.771.164-.124.604-1.537-.371.37-1.729.257-1.795 1.554.172-.081.61-.764-.102-.101.647 1.555.236.172-1.31.112-1.369.06-1.257-1.575-.029-.024.605.787.028-.017.616-1.579-.099.066-1.779-.059-1.824 1.56-.102.026.616-.77.031.013.655 1.573-.037-.059-1.32-.127-1.367-.159-1.249-1.556.245.081.6.78-.11.09.61-1.571.177-.243-1.754-.374-1.778 1.52-.37.132.601-.754.165.127.642 1.543-.31-.288-1.29-.362-1.324-.373-1.201-1.49.51.184.578.749-.244.195.585-1.518.447-.544-1.685-.677-1.686 1.432-.629.235.57-.713.293.236.61 1.465-.572-.507-1.22-.587-1.242-.576-1.119-1.378.763.28.536.697-.37.293.543-1.417.703-.828-1.566-.96-1.544 1.302-.868.33.52-.652.413.34.56 1.343-.818-.712-1.115-.793-1.12-.762-1.002-1.225.99.37.48.621-.485.383.483-1.273.939-1.092-1.403-1.219-1.358 1.13-1.08.416.454-.57.52.432.492 1.18-1.04-.894-.973-.977-.965-.924-.854-1.035 1.189.448.407.528-.585.46.409-1.09 1.146-1.304-1.18-1.42-1.114.927-1.26.488.376-.472.61.51.41.983-1.227-1.049-.805-1.128-.781-1.058-.681-.813 1.349.511.324.418-.668.525.323-.876 1.317-1.5-.943-1.604-.857.693-1.402.546.286-.358.682.574.316.754-1.38-1.173-.61-1.247-.573-1.16-.487-.567 1.47.56.23.296-.731.573.227-.634 1.45-1.648-.67-1.734-.568.438-1.501.588.186-.234.735.62.211.502-1.49-1.26-.397L39.13 2.8l-1.227-.278-.302 1.547.592.129.163-.771.605.124-.372 1.537-1.728-.37-1.796-.257.172-1.554.61.081-.103.764.648.101.236-1.555-1.31-.172-1.369-.112-1.257-.06-.029 1.575.605.024.028-.787.616.017-.1 1.579-1.777-.066-1.824.06-.101-1.561.615-.026.031.77.655-.013-.037-1.572-1.32.058-1.367.128-1.248.158.244 1.556.6-.08-.11-.78.611-.09.176 1.571-1.763.246"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M19.706 17.264c.173-.55.6-1.398.96-1.819.702-.821 1.224-1.321 2.33-1.91.143.702.491 1.422.462 2.676-.028 1.19-.688 1.77-1.536 2.433"
            ></path>
            <path
              fill="#000"
              fill-rule="evenodd"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M24.957 30.505c-1.594 0-1.94.983-3.4.983-.152 0-.245-.116-.371-.116-.171 0-.16.107-.16.182 0 .076.195.118.195.2 0 .082-.07.078-.07.146 0 .07 1.065.535 1.558 1.143.156.193.833.225 1.224.226 1.565.005 1.172-.409 2.508-.409.694 0 .526.317 1.112.317.195 0 .2.088.353.09.112 0 .155-.034.155-.31 0-1.214-1.952-2.452-3.104-2.452Z"
              clip-rule="evenodd"></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M40.902 45.615c-1.276 1.57-1.162 2.169-5.096 4.644-.95.598-.848.718-1.781 1.324-.948.615-1.005.44-2.129.668"
            ></path>
            <path
              fill="#000"
              fill-rule="evenodd"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M38.199 30.505c1.594 0 1.94.983 3.4.983.152 0 .245-.116.371-.116.171 0 .16.107.16.182s-.196.118-.196.2c0 .082.07.078.07.146 0 .07-1.064.535-1.557 1.143-.156.193-.834.225-1.224.226-1.565.005-1.172-.409-2.508-.409-.694 0-.526.317-1.113.317-.194 0-.2.088-.352.09-.112 0-.155-.034-.155-.31 0-1.214 1.952-2.452 3.104-2.452Z"
              clip-rule="evenodd"></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M27.331 44.407c.152.108.242.166.896.166.653 0 1.166-.376 1.88-.376.713 0 .916.522 1.935.522.467 0 .82-.34 1.5-.34.407 0 .968.296 1.716.296.282 0 .435-.065.524-.133m-4.346.374c.17.23.297.335.297 1.073"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M29.056 45.931c.183.132.672.367 1.633.367.707 0 .685-.146 1.174-.146.639 0 .613.195 1.118.195.505 0 .87-.501 1.016-.705M22.068 30.776c1.249.03 1.294-.651 2.533-.908 1.316-.273 2.789.565 3.035.687m-7.133-.813c.634-.577 1.488-.342 1.638-.313-.854.23-.993.272-1.325.624m1.387-1.173c1.362-.88 1.5-.2 2.049-.298.336-.06.363-.25 1.894.235.12.038.837.266 1.55.316.728.05.771-.077 1.114-.35"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M25.283 28.581c.216.027 1.458.235 2.012-.315m.415.884c.06.187.05.226.329.333.424.163.436.084.864-.081m1.981-1.246c.024.42.123.463-.158.779-.253.284-.697.497-.905.628m-1.559 1.827c-.05.33.177.25.292.568.185.509-.059.97-.098 1.044.148-.091.468-.186.79-.787.563-1.052.457-1.63-.63-2.142"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M28.75 30.767c.107.072.295.463.327.541.235.573.193.6.21.749m.896-.333c.037.084.25.577-.07 1.15-.445.799-.206 1.179-.071 1.575m3.608-2.569c-.125.205-.592.628-.25 1.475.322.8.673 1.076-.134 2.684m-1.12-10.648c.135.205.52 1.113.61 2.133.082.928-.118.974.31 1.793"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M32.8 28.408c.078.173.04.298.864.737m.362 1.582c.035-.639.58-.923.664-.966"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M34.17 30.282c.15-.062.145-.128.416-.066m1.035 1.112c.428-.908.687-1.05 1.902-1.313 1.502-.324 2.921.571 3.14.709"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M35.136 30.96c.624-.064.566-.265.936-.401m-.519-.206c.334.007.337-.016.648.111m-2.471 2.258c-.017.356.031.37-.199.798m.461.118c.013.56.027.583-.209.936m-3.121 3.233c-.138.206-.072.605-.07.737-.069-.042-.898-.555-.986.18m4.828-.061c-.587-.651-.83-.098-1.093-.187-.323-.11-.227-.787-.227-.816m-3.408 2.477c.11-.04.619-.261.994.044m-1.1.668c-.883-.046-1.014-.431-1.189-1.12m6.423-.067c.222.83-.386 1.069-.476 1.104m-2.832-.159c.538.368.96-.03 1.123-.15.359-.266.664-.164 1.25-.298m-2.841.889c0 .035.08.505-.002.853m1.408-.78c-.061.318-.036.312.019.64m-4.273 2.064c1.585-.977 1.858-1.574 2.886-1.164.626.25 1.139-.304 1.792-.098.672.213 1.052.874 2.065 1.335m-6.348 4.472c.818-.189.904-.244 1.22-.604m1.653-.225c.103-.026.702-.18 1.315.21.691.44.693.458 1.498.578M24.41 33.73c1.221.322 1.26-.332 2.489-.028m9.999.035c.457-.226 1.126.095 1.407.157.708.157 1.29-.098 1.476-.136m-1.525.889c.499-.271.523-.02 1.208.056m.814-.368c.227-.02.323-.07.708.041m-3.668-5.352c1.232-.698 1.96-1.13 2.738-.963 1.543.329 1.267 1.083 2.833 1.262"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M39.643 28.425c.416-.021.576.047.817-.18m-.55.725c.615-.27.813.05 1.112-.465m-6.522.655c.634.418 1.57-.096 1.645-.16.728-.622.805-.835 1.671-.832.555.002.626.17.66.2"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M34.706 28.479c.91.293 1.225.3 1.77.226m-.676-.978c.288.38.426.522.931.71m.228-3.561c.161 2.26 2.586 1.976 3.211 1.618m-19.566 18.57c.614-2.414-1.636-2.705-2.096-2.243-.269.27-.56 1.364-.031 1.554.197.071 1.24.012.92-.914-.044.049-.693.778-.76.299-.067-.495 1.14-1.102 1.086.524-.033.998-.35 1.333-1.893 1.342-.784.005-.908-.049-1.478-.468-.655-.48-.763-.873-.894-1.12m.104-5.095c.026.42.338.732.631.774 1.374.2 2.226.684 2.349.892.195.329.38 1.486-.442 1.168-3.262-1.264-3.317.843-3.035 1.69"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M17.03 39.887c1.275-.254 1.476-.252 2.386.642.314.309.644 1.863-.574 1.724-.805-.092-1.964-.65-2.735-.068-.003.002-.424.213-.511.883-.14 1.076 1.297 1.304 1.545.99.191-.243.158-.828.147-.907-.054-.385-.242-.563-.37-.733m-1.827 1.102c-.147-.618-1.324-1.867-.463-2.493.148-.108 1.714-.721.426-1.52-.276-.171-1.117-.436-1.383-.798-.191-.26-.204-1.283-.205-1.396"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M13.704 38.668c-.083.412.074 1.43.158 1.704.173.567.662.924.69.95m-1.902-5.484c-.044.804.11 1.374.272 2.525.165 1.163.796 2.199.902 2.372"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M13.704 32.86c-.564.258-1.412 1.006-1.479 1.506-.118.887.326 2.163.479 2.471.534 1.078 1.161 1.217 1.602 1.366m4.899.554c.759-.835.794-.857.914-1.998.127-1.218-1.383-2.09-2.09-1.9-.027.007-.803.145-.746.831.025.294.467.395.497.078"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M15.526 34.535c.034 1.356.552 2.312.87 2.419.861.29 1.361-.023 1.46-.086.463-.289.604-1.143.622-1.254"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M17.638 34.927c-.246-.256-.829.207-.735 1.115.045.433.787.305.975-.315"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M15.13 35.51c.12 1.44.086 1.858 1.592 2.287.555.159 1.773.018 2.03-.224.946-.893.53-2.196.47-2.38"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M19.355 35.243c.964 2.161-.713 3-1.197 3.354m-3.408-5.174c-1.128 2.222-.335 2.96-.311 3 .52.883 1.49 1.183 2.79 1.768m-1.039-9.209c-.868.514-1.26.607-.727 1.464.398.64 1.268 1.373.12 2.54"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M14.555 31.401c.053-.05.331-.32.863-.288.351.022.627.375.666.424m.032-1.185c.377.358.65.813.135 1.311"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M17.016 29.927c.55.975 1.504 2.302-1.249 3.57-1.06.488-.912.695-1.124 1.847"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M17.443 30.413c.274.26.902 1.304.423 1.822-.485.524-.915.484-.9 1.48m-.054-.77c-.7.477-.95.68-.97 1.235m3.898-4.768c-.704.867.29 1.352.454 2.685.073.593-.2 2.178-2.488 1.628"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M19.942 33.471c.018.089.17.855.022 1.127-.149.272-.684.367-.85.42m2.455-9.683c-.573 1.827-3.689.872-3.713 3.243-.014 1.314 1.788 1.12.852 3.461-.019.046-.175.437-.273.558l-.316.31c1.285-.358 1.575-.29 1.88-1.645m-4.509-4.221c-.607 2.11-2.396 1.43-2.028 3.473.086.478.82 2.038.115 3.333-.501.921-.902 2.11.44 3.38m3.896-10.697c.684-1.065 1.038-.396 2.265-.74"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M18.426 26.704c.87-.365.88-.4 1.726-.26m-1.626 3.3c.287-.99.253-2.139 1.417-2.425 1.306-.321 2.47-.252 3.328-.545 1.916-.655-.013-5.206 1.727-5.464 1.084-.161 5.367 3.192 5.48-1.213"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M19.493 28.412c.509-.665 1.752-1.232 2.463-1.235 1.049-.005 1.313.36 1.793-.572m6.925-4.779c-1.043.752-1.458.661-2.448.509m-3.49-1.563c.065-.06.431-.403 1.11-.08.956.455 1.491.103 1.859-.064m-3.457 1.743c.69-.597.726-.536.887-.59m-.879 1.804c.287-.42.35-.683 1.038-.975m-2.825-.839c.525.675.73 1.72-.151 2.701"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M22.106 21.776c.052.787.425.84.649.96m.039-2.949c-.095.097-.34.346-.51 1.434m1.3.2c.79-.963.936-1.255 2.085-1.478M19.651 22.4c-.24.149-1.888.88-.479 2.108"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M17.943 22.565c.865-.608 1.912-1.465 3.179-.444 1.672 1.348.064 2.649.053 2.66.181-.552.135-.545.122-1.14m-.049-1.421c-.38-1.667.356-1.982 1.257-2.665m-.821-.168c.387-.637.85-.543 1.35-.634M16.517 26.6c-.059-.178-.694-2.111.087-2.333.887-.252 1.01 1.358 1.067 1.669.272-1.818-.833-1.871-.132-3.579m-1.681 2.016c-.217-.319-1.929-.333-1.99-.08-.438 1.791.966 3.35 1.144 3.595"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M14.6 24.686c.406.589.393.573.718 1.197m1.63-5.176c-.416-.99-.84-1.173-1.747-1.812-.153 1.036-.248 1.4-.395 2.198-.2 1.093.045 1.884.513 2.935"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M15.935 20.912c-.044 1.052.101 1.154.753 1.793m.664-1.107c-.44-.977-.445-.976-.45-1.017-.273-2.231 1.677-4.259 1.958-4.094 1.905 1.12.956 3.578.834 4.077"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M17.703 19.897c-.079.477.09.951.311 1.266m.508-.685c-.085-1.158-.154-2.052.242-3.13m3.321-1.835c.032.178-.13 1.766-.35 2.231-.555 1.177-1.006 1.398-1.452 2.281M28.628 14c-1.517 2.6-2.123 2.634-3.765 3.226m-1.023.355c.162-1.221.369-2.389.405-2.615m-1.102-.942c.434-.283 1.003-.724 1.309-1.126.542.916.557.895.88 1.904"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M27.427 12.91c-.081-.411-.058-.879-.015-1.569-1.999.373-3.291.834-4.246 2.47"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M24.756 17.39c.482-2.637.36-3.206 2.89-4.52 1.045-.543 3.33-.905 3.369-.736.024.11-.652 2.96-1.98 4.084-.863.73-1.928 1.256-4.28 1.173Z"
              clip-rule="evenodd"></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M30.35 16.931c-.408-.13-.546.023-.765.088M17.048 27.686c-1.837.07-1.79-2.746-.79-3.741.454-.453.352-1.966 1.729-2.762.742-.429 1.608-.505 1.777-.577.187-.081 1.425-2.188 4.346-3.1.683-.214 1.214.46 5.043-.475"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M21.25 19.791c-1.098.867-.8 1.552-.644 1.93m8.39-4.182c-2.01.995-2.12.52-4.36.737.942.4 1.703.984 4.466.186 1.34-.388 2.639-2.1 2.816-2.334-.79-.222-1.772-.14-1.813-.14"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M31.106 17.156c-.618.8-.59 1.106-3.033 2.026-1.15.433-1.788.16-3.05-.207"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M30.706 13.712c.748-.245 1.757-.765 2.38-.781 5.325-.14 6.681 2.811 6.388 3.035-1.844 1.406-4.378.89-4.756.812-1.829-.373-2.681-1.474-4.012-3.066Z"
              clip-rule="evenodd"></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M33.478 14.469c.153-.021.788-.364 3.049.368 2.108.683 2.61.895 2.831.989m-5.72.058c1.172.442 2.064.657 4.043.472m-4.366-3.425c-.06-.17.03-.29-.62-1.028.224-.024 1.247-.137 2.781.385 1.278.436 1.586.892 1.96 1.237m.179.215c-.095-.232-.492-1.223-.872-2.022.322.092 1.985.563 3.728 1.909.227.175 1.436 1.077 1.657 3.441-2.016-.289-2.234-.695-2.537-1.116m-1.96-3.343.425.392"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M38.378 13.48c1.667.894 2.257 2.846 2.348 3.147m.79-1.953c.075-.105.237-.151.541-1.566 2.382 1.632 2.501 2.636 2.538 2.944.254 2.143.37 2.956-1.197 3.551-.145-1.163-.737-1.918-1.192-2.478"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M43.218 15.294c.22 1.224.668 2.169.11 4.079m-9.304-2.797c-.084.26-.192 1.573.51 2.049m1.732.073c.942.428 1.32.315 1.63.3m-4.886-.965c-.065 1.084.625 1.925.736 2.06"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M33.961 19.663c-.564-.285-.527-.346-.81-.577m-1.187-1.292c-.614 1.805.356 2.886 1.208 4.054-.6-.329-2.605-.975-1.412-3.838m6.799 2.928c-.168-2.14-2.772.258-3.741.073"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M35.018 20.553c.428.198.425.175.89.199m-.502-.719c.815.273.853.306 1.501.245m-4.402-.611c1.595 2.348 1.893 2.493 4.696 1.967.745-.14 1.545.532.914 1.694-1.155 2.128.056 2.852 1.37 2.72.867-.086 2.861-1.117 3.279.076"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M35.955 21.8c.795-.195 2.461-.953 2.884.41m-1.051 1.981c.287 1.23 1.425 1.45 2.67 1.574m-.48-2.803c.533 1.098.682 1.032 1.985 1.303-2.004.203-2.252-.676-2.378-.842m-.747-5.968c.943 1.484 2.378.862 2.916 2.17.38.92-.5 1.135-1.11 2.476.062-.167.46-1.244.126-2.222-.129-.376-1.003-.481-1.099-.493"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M38.166 18.003c3.42.454 3.206 1.87 3.173 3.017"></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M40.45 17.363c2.026 1.17 3.192 1.544 2.826 3.068-.204.851-3.587 2.332-1.646 3.165m2.946-4.878c.916-.642 1.322-1.26 1.577-2.29 2.787 2.409-1.173 4.646-.216 5.667.94 1.002.542 1.309 1.06 1.7.91.685 1.23.517 1.642-.55.496-1.285.017-3.633-.742-4.903-.41.502-.387.517-.907.91"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M47.293 19.948c.013.937.283.9.228 1.836-.092 1.563-.211 1.6-.164 2.195m-3.975-2.849c1.99.89 2.949.994 3.247 2.313.259 1.144-.902 2.022-1.054 2.137 1.8-2.832-1.35-3.68-2.327-3.984"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M42.523 22.841c1.201.858 1.737.027 2.416.899.468.6.148.673-.6 2.546.38-1.194-.174-2.184-.23-2.234-.572-.5-1.328-.277-1.493-.724"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M42.405 24.113c1.73-.904.616 3.414 3.103 3.12.419-.05.711-.366.766-.468.091-.17-.11-.765-.13-.829.942 1.086.15 2.017-1.553 1.146-1.814-.928-.977-1.735-1.636-2.776m-1.56 2.623c1.71 1.483 3.275 3.064 1.381 5.647-.736 1.003-.447 1.51.022 2.193.672.977 1.068 1.045 2.073 1.523"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M42.063 26.972c1.367 1.263 1.43 1.37 1.65 3.1"></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M43.146 27.474c.834 1.014.845 1.08.655 2.386-.227 1.568 1.584 2.174 2.876 1.163.893-.7 1.214-2.828-.823-2.231"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M46.201 29.35c.01.942-.92.432-.952.247-.382-2.131 3.203-1.84 3.248-.067.025.998-.924 1.525-1.019 1.604m-4.042 4.414c.235 1.564 3.404 1.395 1.24 3.367-.19.172-.436.595-.36.926.24 1.046 1.025.725 1.263 2.558"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M45.369 41.47c-1.075 1.573-2.233-1.508-5.075.795-.276.223-1.152 2.225.57 3.25.457.272 2.022.175 3.544-.297"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M40.86 41.953c-.615 1.035.07 2.256.15 2.426.672 1.403 2.721.806 3.036.763m-1.396-2.549c-.124.995.008.999.502 1.489"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M41.605 43.492c.738 1.4 1.183.696 2.334.925.796.158 1.916.903.963 2.057"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M44.186 46.467c.428-.387.341-.786.242-.774-.285.036-1.752.08-1.456 1.156.25.907 2.881 1.076 3.25-.326.419-1.586-1.112-2.137-1.218-2.203"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M45.71 45.386c-.022.319.194 1.375-1.093 1.473-.124.01-1.086.083-1.467-.54m3.059-5.132c.113.032 1.113.175.937 1.05-.132.658-.389.446-2.2 1.037m-.86-9.261c.672 1.856 2.054.804 2.506 2.47.27 1-.029 1.57-.092 1.69-.16.306-.86.686-.943.732.66-.17 1.46-.289 1.744-.987.585-1.433-.202-1.757-.306-1.861m-2.466-4.692c-.627.581-2.183 1.71-1.604 3.372"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M43.517 31.342c.068 1.686-.718 2.203-.16 3.227.637 1.17 1.613.353 2.636 2.679m.912-5.304c-.448.713-1.359 2.051.215 2.709m1.766-14.145c.368-.25.39-.219.602-.602.656.666 2.148 3.838-.545 5.784-.966-1.307-1.04-1.24-1.157-1.342"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M49.235 21.793c.04.816.086 1.412-.837 2.993m1.12.581c.828-.087 1.087-.061 1.456-.414.506 1.702.418 2.214-.855 3.429-.13-1.491-.862-2.336-1.004-2.499"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M50.314 25.861c-.231.425-.236.414-.601.74m.364 1.656c.148.657-.174 1.028-.73 1.92"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M50.042 29.003c.894 1.209-.314 3.502.962 5.454.239.365 1.74 1.957.415 3.595-1.157 1.431-4.328.977-3.863 2.562.068.235 1.604.724 1.647 1.906.04 1.12-.789.954-3.165 1.785"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M50.09 35.358c1.65 4.858-3.625 2.703-4.026 4.639-.25 1.206 1.588.584 2.454 2.072.165.284-.386.893-.443.955-.979 1.082-.818 1.205-1.829 2.25m3.341-12.847c-.203 1.063.43 1.054.905 1.19"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M50.345 30.576c-.272 1.192-1.433 1.487-1.634 2.117-.308.966.646.469 2.037 2.026"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M50.437 30.523c-.832 1.6-1.939 1.004-3.164 2.043-.576.487-.051 1.477.438 1.737.358.19 2.828.893 4.11 2.777"
            ></path>
            <path
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
              stroke-width=".208"
              d="M47.989 32.669c-.244.875-.308 1.023.247 1.794m.099-1.208c.017.16.078.76 1.02 1.727m-2.891-17.49c.09 1.225-.31 1.095-1.106 2.012-.847.977-.635 1.987-.621 2.147M20.206 36.693c.477 1.89-.505 3.372 1.3 6.638 1.016 1.839 1.045 2.723 4.06 5.678 3.056 2.997 4.43 3.082 6.211 3.23m-12.734-35.68c.219-.494.784-2.23 2.433-3.324.276-.183.488.013.657.73m4.283-1.535c-.325.245-1.072.703-1.243 1.771"
            ></path>
            <path
              fill="#fff"
              fill-rule="evenodd"
              d="M24.822 31.152c-.188.02-.662-.028-.954.478-.058.1-.54.936 1.037 1.002.338.015.983.03 1.146-.811.097-.496-.563-.683-1.23-.669Z"
              clip-rule="evenodd"></path>
            <path
              fill="#000"
              fill-rule="evenodd"
              d="M24.82 31.077c.418-.009.832.062 1.075.228.182.124.276.299.231.53-.07.362-.226.575-.408.7-.269.187-.6.181-.816.172-.666-.028-.981-.196-1.12-.383-.22-.298-.017-.664.022-.731.31-.539.812-.495 1.011-.515a.11.11 0 0 1 .006 0Zm.008.15h-.001c-.178.017-.622-.03-.893.44-.016.028-.067.116-.091.227a.407.407 0 0 0 .06.341c.124.166.411.297 1.006.322.19.008.486.02.724-.145.156-.108.285-.294.346-.606.04-.21-.086-.351-.287-.442-.227-.103-.545-.143-.864-.137Z"
              clip-rule="evenodd"></path>
            <path
              fill="#fff"
              fill-rule="evenodd"
              d="M38.402 31.197c-.137-.012-1.213-.196-1.2.614.02 1.155 1.75.993 2.056.533.18-.273.057-.39.035-.459-.199-.641-.861-.674-.891-.688Z"
              clip-rule="evenodd"></path>
            <path
              fill="#000"
              fill-rule="evenodd"
              d="m38.426 31.125.076.013c.205.04.692.174.863.725.005.014.014.03.024.05a.37.37 0 0 1 .041.172.556.556 0 0 1-.11.3c-.067.102-.196.194-.363.26a1.868 1.868 0 0 1-.84.113c-.511-.05-.978-.323-.989-.946a.667.667 0 0 1 .121-.422c.114-.153.294-.232.483-.268.294-.056.606-.006.677 0a.05.05 0 0 1 .017.003Zm-.038.144.008.002c-.066-.005-.36-.054-.636-.002-.152.03-.3.088-.39.21a.523.523 0 0 0-.092.33c.01.533.417.757.853.8.271.026.555-.017.77-.103a.63.63 0 0 0 .295-.204.416.416 0 0 0 .084-.219c0-.054-.02-.092-.034-.121a.379.379 0 0 1-.024-.055c-.148-.475-.571-.587-.748-.621a3.398 3.398 0 0 1-.086-.017Z"
              clip-rule="evenodd"></path>
          </svg>

          <!-- <a href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="10"
              fill="none"
              viewBox="0 0 28 10"
            >
              <path fill="currentColor" d="M24 7V6h4v1h-4Z"></path>
              <path fill="currentColor" d="M24 7V6h4v1h-4ZM0 7V6h4v1H0Z"></path>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M18 3h6v4h-1V4h-4v3h-5V6h4V3Zm-8 0H4v4h1V4h4v3h5V6h-4V3Z"
                clip-rule="evenodd"></path>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M27 1H1v8h26V1ZM0 0v10h28V0H0Z"
                clip-rule="evenodd"></path>
            </svg>
          </a> -->

          <!-- <div class="flex flex-row gap-4 ml-3">
            <a href="/snippets">Snippets</a>
            <a href="/contact">Contact</a>
          </div> -->
        </div>

        <div class="flex flex-col w-full max-w-[800px] mt-[100px]">
          <h1 class="mb-2 mt-4">
            Software developer and designer looking to make the world a better
            place through technology.
          </h1>
          <p>
            Currently working at weweb on enabling anyone to build applications
            through a visual interface.
          </p>
        </div>
      </div>
    </div>
  </section>

  <Divider />

  <WwEditor />

  <Divider />

  <WwAi />

  <Divider />

  <WwComponents />

  <Divider />

  <section>
    <div class="container">
      <div class="inner-container pb-[200px]">
        <ProjectHeader
          name="Snippets"
          showBadge={false}
          description="A collection of snippets that I've written over the years."
          accentColor="#341D65"
        />

        <div>
          <div class="masonry">
            <div class="masonry-item">
              <Tsushima />
              <div class="text-black/80 text-[10px] pt-2 uppercase">
                threejs dissolve effect from Ghost of Tsushima
              </div>
            </div>
            <div class="masonry-item">
              <img
                src="/branding-04.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>

            <div class="masonry-item">
              <img
                src="/branding-01.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
            <div class="masonry-item">
              <img
                src="/branding-02.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
            <div class="masonry-item">
              <img
                src="/branding-03.png"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>

            <div class="masonry-item">
              <img
                src="/GSH-TCpWYAAr_Jt.jpeg"
                alt="Tsushima"
                class="w-full h-auto"
              />
            </div>
          </div>
          <div class="w-full flex justify-center">
            <a href="/snippets" class="text-primary underline"
              >See all snippets</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <Divider />
  <div class="h-12"></div>
</Layout>

<style>
  .masonry {
    column-count: 3;
    column-gap: 16px;
  }

  .masonry-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    .masonry {
      column-count: 2;
    }
  }

  @media (max-width: 480px) {
    .masonry {
      column-count: 1;
    }
  }
</style>
