---
import AiToggle from "../components/ww/AiToggle.vue";
---

<html>
  <body class="!cursor-none">
    <section
      class="flex items-center justify-center m-3 cursor-none aspect-video"
    >
      <AiToggle client:load />
    </section>
  </body>
</html>
