---
import AiToggle from "../components/ww/AiToggle.vue";
import WwChat from "../components/ww/WwChat.vue";
---

<html>
  <body>
    <section class="flex items-center justify-center m-3 aspect-video">
      <AiToggle client:only="vue" />
    </section>
    <section
      class="flex items-center justify-center m-3 aspect-video bg-neutral-50 p-6"
    >
      <WwChat client:only="vue" />
    </section>
  </body>
</html>
