---
import Layout from "../layouts/Layout.astro";
import Illustration from "../components/Illustration.astro";
import WwComponents from "../components/WwComponents.astro";
import WwEditor from "../components/WwEditor.astro";
import WwAi from "../components/WwAi.astro";
import logo1 from "../svg/logo-1.svg?raw";
import logo2 from "../svg/logo-2.svg?raw";
import logo3 from "../svg/logo-3.svg?raw";
---

<Layout title="Welcome to Astro.">
  <section
    class="lg:absolute lg:top-0 lg:left-0 w-full z-[999] bg-gradient-to-b from-white via-white uppercase text-xs h-[110px]"
  >
    <div class="container flex flex-row justify-between mt-4">
      <span class="mb-2 uppercase">Luka Ivanovic © 2024</span>
      <div class="flex flex-row gap-24 text-light">
        <a href="https://www.linkedin.com/in/lukaivanovic0/">LinkedIn</a>
        <a href="https://x.com/lukaivnvc">Twitter</a>
        <a href="mailto:hi@ivanovicluka.co">hi@ivanovicluka.co</a>
      </div>
    </div>
  </section>
  <!-- Hero -->
  <section
    id="hero"
    class="lg:h-[95dvh] lg:max-h-[920px] pb-[24px] lg:pt-[16px] pt-[56px] overflow-hidden relative"
  >
    <div
      class="container h-full flex flex-col-reverse justify-stretch xl:flex-row gap-12 lg:gap-4"
    >
      <div class="flex flex-col justify-end w-full xl:w-1/2 z-10">
        <h1 class="mb-6 mt-4 max-w-[600px]">
          Software designer working at <a href="https://weweb.io">WeWeb</a> on enabling
          anyone to build applications through a visual interface.
        </h1>

        <span class="text-neutral-700">Worked with</span>
        <div class="flex flex-row gap-4 pt-2">
          <div class="h-[26px] md:h-[32px]">
            <Fragment set:html={logo1} />
          </div>
          <div class="h-[26px] md:h-[32px]">
            <Fragment set:html={logo2} />
          </div>
          <div class="h-[26px] md:h-[32px]">
            <Fragment set:html={logo3} />
          </div>
        </div>
      </div>
      <div class="flex-grow w-full h-[400px] lg:w-1/2 lg:h-full relative">
        <Illustration />
      </div>
    </div>
  </section>

  <WwEditor />

  <div class="dark-mode-section">
    <WwComponents />

    <WwAi />

    <section>
      <div
        class="container h-[500px] flex flex-col justify-end items-center py-8"
      >
        <span class="text-[var(--color-secondary)]">Luka Ivanović © 2024</span>
      </div>
    </section>
  </div>

  <script>
    const darkModeTriggers = document.querySelectorAll(".dark-mode-section");
    const body = document.body;

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            body.classList.add("dark-mode");
          } else {
            body.classList.remove("dark-mode");
          }
        });
      },
      { threshold: 0.1 }
    );

    darkModeTriggers.forEach((trigger) => {
      observer.observe(trigger);
    });
  </script>
</Layout>
