---
import pattern from "../svg/pattern.svg?raw";
---

<!-- Divider -->
<div class="container">
  <div class="border border-neutral-400 text-neutral-400 py-1 overflow-hidden">
    <Fragment set:html={pattern} />
  </div>
</div>
