---
import pattern from "../svg/pattern.svg?raw";
---

<div class="container">
  <div
    class="border border-[var(--color-border)] text-[var(--color-border)] py-1 overflow-hidden"
    style="transition: border-color 0.3s ease, color 0.3s ease;"
  >
    <Fragment set:html={pattern} />
  </div>
</div>
