---
import solarSystem from "../svg/solar.svg?raw";
import circle from "../svg/circle.svg?raw";
import apollon from "../svg/apollon.svg?raw";
---

<style>
  :root {
    --stroke-color: #dddddd;
    --stroke3-color: #b3b3b3;
    --apollon-stroke-color: #232323;
    --circle-stroke-color: #515151;
    --bg-color: white;
  }

  .planet-name {
    font-size: 1.25px;
  }
</style>

<div
  class="w-[1200px] h-[1200px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:w-[2400px] lg:h-[2400px]"
>
  <div
    class="w-[1300px] h-[1300px] absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2"
  >
    <Fragment set:html={solarSystem} />
  </div>
  <!-- Circle  -->
  <div
    class="absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 w-[260px] h-[260px]"
  >
    <Fragment set:html={circle} />
  </div>

  <div
    class="absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 w-[210px] h-[210px]"
  >
    <Fragment set:html={apollon} />
  </div>
</div>
