<style>
  :root {
    --stroke-color: #dddddd;
    --stroke3-color: #b3b3b3;
    --apollon-stroke-color: #232323;
    --circle-stroke-color: #515151;
    --bg-color: white;
  }

  .planet-name {
    font-size: 1.25px;
  }
</style>

<div
  class="w-[1200px] h-[1200px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:w-[2400px] lg:h-[2400px]"
>
  <!--Solar  -->
  <svg
    class="w-full h-full"
    viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg"
    style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
  >
    <defs>
      <radialGradient id="fade-out" cx="50%" cy="50%" r="50%">
        <stop offset="0%" stop-color="white" stop-opacity="0"></stop>
        <stop offset="25%" stop-color="white" stop-opacity="0.6"></stop>
        <stop offset="60%" stop-color="white" stop-opacity="0.6"></stop>
        <stop offset="100%" stop-color="white" stop-opacity="0"></stop>
      </radialGradient>
      <mask id="fade-mask">
        <rect x="0" y="0" width="100%" height="100%" fill="url(#fade-out)"
        ></rect>
      </mask>
    </defs>

    <g>
      <g style="transform: rotate(-20deg); transform-origin: center;">
        <!-- Oval (ellipse) -->
        <ellipse
          id="ellipse"
          cx="150"
          cy="150"
          rx="80"
          ry="44"
          fill="none"
          stroke="#b3b3b3"
          stroke-width="1"
          stroke-dasharray="6 3"
          vector-effect="non-scaling-stroke"></ellipse>
        <!-- Rotating circle -->

        <g>
          <animateMotion
            dur="25s"
            repeatCount="indefinite"
            path="M66,150a84,48 0 1,0 168,0a84,48 0 1,0 -168,0"></animateMotion>
          <circle r="1" fill="black">
            <!-- Animate the circle along the path of the ellipse -->
          </circle>
          <circle
            r="4"
            stroke="#b3b3b3"
            stroke-width="1"
            stroke-dasharray="6 3"
            vector-effect="non-scaling-stroke"
            fill="none"
          >
            <!-- Animate the circle along the path of the ellipse -->
          </circle>
          <text x="2" y="1" font-size="1.5" fill="black">M</text>
        </g>
      </g>

      <g style="transform: rotate(45deg); transform-origin: center;">
        <!-- Oval (ellipse) -->
        <ellipse
          cx="150"
          cy="150"
          rx="72"
          ry="32"
          fill="none"
          stroke="#b3b3b3"
          stroke-width="1"
          stroke-dasharray="6 3"
          vector-effect="non-scaling-stroke"></ellipse>

        <g>
          <animateMotion
            dur="35s"
            repeatCount="indefinite"
            path="M72,150a78,36 0 1,0 156,0a78,36 0 1,0 -156,0"></animateMotion>
          <circle r="1" fill="black">
            <!-- Animate the circle along the path of the ellipse -->
          </circle>
          <circle
            r="4"
            stroke="#b3b3b3"
            stroke-width="1"
            stroke-dasharray="6 3"
            vector-effect="non-scaling-stroke"
            fill="none"
          >
            <!-- Animate the circle along the path of the ellipse -->
          </circle>
          <text x="2" y="1" font-size="1.5" fill="black">V</text>
        </g>
      </g>

      <!-- Lines -->
      <g>
        {
          Array.from({ length: 9 }).map((_, index) => (
            <g transform={`rotate(${index * 20}, 150, 150)`}>
              <line
                x1="50%"
                y1="0"
                x2="50%"
                y2="100%"
                stroke="var(--stroke-color)"
                stroke-width="1"
                vector-effect="non-scaling-stroke"
                stroke-dasharray="8 6"
              />
              {index % 2 === 0 && (
                <polygon
                  points="150,123 149.5,124 150.5,124"
                  style="fill:#b3b3b3;stroke-width:1 vector-effect:non-scaling-stroke"
                />
              )}

              {index % 2 !== 0 && (
                <polygon
                  points="150,176 149.5,175 150.5,175"
                  style="fill:#b3b3b3;stroke-width:1 vector-effect:non-scaling-stroke"
                />
              )}
            </g>
          ))
        }
      </g>
    </g>
  </svg>

  <!-- Circle  -->
  <svg
    class="w-[10%] h-[10%]"
    viewBox="0 0 301 301"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="xMidYMid meet"
    style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
  >
    <circle cx="150.5" cy="150.5" r="150" fill="var(--bg-color)"></circle>
    <circle
      cx="150.5"
      cy="150.5"
      r="90"
      stroke="#C2C2C2"
      vector-effect="non-scaling-stroke"
      stroke-dasharray="2,4"></circle>
    <circle
      cx="150.5"
      cy="150.5"
      r="100"
      stroke="#C2C2C2"
      vector-effect="non-scaling-stroke"
      stroke-dasharray="2,4"></circle>
    <circle
      cx="150.5"
      cy="150.5"
      r="110"
      stroke="#C2C2C2"
      vector-effect="non-scaling-stroke"
      stroke-dasharray="2,4"></circle>
    <circle
      cx="150.5"
      cy="150.5"
      r="120"
      stroke="#C2C2C2"
      vector-effect="non-scaling-stroke"
      stroke-dasharray="2,4"></circle>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M150.7 2.19336C232.706 2.19336 299.282 68.7698 299.282 150.776C299.282 232.778 232.706 299.358 150.7 299.358C68.6937 299.358 2.11719 232.778 2.11719 150.776C2.11719 68.7698 68.6937 2.19336 150.7 2.19336ZM150.7 21.9473C79.5987 21.9473 21.8711 79.6717 21.8711 150.776C21.8711 221.877 79.5987 279.601 150.7 279.601C221.801 279.601 279.528 221.877 279.528 150.776C279.528 79.6717 221.801 21.9473 150.7 21.9473Z"
      fill="none"
      stroke="var(--circle-stroke-color)"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      vector-effect="non-scaling-stroke"></path>
    <path
      d="M127.554 19.6072L118.984 21.4175L117.206 14.1285L120.094 13.4952L120.882 17.1084L123.965 16.4999L122.48 9.10156L116.29 10.4791L109.94 12.2186L104.174 14.0084L106.627 21.1557L109.394 20.2734L108.227 16.6784L111.034 15.7444L113.175 23.0235L105.092 25.6326L97.0045 28.8811L93.988 22.0114L96.7218 20.8863L98.1256 24.3078L101.056 23.1732L98.3088 16.1451L92.4523 18.5766L86.5003 21.3924L81.1332 24.1562L84.7894 30.769L87.3618 29.4195L85.5879 26.0818L88.1903 24.6746L91.5631 31.4713L84.0498 35.4433L76.6443 40.0454L72.4808 33.8039L74.9777 32.2212L76.9543 35.3469L79.643 33.7207L75.7173 27.2765L70.372 30.688L64.9993 34.4945L60.1937 38.1483L64.9427 44.0258L67.2417 42.2501L64.9151 39.2712L67.2336 37.4334L71.7354 43.5411L65.0074 48.7796L58.4979 54.6233L53.311 49.2023L55.4941 47.209L57.9848 49.9427L60.3492 47.8731L55.3612 42.211L50.6917 46.5013L46.0641 51.1853L41.9683 55.6202L47.6683 60.5808L49.6229 58.4319L46.813 55.9037L48.7761 53.6902L54.2728 58.9206L48.6151 65.1788L43.2683 71.9874L37.2229 67.5439L39.0288 65.2034L41.9544 67.4657L43.9257 65.0187L38.0345 60.3035L34.1764 65.3359L30.4275 70.749L27.1595 75.8248L33.6307 79.7261L35.1847 77.2718L31.9804 75.267L33.5315 72.7477L39.8491 76.9499L35.3265 84.1492L31.2129 91.8408L24.4875 88.5152L25.8592 85.8966L29.1334 87.6162L30.6496 84.864L24.0288 81.2439L21.1037 86.8701L18.3523 92.8522L16.0157 98.4185L23.0664 101.136L24.1703 98.4493L20.6664 97.0317L21.7562 94.2812L28.7079 97.3219L25.4951 105.226L22.7746 113.546L15.5726 111.443L16.4672 108.625L19.9909 109.748L21.0044 106.774L13.8542 104.363L11.954 110.412L10.2868 116.782L8.95576 122.671L16.3721 124.118L16.991 121.28L13.2937 120.495L13.8877 117.596L21.2628 119.38L19.4848 127.669L18.2567 136.28L10.7992 135.457L11.1917 132.527L14.8567 133.022L15.3392 129.917L7.8792 128.782L7.05669 135.07L6.51918 141.632L6.2292 147.662L13.7842 147.802L13.9017 144.9L10.1242 144.767L10.2067 141.81L17.7792 142.287L17.462 150.818L17.7445 159.571L10.2574 160.056L10.1351 157.103L13.8304 156.954L13.7664 153.812L6.22266 153.99L6.50447 160.325L7.1147 166.881L7.8762 172.869L15.3407 171.695L14.9524 168.817L11.2093 169.342L10.777 166.415L18.3174 165.57L19.4814 173.985L21.2745 182.513L13.9854 184.291L13.3521 181.403L16.9653 180.615L16.3568 177.532L8.9585 179.017L10.3361 185.207L12.0755 191.558L13.8654 197.323L21.0126 194.871L20.1303 192.103L16.5353 193.27L15.6013 190.463L22.8804 188.322L25.4905 196.405L28.7399 204.491L21.8702 207.508L20.7451 204.774L24.1666 203.37L23.032 200.44L16.0039 203.187L18.4354 209.044L21.2511 214.996L24.015 220.363L30.6278 216.706L29.2783 214.134L25.9406 215.908L24.5334 213.306L31.3301 209.933L35.3012 217.445L39.9026 224.85L33.6611 229.014L32.0784 226.517L35.2041 224.54L33.5779 221.852L27.1336 225.777L30.5451 231.123L34.3517 236.495L38.0055 241.301L43.8829 236.552L42.1073 234.253L39.1283 236.58L37.2906 234.261L43.3983 229.759L48.6373 236.489L54.4816 243L49.0607 248.187L47.0673 246.004L49.801 243.513L47.7314 241.148L42.0693 246.136L46.3596 250.806L51.0436 255.433L55.4785 259.529L60.4391 253.829L58.2902 251.875L55.762 254.685L53.5485 252.721L58.7789 247.225L65.0367 252.882L71.8447 258.228L67.4012 264.273L65.0607 262.467L67.323 259.542L64.8761 257.57L60.1608 263.462L65.1932 267.32L70.6063 271.069L75.6821 274.337L79.5834 267.865L77.1291 266.312L75.1243 269.516L72.605 267.965L76.8072 261.647L84.0062 266.169L91.6977 270.283L88.3721 277.008L85.7534 275.636L87.473 272.362L84.7208 270.846L81.1008 277.467L86.727 280.392L92.709 283.143L98.2754 285.48L100.993 278.429L98.3061 277.325L96.8885 280.829L94.138 279.739L97.1787 272.788L105.083 276.001L113.402 278.722L111.299 285.924L108.482 285.03L109.604 281.506L106.63 280.492L104.219 287.643L110.269 289.543L116.639 291.21L122.527 292.541L123.975 285.125L121.137 284.506L120.351 288.203L117.453 287.609L119.236 280.234L127.525 282.012L136.136 283.241L135.313 290.698L132.383 290.306L132.878 286.641L129.773 286.158L128.638 293.618L134.926 294.441L141.488 294.978L147.518 295.268L147.658 287.713L144.756 287.596L144.623 291.373L141.666 291.291L142.143 283.718L150.675 284.034L159.428 283.75L159.913 291.237L156.959 291.359L156.811 287.664L153.669 287.728L153.847 295.271L160.181 294.99L166.738 294.379L172.726 293.618L171.552 286.153L168.674 286.542L169.199 290.285L166.272 290.717L165.427 283.177L173.842 282.012L182.372 280.219L184.149 287.508L181.262 288.141L180.473 284.528L177.391 285.137L178.875 292.535L185.065 291.157L191.416 289.418L197.181 287.628L194.729 280.481L191.961 281.363L193.129 284.958L190.321 285.892L188.18 278.613L196.263 276.004L204.349 272.755L207.366 279.625L204.632 280.75L203.228 277.328L200.298 278.463L203.045 285.491L208.901 283.059L214.853 280.244L220.221 277.48L216.564 270.867L213.992 272.216L215.766 275.554L213.163 276.961L209.791 270.165L217.304 266.193L224.709 261.591L228.872 267.832L226.375 269.415L224.399 266.289L221.71 267.915L225.636 274.36L230.981 270.948L236.354 267.142L241.159 263.488L236.41 257.61L234.111 259.386L236.438 262.365L234.119 264.203L229.618 258.095L236.347 252.856L242.858 247.013L248.045 252.434L245.862 254.427L243.371 251.693L241.007 253.763L245.995 259.425L250.664 255.135L255.292 250.451L259.388 246.016L253.688 241.055L251.733 243.204L254.543 245.732L252.58 247.946L247.083 242.715L252.74 236.457L258.087 229.649L264.132 234.092L262.326 236.433L259.401 234.17L257.429 236.617L263.32 241.332L267.179 236.3L270.927 230.887L274.196 225.811L267.724 221.91L266.17 224.364L269.375 226.369L267.823 228.888L261.506 224.686L266.027 217.487L270.14 209.795L276.865 213.121L275.494 215.739L272.219 214.02L270.703 216.772L277.324 220.392L280.249 214.766L283.001 208.784L285.337 203.217L278.286 200.5L277.183 203.187L280.686 204.604L279.597 207.355L272.645 204.314L275.858 196.41L278.579 188.09L285.781 190.193L284.886 193.011L281.363 191.888L280.349 194.862L287.499 197.273L289.4 191.224L291.067 184.854L292.398 178.965L284.982 177.518L284.363 180.356L288.06 181.141L287.466 184.04L280.091 182.256L281.869 173.967L283.098 165.356L290.555 166.179L290.163 169.109L286.498 168.614L286.015 171.719L293.475 172.854L294.298 166.566L294.835 160.004L295.125 153.974L287.57 153.834L287.453 156.736L291.23 156.869L291.148 159.826L283.575 159.349L283.891 150.817L283.608 142.064L291.095 141.579L291.217 144.532L287.522 144.681L287.586 147.823L295.13 147.645L294.848 141.31L294.238 134.754L293.476 128.765L286.012 129.94L286.4 132.818L290.143 132.293L290.575 135.22L283.035 136.064L281.871 127.65L280.077 119.121L287.366 117.343L287.999 120.231L284.386 121.019L284.995 124.102L292.393 122.617L291.015 116.428L289.276 110.077L287.486 104.312L280.339 106.764L281.221 109.532L284.816 108.364L285.75 111.171L278.471 113.313L275.862 105.23L272.614 97.1435L279.483 94.1271L280.608 96.8608L277.187 98.2647L278.322 101.195L285.35 98.4479L282.918 92.5914L280.102 86.6393L277.339 81.2723L270.726 84.9285L272.075 87.5009L275.413 85.7269L276.82 88.3294L270.023 91.7021L266.051 84.1892L261.449 76.7841L267.69 72.6206L269.273 75.1174L266.147 77.094L267.774 79.7828L274.218 75.857L270.806 70.5117L267 65.1391L263.346 60.3335L257.469 65.0825L259.244 67.3814L262.223 65.0549L264.061 67.3734L257.953 71.8752L252.714 65.1459L246.87 58.6353L252.291 53.4484L254.284 55.6315L251.551 58.1222L253.62 60.4866L259.282 55.4986L254.992 50.8291L250.308 46.2015L245.873 42.1057L240.912 47.8057L243.061 49.7603L245.59 46.9504L247.803 48.9135L242.573 54.4102L236.315 48.7532L229.507 43.4071L233.95 37.3617L236.291 39.1676L234.029 42.0931L236.476 44.0645L241.191 38.1733L236.158 34.3152L230.745 30.5663L225.669 27.2982L221.768 33.7695L224.222 35.3234L226.227 32.1191L228.747 33.6702L224.544 39.9879L217.345 35.4654L209.654 31.3519L212.979 24.6264L215.598 25.9982L213.879 29.2723L216.631 30.7886L220.251 24.1678L214.625 21.2427L208.643 18.4912L203.076 16.1547L200.359 23.2053L203.045 24.3093L204.463 20.8054L207.214 21.8952L204.173 28.8468L196.268 25.6334L187.947 22.9123L190.05 15.7103L192.868 16.6049L191.745 20.1286L194.719 21.1421L197.131 13.9919L191.081 12.0917L184.711 10.4245L178.823 9.09346L177.375 16.5098L180.213 17.1287L180.999 13.4314L183.897 14.0254L182.114 21.4005L173.824 19.622L165.212 18.3934L166.034 10.9359L168.964 11.3284L168.469 14.9934L171.574 15.4759L172.709 8.01591L166.422 7.19341L159.859 6.6559L153.829 6.36592L153.689 13.9209L156.592 14.0384L156.724 10.2609L159.682 10.3434L159.204 17.9159L150.676 17.6014L141.925 17.8865L141.44 10.3995L144.394 10.2772L144.543 13.9725L147.685 13.9085L147.507 6.36475L141.172 6.64656L134.616 7.25679L128.627 8.0183L129.801 15.4828L132.68 15.0945L132.155 11.3514L135.081 10.9191L135.926 18.4595L127.47 19.6408"
      stroke="var(--circle-stroke-color)"
      stroke-linecap="round"
      stroke-linejoin="round"
      vector-effect="non-scaling-stroke"></path>
  </svg>

  <!-- Apollon -->
  <svg
    class="w-[7.5%]"
    viewBox="0 0 866 945"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M428.11 826.404L409.68 824.564L395.69 821.744L380.94 816.504L354.38 800.604L325.95 776.064L294.33 743.404L276.769 721.434L263.92 700.184C263.92 700.184 245.739 692.304 234.269 702.054L236.12 687.594L233.14 674.644L225.51 664.984L215.319 660.324L205.13 660.224L200.549 661.414L196.49 664.914L192.45 674.664L192.22 681.484L194.19 688.374L197.519 690.344L206.529 689.554L214 682.934L213.99 676.104L211.309 676.804L208.66 679.364L204.769 681.684L200.779 681.344L199.97 677.414L202.269 673.294L207.01 670.564L212.93 670.584L215.94 673.544L217.829 677.484L218.579 685.864L217.7 698.434L215.4 703.804L209.38 708.574L200.92 710.924L185.769 711.754L172.769 711.034L166.539 707.944L154.819 698.984L145.569 685.904L138.549 675.054L132.899 663.494L128.369 654.944L125.289 645.514L125.519 639.654L126.879 635.654L119.269 626.054L116.22 627.244L107.649 610.154L104.449 600.874L101.769 590.304L100.039 580.444L98.0994 569.114L96.8494 559.954L91.9895 545.834L89.5793 532.494L88.4395 519.804L90.6794 511.313L99.6795 501.544L110.109 493.344L115.149 490.313L117.319 488.894L117.629 479.823L115.269 467.203L112.179 456.853L109.869 441.894L111.309 430.683L116.599 424.373L129.819 414.304L137.5 405.983L126.47 388.593L118.26 369.943L115.98 355.963L117.579 341.794L128.649 338.753L143.129 340.523L140.519 331.843L134.059 314.253L132.72 295.703L135.299 280.263L140.23 253.843L140.919 249.113L160.879 263.563L169.559 275.593L169.879 259.273L178.279 235.883L184.42 225.523L199.309 208.923L203.91 207.143L206.9 208.443L217.529 187.243L230.16 167.621L246.87 152.517L252.2 150.28L256.269 152.47L260.539 164.955L275.23 156.818L277.91 161.58L285.87 149.884L297.04 139.098L312.01 130.093L330.22 123.778L351.52 118.726L351.4 133.799L352.81 145.988L379.15 137.19L393.58 133.621L410.37 131.707L413.98 132.13L412.39 141.283L409.47 153.148L407.28 157.993L409.55 159.214L417.02 156.4L440.13 147.456L453.46 144.733L453.08 141.085L446.53 132.261L443.92 128.486L451.88 127.787L481.32 131.577L499.83 137.905L515.73 147.179L527.02 156.567L514.12 125.58L549.7 139.477L571.53 152.767L583.21 162.928L594.78 176.923L600.21 169.286L605.94 149.376L626.94 165.604L641.6 180.893L648.28 194.223L651.26 210.973L651.56 223.683L651.14 239.773L650.11 245.533L665.7 231.453L674.25 213.923L676.74 207.563L683.73 213.983L692.52 227.843L693.53 244.693L692.37 253.833L706.77 239.523L714.78 256.673L719.95 278.133L728.46 274.263L734.3 267.143L748.21 292.283L750.43 307.043L751.08 322.673L748.19 337.993L743.58 346.723L737.1 356.083L732.64 360.643L742.88 360.813L756.38 356.643L759.4 354.823L764.41 370.483L764.37 383.953L761.38 395.233L752.78 405.174L745.5 412.713L744.6 421.123L743.68 424.693L746.73 429.004L749.68 441.174L749.71 460.394L749.1 481.404L751.59 497.933L755.35 509.953L767.2 528.104L773.57 539.474L776.35 549.704L776.44 561.474L773.28 571.694L765.74 583.114L759.24 588.204L751.66 592.494L742.42 595.844L732.16 599.314L716.85 604.144L707.98 607.764L701.68 613.244L699.96 617.284L699.77 622.494L701.53 626.444L705.81 629.354L712.97 633.934L722.69 642.534L727.63 649.654L728.69 655.964L728.81 663.364L727.76 666.124L725.97 669.744L721.99 673.234L707.67 678.874L697.99 680.814L684.85 698.564L676.44 706.684L678.4 713.604L678.64 722.234L676.25 731.234L671.42 737.434L663.86 742.534L655.83 744.704L642.57 744.964L630.42 742.354L623.97 737.434L620.79 731.724L620.98 724.854L623.22 720.464L628.76 716.554C628.76 716.554 636.98 708.034 626.88 709.724C616.79 711.424 611.37 712.064 611.37 712.064L598.62 712.594L585.61 710.624L569.21 733.944L556.22 748.324L539.99 763.154L518.37 778.224L497.04 792.334L488.06 798.174L480.49 804.504L470.28 811.984L462.4 817.644L453.63 821.714L444.85 823.814L433.69 826.114L428.11 826.404Z"
      fill="white"></path>
    <path
      d="M218.34 220.904C221.347 211.383 228.735 196.71 234.963 189.423C247.116 175.206 256.154 166.552 275.3 156.374C277.761 168.508 283.796 180.978 283.289 202.676C282.809 223.283 271.377 233.324 256.699 244.788"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M253.82 246.029C253.949 245.79 254.156 245.588 254.423 245.466C254.437 245.461 254.451 245.455 254.465 245.448C257.182 244.21 257.796 243.916 259.535 243.126L259.544 243.049L259.782 242.534C259.922 242.33 260.188 242.044 260.704 241.703C261.452 241.207 262.957 240.423 265.822 239.118C265.982 239.045 266.15 239.007 266.316 239.002C266.902 238.719 267.649 238.436 268.849 238.063C269.42 237.886 270.039 238.121 270.349 238.633C270.657 239.146 270.577 239.802 270.154 240.225C270.139 240.239 270.123 240.255 270.108 240.27C270.143 240.797 269.853 241.31 269.348 241.54L268.237 242.043C267.072 243.056 266.468 243.338 264.647 244.672C264.196 245.003 263.594 245.003 263.148 244.699C262.053 245.203 261.197 245.594 260.485 245.914C259.663 246.467 258.436 247.26 256.64 248.419C256.129 248.75 255.472 248.674 255.048 248.276C254.415 248.49 253.712 248.187 253.44 247.564C253.201 247.013 253.372 246.387 253.82 246.029Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M309.282 450.101C281.686 450.101 275.703 467.106 250.44 467.106C247.798 467.106 246.183 465.108 244.001 465.108C241.043 465.108 241.233 466.95 241.233 468.255C241.233 469.559 244.623 470.29 244.623 471.712C244.623 473.135 243.419 473.059 243.419 474.249C243.419 475.44 261.836 483.496 270.37 494.032C273.066 497.36 284.796 497.914 291.549 497.937C318.645 498.028 311.846 490.859 334.968 490.859C346.976 490.859 344.069 496.345 354.219 496.345C357.593 496.345 357.687 497.876 360.319 497.892C362.26 497.904 363.009 497.32 363.009 492.528C363.009 471.529 329.223 450.101 309.282 450.101Z"
      fill="var(--apollon-stroke-color)"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M585.238 711.638C563.15 738.796 565.127 749.176 497.021 792.023C480.572 802.37 482.354 804.437 466.2 814.925C449.786 825.586 448.803 822.553 429.35 826.499"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M538.435 450.101C566.03 450.101 572.013 467.106 597.276 467.106C599.918 467.106 601.534 465.108 603.716 465.108C606.674 465.108 606.484 466.95 606.484 468.255C606.484 469.559 603.094 470.29 603.094 471.712C603.094 473.135 604.298 473.059 604.298 474.249C604.298 475.44 585.881 483.496 577.347 494.032C574.651 497.36 562.921 497.914 556.168 497.937C529.072 498.028 535.871 490.859 512.749 490.859C500.741 490.859 503.648 496.345 493.498 496.345C490.124 496.345 490.03 497.876 487.397 497.892C485.457 497.904 484.708 497.32 484.708 492.528C484.708 471.529 518.494 450.101 538.435 450.101Z"
      stroke="var(--apollon-stroke-color)"
      fill="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M350.361 690.71C352.995 692.585 354.553 693.593 365.864 693.593C377.174 693.593 386.051 687.085 398.404 687.085C410.754 687.085 414.256 696.12 431.895 696.12C439.988 696.12 446.081 690.221 457.873 690.221C464.908 690.221 474.616 695.351 487.576 695.351C492.457 695.351 495.103 694.234 496.63 693.051"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M421.432 699.527C424.387 703.522 426.566 705.322 426.566 718.101"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M380.205 717.103C383.388 719.391 391.843 723.456 408.48 723.456C420.706 723.456 420.335 720.93 428.792 720.93C439.853 720.93 439.407 724.297 448.151 724.297C456.893 724.297 463.211 715.629 465.741 712.099"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M259.197 454.79C280.813 455.33 281.59 443.524 303.038 439.076C325.814 434.352 351.317 448.855 355.579 450.97"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M232.168 436.893C243.148 426.903 257.928 430.972 260.523 431.476C245.744 435.445 243.324 436.178 237.582 442.277"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M261.594 421.97C285.16 406.744 287.553 418.506 297.057 416.815C302.879 415.779 303.338 412.473 329.836 420.878C331.925 421.54 344.329 425.476 356.681 426.344C369.277 427.229 370.015 425.011 375.948 420.305"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M314.918 416.799C318.652 417.266 340.16 420.861 349.746 411.344"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M356.916 426.644C357.947 429.881 357.767 430.551 362.588 432.404C369.936 435.228 370.145 433.859 377.545 431.001"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M411.865 409.451C412.284 416.713 413.986 417.458 409.125 422.92C404.738 427.848 397.069 431.531 393.457 433.797"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M366.431 465.414C365.566 471.145 369.485 469.766 371.482 475.256C374.684 484.056 370.464 492.037 369.786 493.321C372.339 491.75 377.883 490.108 383.45 479.711C393.207 461.491 391.36 451.487 372.553 442.634"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M374.936 454.63C376.777 455.882 380.031 462.651 380.584 463.995C384.661 473.912 383.93 474.395 384.217 476.953"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M399.7 471.201C400.333 472.664 404.015 481.189 398.489 491.103C390.778 504.934 394.911 511.51 397.252 518.37"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M459.664 473.895C457.52 477.454 449.433 484.766 455.35 499.43C460.932 513.266 467.007 518.054 453.025 545.893"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M433.695 361.581C436.036 365.12 442.683 380.841 444.248 398.502C445.671 414.551 442.217 415.362 449.604 429.535"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M445.012 413.798C446.35 416.797 445.702 418.954 459.951 426.564"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M466.252 453.933C466.867 442.882 476.304 437.968 477.743 437.219"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M468.717 446.243C471.292 445.169 471.229 444.024 475.915 445.105"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M493.836 464.349C501.248 448.643 505.725 446.169 526.748 441.635C552.753 436.026 577.322 451.515 581.092 453.891"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M485.439 457.977C496.249 456.875 495.232 453.388 501.645 451.032"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M492.654 447.464C498.436 447.586 498.499 447.198 503.877 449.398"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M461.147 488.474C460.843 494.632 461.679 494.868 457.701 502.288"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M465.603 504.335C465.83 514.017 466.072 514.421 461.996 520.53"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M407.978 576.479C405.6 580.054 406.75 586.947 406.762 589.245C405.583 588.514 391.235 579.627 389.717 592.364"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M473.295 591.301C463.137 580.025 458.931 589.607 454.376 588.061C448.791 586.167 450.447 574.438 450.451 573.931"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M391.449 616.828C393.358 616.13 402.166 612.3 408.664 617.581"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M389.631 629.131C374.337 628.333 372.073 621.668 369.047 609.743"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M480.211 608.592C484.049 622.962 473.523 627.092 471.973 627.7"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M422.938 624.949C432.253 631.314 439.55 624.44 442.384 622.34C448.591 617.743 453.866 619.508 464.003 617.199"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M414.857 632.592C414.877 633.184 416.234 641.324 414.822 647.354"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M439.162 633.856C438.091 639.36 438.528 639.253 439.482 644.926"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M365.58 680.641C393.001 663.729 397.735 653.394 415.521 660.497C426.36 664.825 435.238 655.237 446.535 658.809C458.181 662.491 464.753 673.925 482.279 681.907"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M372.371 759.319C386.521 756.051 388.012 755.099 393.49 748.87"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M422.119 744.973C423.906 744.515 434.268 741.856 444.88 748.609C456.842 756.221 456.87 756.531 470.812 758.609"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M299.818 505.932C320.947 511.494 321.609 500.171 342.887 505.425"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M515.953 506.044C523.858 502.138 535.442 507.681 540.299 508.756C552.546 511.471 562.618 507.057 565.842 506.408"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M539.465 521.792C548.09 517.093 548.513 521.442 560.364 522.759"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M574.426 516.393C578.366 516.023 580.025 515.161 586.684 517.104"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M523.217 424.461C544.548 412.381 557.129 404.913 570.614 407.788C597.319 413.478 592.547 426.543 619.644 429.646"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M563.424 414.093C570.618 413.723 573.387 414.909 577.567 410.979"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M568.051 423.53C578.677 418.848 582.107 424.381 587.295 415.469"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M474.443 426.809C485.409 434.052 501.619 425.154 502.9 424.061C515.517 413.292 516.843 409.593 531.835 409.647C541.435 409.682 542.669 412.607 543.265 413.121"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M477.967 415.021C493.733 420.087 499.171 420.217 508.616 418.936"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M496.977 402.011C501.944 408.596 504.334 411.049 513.085 414.307"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M517.012 352.664C519.808 391.788 561.775 386.86 572.608 380.677"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M233.922 702.102C244.548 660.307 205.596 655.276 197.641 663.268C192.986 667.946 187.941 686.876 197.098 690.171C200.512 691.399 218.569 690.378 213.014 674.349C212.263 675.192 201.027 687.813 199.89 679.514C198.717 670.951 219.603 660.451 218.67 688.599C218.098 705.861 212.602 711.661 185.909 711.826C172.326 711.91 170.188 710.975 160.319 703.725C148.99 695.403 147.116 688.62 144.85 684.325"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M146.658 596.156C147.108 603.414 152.519 608.815 157.591 609.554C181.37 613.021 196.111 621.385 198.244 624.982C201.624 630.68 204.808 650.706 190.595 645.199C134.137 623.325 133.179 659.794 138.068 674.44"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M172.086 612.486C194.134 608.092 197.615 608.127 213.368 623.591C218.813 628.936 224.512 655.839 203.435 653.435C189.495 651.846 169.441 642.196 156.099 652.255C156.041 652.298 148.753 655.943 147.242 667.539C144.815 686.161 169.701 690.112 173.988 684.673C177.304 680.465 176.734 670.342 176.544 668.984C175.61 662.312 172.346 659.237 170.138 656.29"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M138.469 675.38C135.922 664.68 115.556 643.049 130.452 632.22C133.012 630.359 160.113 619.735 137.82 605.911C133.041 602.948 118.5 598.364 113.883 592.1C110.575 587.612 110.36 569.894 110.336 567.941"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M114.445 591.381C112.997 598.511 115.723 616.128 117.173 620.88C120.173 630.698 128.627 636.872 129.113 637.32"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M96.2157 542.405C95.4498 556.321 98.1017 566.192 100.92 586.112C103.77 606.251 114.696 624.174 116.526 627.175"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M114.487 490.857C104.73 495.329 90.0511 508.265 88.896 516.918C86.8475 532.279 94.526 554.358 97.1723 559.698C106.416 578.36 117.276 580.757 124.914 583.335"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M209.711 592.923C222.848 578.473 223.455 578.096 225.524 558.344C227.732 537.262 201.6 522.164 189.352 525.455C188.889 525.579 175.454 527.968 176.451 539.85C176.878 544.928 184.537 546.684 185.055 541.192"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M145.98 519.851C146.577 543.312 155.528 559.861 161.035 561.716C175.947 566.739 184.602 561.314 186.32 560.239C194.318 555.229 196.76 540.443 197.075 538.531"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M182.574 526.645C178.308 522.202 168.222 530.215 169.852 545.942C170.628 553.427 183.47 551.216 186.714 540.491"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M139.166 536.73C141.223 561.657 140.649 568.904 166.71 576.328C176.328 579.068 197.406 576.64 201.843 572.45C218.225 556.983 211.017 534.437 209.993 531.236"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M212.348 532.105C229.025 569.504 199.997 584.035 191.631 590.159"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M132.604 500.615C113.062 539.07 126.791 551.839 127.203 552.538C136.192 567.828 153.01 573.021 175.495 583.134"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M157.469 423.734C142.456 432.633 135.667 434.246 144.891 449.079C151.78 460.155 166.842 472.835 146.973 493.024"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M129.211 465.601C130.117 464.726 134.942 460.067 144.148 460.626C150.226 460.995 154.995 467.1 155.668 467.961"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M156.207 447.439C162.735 453.652 167.446 461.521 158.552 470.147"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M171.775 440.091C181.279 456.96 197.798 479.934 150.156 501.874C131.795 510.33 134.36 513.907 130.691 533.853"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M179.216 448.507C183.948 452.996 194.825 471.074 186.533 480.035C178.142 489.102 170.692 488.413 170.948 505.645"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M170.022 492.341C157.898 500.595 153.584 504.101 153.242 513.706"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M220.673 431.188C208.494 446.189 225.682 454.586 228.536 477.664C229.806 487.932 225.071 515.355 185.473 505.833"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M222.441 501.443C222.747 502.974 225.39 516.232 222.815 520.941C220.236 525.655 210.976 527.299 208.09 528.209"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M250.592 360.607C240.685 392.225 186.753 375.696 186.326 416.734C186.088 439.485 217.28 436.12 201.078 476.644C200.758 477.442 198.056 484.2 196.358 486.303C196.358 486.303 191.316 491.246 190.878 491.676C213.122 485.462 218.144 486.651 223.41 463.191"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M145.423 390.147C134.922 426.675 103.95 414.887 110.32 450.255C111.811 458.534 124.505 485.533 112.316 507.94C103.642 523.885 96.7073 544.452 119.943 566.443"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M187.354 381.289C199.189 362.864 205.316 374.439 226.561 368.495"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M196.176 384.309C211.247 377.995 211.418 377.399 226.048 379.806"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M197.924 436.93C202.892 419.8 202.313 399.919 222.449 394.963C245.059 389.398 265.194 390.597 280.05 385.521C313.226 374.186 279.823 295.414 309.945 290.945C328.713 288.161 402.844 346.196 404.79 269.955"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M214.676 413.869C223.476 402.351 244.989 392.549 257.304 392.487C275.459 392.396 280.025 398.732 288.34 382.594"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M408.213 299.865C390.174 312.891 382.98 311.317 365.842 308.681"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M305.445 281.624C306.571 280.572 312.912 274.655 324.647 280.238C341.21 288.118 350.473 282.017 356.831 279.136"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M296.99 309.311C308.927 298.975 309.552 300.036 312.336 299.104"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M297.133 330.328C302.087 323.063 303.184 318.497 315.102 313.448"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M266.181 298.924C275.269 310.606 278.829 328.68 263.568 345.668"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M259.941 299.004C260.84 312.628 267.301 313.548 271.169 315.623"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M271.824 264.58C270.188 266.261 265.946 270.56 262.99 289.406"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M285.486 292.864C299.162 276.183 301.692 271.135 321.575 267.282"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M217.444 309.834C213.286 312.397 184.749 325.055 209.144 346.303"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M187.852 312.661C202.832 302.145 220.942 287.303 242.874 304.98C271.818 328.309 243.98 350.831 243.798 351.038C246.93 341.465 246.137 341.586 245.909 331.302"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M245.034 306.694C238.457 277.841 251.206 272.397 266.799 260.56"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M252.604 257.65C259.305 246.632 267.309 248.25 275.981 246.672"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M163.155 382.507C162.146 379.436 151.15 345.975 164.675 342.133C180.028 337.773 182.151 365.632 183.139 371.018C187.845 339.553 168.713 338.637 180.846 309.075"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M151.771 343.973C148.009 338.442 118.382 338.2 117.312 342.583C109.74 373.582 134.045 400.577 137.124 404.797"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M129.982 349.364C137.003 359.561 136.766 359.288 142.403 370.089"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M170.647 280.511C163.449 263.373 156.129 260.21 140.423 249.144C137.768 267.086 136.126 273.375 133.586 287.203C130.114 306.115 134.352 319.796 142.452 337.991"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M153.124 284.064C152.361 302.272 154.868 304.04 166.144 315.09"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M177.607 295.924C169.996 279.015 169.906 279.038 169.818 278.321C165.101 239.703 198.85 204.608 203.705 207.463C236.685 226.862 220.253 269.395 218.136 278.02"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M183.729 266.494C182.376 274.742 185.294 282.957 189.126 288.405"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M197.89 276.537C196.411 256.487 195.22 241.011 202.079 222.364"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M259.542 190.597C260.086 193.677 257.286 221.162 253.483 229.223C243.875 249.587 236.071 253.411 228.352 268.7"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M372.805 164.407C346.538 209.432 336.051 210.013 307.641 220.253"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M289.928 226.4C292.714 205.256 296.291 185.048 296.929 181.129"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M277.826 164.828C285.337 159.923 295.187 152.29 300.475 145.345C309.858 161.193 310.124 160.825 315.727 178.286"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M351.985 145.545C350.589 138.444 350.983 130.342 351.728 118.406C317.138 124.862 294.768 132.828 278.23 161.158"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M305.779 223.113C314.116 177.455 312 167.613 355.796 144.86C373.891 135.461 413.447 129.194 414.108 132.127C414.538 134.04 402.834 183.356 379.844 202.812C364.912 215.447 346.465 224.548 305.779 223.113Z"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M402.634 215.16C395.569 212.908 393.182 215.562 389.395 216.684"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M172.394 401.291C140.586 402.504 141.4 353.77 158.702 336.541C166.571 328.706 164.81 302.513 188.638 288.741C201.491 281.313 216.474 280.007 219.389 278.747C222.632 277.344 244.067 240.883 294.624 225.08C306.441 221.386 315.636 233.055 381.91 216.869"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M245.076 264.66C226.062 279.659 231.224 291.519 233.918 298.067"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M379.164 225.665C344.356 242.893 342.477 234.674 303.689 238.422C319.997 245.346 333.17 255.462 380.996 241.639C404.186 234.937 426.671 205.288 429.73 201.255C416.068 197.407 399.073 198.823 398.353 198.82"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M415.668 219.044C404.971 232.884 405.441 238.181 363.165 254.116C343.266 261.617 332.223 256.875 310.379 250.526"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M408.783 159.435C421.723 155.196 439.196 146.203 449.976 145.919C542.141 143.491 565.622 194.583 560.541 198.457C528.623 222.8 484.77 213.848 478.224 212.51C446.567 206.047 431.817 186.995 408.783 159.435Z"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M456.691 172.523C459.332 172.158 470.336 166.225 509.459 178.893C545.961 190.711 554.651 194.394 558.475 196.015"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M459.506 197.03C479.797 204.675 495.229 208.4 529.487 205.203"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M453.936 145.92C452.918 142.963 454.468 140.876 443.225 128.122C447.088 127.695 464.793 125.74 491.349 134.789C513.466 142.326 518.801 150.223 525.273 156.193"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M528.367 159.908C526.719 155.909 519.838 138.745 513.262 124.926C518.841 126.506 547.634 134.66 577.787 157.962C581.714 160.997 602.649 176.598 606.476 217.527C571.584 212.527 567.812 205.497 562.57 198.202"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M528.643 140.344C531.09 142.606 533.539 144.869 535.986 147.13"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M541.547 155.432C570.399 170.888 580.613 204.685 582.185 209.888"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M595.859 176.095C597.166 174.275 599.97 173.476 605.236 148.983C646.456 177.235 648.519 194.608 649.155 199.953C653.561 237.04 655.554 251.103 628.435 261.407C625.939 241.281 615.679 228.204 607.811 218.526"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M625.293 186.811C629.103 208.002 636.854 224.353 627.214 257.415"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M466.168 208.995C464.714 213.505 462.839 236.231 474.976 244.459"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M504.975 245.729C521.291 253.146 527.836 251.196 533.193 250.918"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M448.657 234.24C447.526 252.996 459.47 267.552 461.392 269.895"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M465.098 262.451C455.332 257.503 455.974 256.45 451.072 252.453"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M430.515 230.078C419.895 261.319 436.686 280.028 451.425 300.253C441.047 294.561 406.344 283.374 426.997 233.818"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M544.687 284.507C541.772 247.454 496.703 288.97 479.934 285.76"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M483.385 277.836C490.794 281.258 490.74 280.869 498.782 281.274"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M490.143 268.84C504.258 273.578 504.911 274.148 516.134 273.083"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M439.928 262.51C467.533 303.158 472.693 305.663 521.199 296.559C534.105 294.137 547.949 305.771 537.03 325.876C517.028 362.711 537.989 375.232 560.749 372.963C575.747 371.468 610.257 353.624 617.486 374.267"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M499.598 299.438C513.354 296.052 542.197 282.947 549.517 306.526"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M531.365 340.809C536.33 362.099 556.025 365.891 577.583 368.037"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M569.294 319.54C578.507 338.542 581.098 337.406 603.647 342.098C568.96 345.6 564.664 330.393 562.492 327.513"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M549.504 224.212C565.81 249.9 590.657 239.142 599.977 261.778C606.538 277.715 591.301 281.428 580.768 304.631C581.834 301.74 588.703 283.109 582.93 266.172C580.711 259.662 565.571 257.845 563.916 257.646"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M537.877 233.709C597.081 241.555 593.37 266.079 592.805 285.931"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M577.445 222.646C612.497 242.881 632.687 249.373 626.356 275.743C622.816 290.481 564.267 316.111 597.861 330.517"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M648.814 246.077C664.68 234.962 671.701 224.276 676.106 206.425C724.357 248.131 655.808 286.865 672.383 304.535C688.641 321.866 681.762 327.178 690.733 333.942C706.479 345.816 712.02 342.91 719.146 324.446C727.734 302.188 719.447 261.557 706.295 239.571C699.219 248.255 699.609 248.511 690.606 255.323"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M695.848 267.38C696.077 283.585 700.748 282.968 699.798 299.155C698.207 326.212 696.137 326.859 696.957 337.139"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M628.148 287.836C662.591 303.239 679.18 305.03 684.348 327.87C688.827 347.672 668.728 362.874 666.096 364.865C697.263 315.84 642.731 301.153 625.834 295.901"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M613.262 317.451C634.047 332.294 643.323 317.91 655.075 333.004C663.168 343.398 657.629 344.659 644.68 377.07C651.255 356.411 641.681 339.264 640.691 338.399C630.801 329.767 617.72 333.608 614.863 325.87"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M611.242 339.459C641.183 323.806 621.895 398.548 664.948 393.457C672.2 392.6 677.26 387.131 678.206 385.364C679.78 382.43 676.313 372.119 675.944 371.017C692.267 389.804 678.549 405.917 649.066 390.845C617.672 374.795 632.161 360.81 620.755 342.797"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M593.773 388.201C623.377 413.873 650.455 441.245 617.667 485.944C604.934 503.303 609.93 512.08 618.048 523.895C629.679 540.821 636.534 541.988 653.929 550.257"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M605.342 388.941C629.003 410.808 630.101 412.647 633.908 442.593"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M624.105 397.642C638.544 415.193 638.727 416.335 635.451 438.936C631.515 466.082 662.861 476.578 685.22 459.066C700.686 446.952 706.229 410.114 670.974 420.454"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M676.963 430.105C677.127 446.424 661.049 437.597 660.475 434.391C653.869 397.504 715.921 402.553 716.692 433.23C717.127 450.504 700.711 459.625 699.063 461.004"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M629.143 537.394C633.203 564.456 688.068 561.528 650.589 595.67C647.324 598.645 643.062 605.969 644.379 611.7C648.543 629.796 662.111 624.248 666.231 655.978"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M662.562 639.89C643.964 667.121 623.911 613.785 574.729 653.648C569.953 657.519 554.79 692.167 584.583 709.907C592.493 714.616 619.587 712.936 645.93 704.763"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M584.456 648.24C573.816 666.167 585.667 687.299 587.071 690.233C598.7 714.527 634.167 704.189 639.612 703.45"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M615.501 659.334C613.362 676.549 615.651 676.616 624.196 685.094"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M597.367 674.883C610.137 699.129 617.839 686.927 637.752 690.885C651.528 693.622 670.913 706.529 654.433 726.497"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M642.099 726.379C649.505 719.684 648.005 712.772 646.3 712.987C641.356 713.605 615.971 714.36 621.095 732.995C625.412 748.691 670.965 751.616 677.357 727.361C684.591 699.902 658.096 690.37 656.262 689.226"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M668.459 707.677C668.076 713.199 671.825 731.476 649.547 733.181C647.389 733.346 630.748 734.619 624.156 723.838"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M677.081 634.977C679.03 635.531 696.346 638.012 693.296 653.17C691.008 664.544 686.574 660.884 655.209 671.112"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M640.348 510.813C651.989 542.94 675.906 524.739 683.719 553.58C688.405 570.879 683.225 580.748 682.135 582.823C679.357 588.117 667.262 594.705 665.81 595.496C677.243 592.545 691.081 590.493 696.005 578.417C706.126 553.601 692.499 548.006 690.7 546.19"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M648.031 464.986C637.181 475.046 610.249 494.595 620.277 523.343"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M630.54 464.583C631.719 493.761 618.121 502.708 627.775 520.438C638.794 540.674 655.697 526.54 673.403 566.799"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M689.202 475.007C681.448 487.347 665.678 510.511 692.911 521.893"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M723.431 277.065C729.801 272.73 730.203 273.276 733.866 266.646C745.218 278.165 771.03 333.07 724.42 366.744C707.712 344.138 706.412 345.303 704.393 343.529"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M729.468 299.304C730.151 313.433 730.948 323.749 714.98 351.108"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M734.373 361.174C748.711 359.659 753.193 360.107 759.565 353.995C768.331 383.459 766.811 392.318 744.776 413.351C742.532 387.542 729.845 372.92 727.4 370.104"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M748.163 369.734C744.16 377.078 744.076 376.892 737.762 382.539"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M744.049 411.182C746.61 422.549 741.048 428.977 731.408 444.415"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M743.455 424.086C758.914 445.016 738.02 484.707 760.1 518.49C764.231 524.811 790.205 552.373 767.287 580.713C747.25 605.492 692.372 597.629 700.41 625.07C701.596 629.122 728.173 637.591 728.922 658.047C729.63 677.424 715.269 674.572 674.145 688.951"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M744.284 534.099C772.839 618.19 681.527 580.887 674.583 614.393C670.253 635.276 702.075 624.506 717.058 650.264C719.914 655.171 710.374 665.717 709.395 666.798C692.454 685.522 695.231 687.655 677.744 705.739"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M735.596 483.363C732.082 501.767 743.049 501.602 751.258 503.975"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M748.663 451.322C743.952 471.967 723.857 477.069 720.379 487.971C715.047 504.689 731.559 496.082 755.643 523.041"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M750.282 450.416C735.877 478.089 716.732 467.79 695.514 485.764C685.547 494.206 694.636 511.335 703.112 515.838C709.309 519.132 752.062 531.296 774.233 563.899"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M707.936 487.55C703.705 502.701 702.597 505.25 712.216 518.598"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M713.912 497.699C714.194 500.462 715.246 510.841 731.56 527.59"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M681.465 224.852C683.029 246.056 676.11 243.803 662.332 259.686C647.672 276.587 651.332 294.078 651.575 296.837"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M227.051 557.213C235.303 589.915 218.312 615.565 249.55 672.095C267.143 703.932 267.646 719.242 319.811 770.385C372.721 822.255 396.493 823.732 427.328 826.289"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M206.895 208.697C210.683 200.154 220.468 170.096 249 151.174C253.78 148.004 257.447 151.385 260.372 163.788"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M334.502 137.241C328.872 141.485 315.944 149.412 312.994 167.89"
      stroke="var(--apollon-stroke-color)"
      stroke-width="1"
      vector-effect="non-scaling-stroke"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M306.941 461.299C303.699 461.63 295.482 460.812 290.431 469.572C289.434 471.301 281.092 485.764 308.378 486.915C314.238 487.163 325.394 487.432 328.227 472.868C329.893 464.292 318.467 461.045 306.941 461.299Z"
      fill="var(--bg-color)"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M306.914 460C314.13 459.84 321.295 461.061 325.508 463.944C328.647 466.094 330.281 469.115 329.503 473.115C328.286 479.378 325.589 483.062 322.446 485.243C317.792 488.474 312.052 488.371 308.324 488.215C296.787 487.727 291.334 484.814 288.941 481.585C285.118 476.427 288.631 470.09 289.305 468.922C294.678 459.604 303.36 460.358 306.81 460.007C306.844 460.003 306.879 460.001 306.914 460ZM307.031 462.597L307.019 462.599C303.944 462.893 296.259 462.068 291.557 470.22C291.284 470.694 290.402 472.214 289.98 474.14C289.59 475.927 289.591 478.096 291.03 480.038C293.166 482.916 298.14 485.183 308.433 485.616C311.735 485.756 316.842 485.967 320.963 483.107C323.67 481.229 325.903 478.009 326.95 472.62C327.66 468.974 325.473 466.532 321.995 464.957C318.07 463.178 312.563 462.481 307.031 462.597Z"
      fill="var(--apollon-stroke-color)"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M541.955 462.072C539.582 461.876 520.961 458.678 521.198 472.708C521.534 492.702 551.486 489.886 556.767 481.928C559.902 477.202 557.753 475.196 557.378 473.988C553.933 462.886 542.472 462.327 541.955 462.072Z"
      fill="var(--bg-color)"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M542.361 460.837C542.47 460.855 543.084 460.955 543.67 461.065C547.222 461.74 555.661 464.066 558.62 473.603C558.694 473.843 558.865 474.118 559.029 474.458C559.394 475.217 559.761 476.182 559.744 477.456C559.727 478.775 559.296 480.466 557.851 482.646C556.678 484.415 554.439 485.997 551.556 487.152C547.491 488.777 542.132 489.595 537.001 489.094C528.166 488.23 520.079 483.513 519.897 472.73C519.844 469.577 520.667 467.207 521.994 465.42C523.959 462.775 527.08 461.397 530.356 460.778C535.43 459.819 540.839 460.676 542.063 460.777C542.165 460.785 542.265 460.805 542.361 460.837ZM541.707 463.33L541.849 463.367C540.698 463.274 535.611 462.432 530.839 463.332C528.21 463.829 525.659 464.847 524.081 466.97C523.047 468.363 522.455 470.227 522.497 472.685C522.652 481.897 529.709 485.769 537.255 486.506C541.954 486.966 546.867 486.228 550.59 484.738C552.897 483.814 554.744 482.624 555.684 481.208C556.746 479.608 557.131 478.391 557.144 477.422C557.157 476.485 556.808 475.825 556.55 475.314C556.372 474.959 556.221 474.647 556.136 474.373C553.583 466.145 546.249 464.203 543.184 463.621C542.526 463.495 542.018 463.398 541.707 463.33Z"
      fill="var(--apollon-stroke-color)"></path>
  </svg>
</div>
