---
import { Image } from "astro:assets";
import image2 from "../images/add-panel.png";

interface Props {
  comment: string;
  handle: string;
}

const { comment, handle } = Astro.props;
---

<div
  class="bg-[var(--color-bg)] flex flex-col justify-center p-6 border-r border-[var(--color-border)]"
>
  <span class="mb-2 text-[var(--color-secondary)] text-sm">
    {comment}
  </span>
  <span class="text-[var(--color-tertiary)] text-sm">@{handle}</span>
</div>
