---
import { Image } from "astro:assets";
import twitterSteve from "../images/twitter-steve.jpg";
import twitterRobert from "../images/twitter-robert.jpg";
import twitterAndy from "../images/twitter-andy.jpeg";

interface Props {
  comment: string;
  handle: string;
}

const twitterImages = {
  stevedesignerd: twitterSteve,
  andystrb: twitterAndy,
  RLooplabs: twitterRobert,
};

const { comment, handle } = Astro.props;
---

<div
  class="bg-[var(--color-bg)] flex flex-col justify-between px-4 py-8 border border-[var(--color-border)] rounded-md drop-shadow-sm text-center items-center max-w-[320px] gap-3"
>
  <Image
    src={twitterImages[handle]}
    alt=""
    class="w-8 h-8 rounded-full outline outline-1 outline-[var(--color-border)] outline-offset-2"
  />
  <div class="text-[var(--color-primary)] text-md">
    {comment}
  </div>

  <span class="text-[var(--color-tertiary)]">@{handle}</span>
</div>
