---
import { Image } from "astro:assets";
import image2 from "../images/add-panel.png";

interface Props {
  comment: string;
  handle: string;
}

const { comment, handle } = Astro.props;
---

<div
  class="bg-[var(--color-bg)] flex flex-col items-center justify-center p-6 border border-[var(--color-border)] rounded-md text-center"
>
  <Image
    src={image2}
    alt=""
    class="w-10 h-10 rounded-full border border-[var(--color-border)] bg-black"
  />
  <span class="mb-2 text-[var(--color-secondary)] text-sm">
    {comment}
  </span>
  <span class="text-[var(--color-tertiary)] text-sm">@{handle}</span>
</div>
