---
import numeral from "../svg/numeral-three.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
---

<section class="pt-[200px]">
  <ProjectHeader
    name="WeWeb AI"
    duration="Winter 2024 - Coming soon"
    description=""
    description2=""
    numeralSvg={numeral}
    accentColor="#274076"
  />
</section>
