---
import { Image } from "astro:assets";
import wwComponents1 from "../images/components-01.png";
import wwComponents2 from "../images/components-02.png";
import wwComponents3 from "../images/components-03.png";
import numeral from "../svg/numeral-two.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
import DialogPreview from "./ww/dialog/DialogPreview.vue";
---

<section class="py-[80px]">
  <div class="container -wide">
    <div class="border border-neutral-400">
      <ProjectHeader
        name="WeWeb Components"
        duration="Fall 2024 - Coming soon"
        description="Designing and developing new generation of elements"
        numeralSvg={numeral}
        accentColor="#274076"
      />
      <div class="grid grid-cols-2 gap-4 p-6">
        <div class="col-span-2">
          <h2>Dialog</h2>
          <p class="text-sm text-neutral-500">
            Dialog is a component that allows you to create a modal dialog.
          </p>
          Interactive demo
          <DialogPreview client:only="vue" />
        </div>
        <div class="p-4 border border-neutral-200 rounded-md">
          <h3 class="text-md font-bold">Select</h3>
          <p class="text-sm text-neutral-500">
            Select is a component that allows you to select one or more options
            from a list.
          </p>
          <div class="h-[400px] bg-neutral-200">
            <img src="select.png" alt="Select" />
          </div>
        </div>
        <div class="p-4 border border-neutral-200 rounded-md">
          <h3 class="text-md font-bold">Accordion</h3>
          <p class="text-sm text-neutral-500">
            Accordion is a component that allows you to collapse and expand a
            list of items.
          </p>
          <div class="h-[400px] bg-neutral-200">
            <img src="accordion.png" alt="Accordion" />
          </div>
        </div>
        <div class="p-4 border border-neutral-200 rounded-md">
          <h3 class="text-md font-bold">Dropdown</h3>
          <p class="text-sm text-neutral-500">
            Dropdown is a component that allows you to select one or more
            options from a list.
          </p>
          <div class="h-[400px] bg-neutral-200">
            <img src="dropdown.png" alt="Dropdown" />
          </div>
        </div>
        <div class="p-4 border border-neutral-200 rounded-md">
          <h3 class="text-md font-bold">Tabs</h3>
          <p class="text-sm text-neutral-500">
            Tabs is a component that allows you to switch between different
            views.
          </p>
          <div class="h-[400px] bg-neutral-200">
            <img src="tabs.png" alt="Tabs" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
