---
import { Image } from "astro:assets";
import wwComponentsBlueprint from "../images/ww-components-02.jpg";
import wwComponentsPreview from "../images/ww-components-01.jpg";
import numeral from "../svg/numeral-two.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
---

<section class="pt-[120px]">
  <ProjectHeader
    name="WeWeb Components"
    duration="2022 - PRESENT"
    description="Offering basic UI components is essential for any app builder to compete with the vast number of libraries available in standard coding approaches. However, a common limitation among most app builders is the lack of deep customizability. <br /> <br /> Inspired by the power of Radix and the aesthetics of Shadcn libraries in the coding world, we set out to revamp our element toolkit, focusing on full customizability, functionality and accessibility."
    numeralSvg={numeral}
  />

  <div class="container px-4 grid grid-cols-5 gap-[16px]">
    <div class="col-span-5 lg:col-span-3">
      <Image
        class="w-full h-full object-cover"
        src={wwComponentsPreview}
        alt=""
        width={1610}
        height={1200}
        quality={"max"}
      />
    </div>
    <div class="col-span-5 lg:col-span-2">
      <Image
        class="w-full h-full object-cover"
        src={wwComponentsBlueprint}
        alt=""
        width={1152}
        height={1200}
        quality={"max"}
      />
    </div>
  </div>
</section>
