---
import { Image } from "astro:assets";
import wwComponents1 from "../images/components-01.png";
import wwComponents2 from "../images/components-02.png";
import wwComponents3 from "../images/components-03.png";
import numeral from "../svg/numeral-two.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
import DialogPreview from "./ww/dialog/DialogPreview.vue";
---

<section class="py-[200px]">
  <ProjectHeader
    name="WeWeb Components"
    duration="Fall 2024 - Coming soon"
    description="Designing and developing new generation of elements"
    numeralSvg={numeral}
    accentColor="#274076"
  />

  <div class="container">
    <DialogPreview client:only="vue" />
  </div>

  <div class="container">
    <div class="w-full flex flex-col">
      <div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 w-full">
          <div class="col-span-1">
            <Image
              src={wwComponents1}
              alt=""
              quality={100}
              class="bg-[var(--main-shot-bg)] overflow-hidden aspect-[5/3.67] lg:aspect-auto border border-[var(--color-border)]"
            />
          </div>

          <div class="col-span-1">
            <Image
              src={wwComponents2}
              alt=""
              quality={100}
              class="bg-[var(--main-shot-bg)] overflow-hidden aspect-[5/3.67] lg:aspect-auto object-cover object-top border border-[var(--color-border)]"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
