---
import { Image } from "astro:assets";
import wwComponents1 from "../images/components-01.png";
import wwComponents2 from "../images/components-02.png";
import wwComponents3 from "../images/components-03.png";
import numeral from "../svg/numeral-two.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
import DialogPreview from "./ww/dialog/DialogPreview.vue";
---

<section class="py-[80px]">
  <div class="container -wide">
    <div class="border border-neutral-400">
      <ProjectHeader
        name="WeWeb Components"
        duration="Fall 2024 - Coming soon"
        description="Designing and developing new generation of elements"
        numeralSvg={numeral}
        accentColor="#274076"
      />
      <div class="grid grid-cols-3 gap-4 p-6 h-[800px]">
        <div class="col-span-2 row-span-2">
          <DialogPreview client:only="vue" class="h-full" />
        </div>
        <div class="border border-neutral-200 rounded-md overflow-hidden">
          <div
            class="border-b border-neutral-200 flex items-center justify-between p-2 bg-white"
          >
            <div class="text-center basis-0 flex-grow text-xs">Select</div>
          </div>

          <div class="bg-neutral-200">
            <img src="select.png" alt="Select" />
          </div>
        </div>
        <div class="border border-neutral-200 rounded-md overflow-hidden">
          <div
            class="border-b border-neutral-200 flex items-center justify-between p-2 bg-white"
          >
            <div class="text-center basis-0 flex-grow text-xs">Tabs</div>
          </div>

          <div class="bg-neutral-200">
            <img src="select.png" alt="Select" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
