---
import { Image } from "astro:assets";
import wwComponents1 from "../images/components-01.png";
import wwComponents2 from "../images/components-02.png";
import wwComponents3 from "../images/components-03.png";
import numeral from "../svg/numeral-two.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
---

<section class="pt-[120px]">
  <ProjectHeader
    name="WeWeb Components"
    duration="2022 - PRESENT"
    description="Offering basic UI components is essential for any app builder to compete with the vast number of libraries available in standard coding approaches. However, a common limitation among most app builders is the lack of deep customizability. <br /> <br /> Inspired by the power of Radix and the aesthetics of Shadcn libraries in the coding world, we set out to revamp our element toolkit, focusing on full customizability, functionality and accessibility."
    numeralSvg={numeral}
  />

  <div class="container px-4 grid grid-cols-2 gap-[16px]">
    <Image
      class="col-span-2 bg-neutral-100 border border-neutral-200"
      src={wwComponents1}
      alt=""
      quality={"max"}
    />
    <Image
      class="bg-neutral-100 border border-neutral-200"
      src={wwComponents2}
      alt=""
      quality={"max"}
    />

    <Image
      class="bg-neutral-100 border border-neutral-200"
      src={wwComponents3}
      alt=""
      quality={"max"}
    />
  </div>
</section>
