---
import { Image } from "astro:assets";
import wwEditorMain from "../images/test2.jpg";
import wwEditorWorkflowOne from "../images/ww-editor-workflow-01.jpg";
import wwEditorDesignSystem from "../images/ww-editor-design-system.png";
import numeral from "../svg/numeral-one.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
---

<section class="py-[240px]">
  <ProjectHeader
    name="WeWeb Editor"
    duration="2022 - PRESENT"
    description="The editor features many complex and intertwining systems such as components, workflows and more. We take web best practices and present them in an elevated and clear interface. As a result, editor can export clean and modern code."
    numeralSvg={numeral}
  />

  <!-- Editor Image -->
  <div class="container -wide">
    <div
      class="p-4 lg:px-10 lg:py-20 overflow-hidden bg-neutral-400 flex justify-center items-center min-h-[80vh]"
    >
      <Image
        class="rounded-md overflow-hidden drop-shadow-2xl max-w-[1580px] w-full"
        src={wwEditorMain}
        alt=""
      />
    </div>
  </div>

  <!-- Workflow Editor -->
  <div class="container -wide pb-[80px] pt-[160px]">
    <div class="w-full flex flex-col">
      <div class="max-w-[1094px] w-full">
        <div class="max-w-[560px] flex flex-col justify-between pb-8">
          <span class="mb-2 text-[var(--color-secondary)]">Workflow Editor</span
          >
          <p>
            What functions are in code, workflows are in weweb. Use pre-made
            actions like navigating to a page, changing a variable value or
            simply write JavaScript.
          </p>
        </div>

        <Image
          src={wwEditorWorkflowOne}
          alt=""
          quality={100}
          width="2048"
          height="1472"
          class="w-full h-auto object-cover object-left-top bg-black"
        />
      </div>
    </div>
  </div>

  <!-- Design system -->
  <div class="container -wide pt-[80px]">
    <div class="w-full flex flex-col items-end">
      <div class="max-w-[1094px] w-full">
        <div class="max-w-[560px] flex flex-col justify-between pb-8">
          <h3 class="text-lg mb-2">Design System</h3>
          <p>
            What functions are in code, workflows are in weweb. Use pre-made
            actions like navigating to a page, changing a variable value or
            simply write JavaScript.
          </p>
        </div>

        <Image
          src={wwEditorDesignSystem}
          alt=""
          quality={100}
          width="2048"
          height="1472"
          class="w-full h-auto object-cover object-left-top bg-[#1a1a1a]"
        />
      </div>
    </div>
  </div>
</section>
