---
import { Image } from "astro:assets";
import wwEditorMain from "../images/test2.jpg";
import wwEditorWorkflow from "../images/workflows.jpg";
import wwEditorFormula from "../images/formula.png";
import wwEditorIcons from "../images/icons.png";
import wwEditorKeyframes from "../images/keyframe.png";
import wwEditorFormulas from "../images/formula.png";
import numeral from "../svg/numeral-one.svg?raw";
import ProjectHeader from "./ProjectHeader.astro";
---

<section>
  <div class="container">
    <div class="inner-container py-12">
      <ProjectHeader
        name="Designing a powerful AI app builder"
        showBadge={true}
        description="The editor features many intertwining systems such as components, styles, workflows and more. We take web best practices and present them in an elevated and clear interface."
        accentColor="#274076"
      />

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <Image
          src={wwEditorMain}
          class="col-span-1 md:col-span-3"
          alt=""
          quality={100}
        />
        <Image
          src={wwEditorWorkflow}
          class="col-span-1 md:col-span-2"
          alt=""
          quality={100}
        />
        <Image
          class="w-full h-full object-cover"
          src={wwEditorIcons}
          alt=""
          quality={100}
        />
      </div>
    </div>
  </div>
</section>
