---
import { Image } from "astro:assets";
import wwEditorMain from "../images/test2.jpg";
import wwEditorWorkflowOne from "../images/ww-editor-workflow-01.jpg";
import wwEditorDesignSystem from "../images/ww-editor-design-system.png";
import numeral from "../svg/numeral-one.svg?raw";
---

<section class="py-[240px]">
  <!-- Project Number -->
  <div class="container flex flex-row items-center">
    <div class="h-[1px] w-[16px] bg-[var(--color-border)]"></div>
    <div
      class="text-[var(--color-bg)] w-[32px] h-[32px] bg-[var(--color-primary)] border-4 border-[var(--color-bg)] outline outline-1 outline-[var(--color-border)] z-10 flex items-center justify-center"
    >
      <Fragment set:html={numeral} />
    </div>
    <div class="h-[1px] flex-grow bg-[var(--color-border)]"></div>
  </div>

  <div class="container flex flex-col lg:flex-row pt-[96px] pb-[120px]">
    <div class="flex flex-col-reverse lg:flex-col gap-4">
      <h1 class="w-full lg:w-[420px] text-[var(--color-primary)]">
        WeWeb Editor
      </h1>
      <p class="text-monospace text-xs text-[var(--color-tertiary)]">
        2022 - PRESENT
      </p>
    </div>
    <div class="w-full max-w-[560px] text-[var(--color-secondary)] pt-3">
      <p>
        The editor features many complex and intertwining systems such as
        components, workflows and more. We take web best practices and present
        them in an elevated and clear interface. As a result, editor can export
        clean and modern code.
      </p>
    </div>
  </div>

  <!-- Project Images -->

  <!-- Editor Image -->
  <div class="container px-4">
    <div class="p-4 lg:px-10 lg:py-20 overflow-hidden bg-neutral-400">
      <Image
        class="rounded-md overflow-hidden drop-shadow-2xl"
        src={wwEditorMain}
        alt=""
      />
    </div>

    <!-- Workflow Editor -->

    <div class="container pb-[80px] pt-[160px]">
      <div class="w-full flex flex-col">
        <div class="max-w-[1094px] w-full">
          <div class="max-w-[560px] flex flex-col justify-between pb-8">
            <h3 class="text-lg mb-2">Workflow Editor</h3>
            <span class="text-md text-neutral-700"
              >What functions are in code, workflows are in weweb. Use pre-made
              actions like navigating to a page, changing a variable value or
              simply write JavaScript.</span
            >
          </div>
          <div
            class="relative w-full h-auto md:h-[720px] border border-neutral-300 bg-neutral-400 overflow-hidden"
          >
            <Image
              src={wwEditorWorkflowOne}
              alt=""
              quality={100}
              width="2048"
              height="1472"
              class="w-full h-full object-cover object-left-top"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Design system -->
    <div class="container pt-[80px]">
      <div class="w-full flex flex-col items-end">
        <div class="max-w-[1094px] w-full">
          <div class="max-w-[560px] flex flex-col justify-between pb-8">
            <h3 class="text-lg mb-2">Design System</h3>
            <span class="text-md text-neutral-700"
              >What functions are in code, workflows are in weweb. Use pre-made
              actions like navigating to a page, changing a variable value or
              simply write JavaScript.</span
            >
          </div>
          <div
            class="relative w-full h-[720px] border border-neutral-300 bg-[#1a1a1a] overflow-hidden"
          >
            <Image
              src={wwEditorDesignSystem}
              alt=""
              quality={100}
              width="2048"
              height="1472"
              class="w-full h-full object-cover object-left-top"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
