---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Software designer portfolio." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Software designer portfolio." />
    <meta property="og:image" content="https://ivanovicluka.co/og-image.png" />
    <meta property="og:url" content="https://lukaivanovic.co" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@lukaivnvc" />
    <meta name="twitter:title" content="Luka Ivanovic © 2024" />
    <meta name="twitter:description" content="Software designer" />
    <meta
      name="twitter:image"
      content="https://ivanovicluka.co/twitter-image.png"
    />
    <title>Luka Ivanovic © 2024</title>
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

  @font-face {
    font-family: "TWK Lausanne - 450";
    src: url("/fonts/TWKLausanne-450.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "TWK Lausanne - 400";
    src:
      url("/fonts/TWKLausanne-350.otf") format("opentype"),
      url("/fonts/TWKLausanne-350.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: "TWK Lausanne - 400", sans-serif;
    font-size: 14px;
    transition:
      background-color 0.5s ease,
      color 0.5s ease;
    background-color: var(--color-bg);
    color: var(--color-primary);
  }

  :root {
    --color-bg: #fff;
    --color-primary: theme("colors.neutral.900");
    --color-secondary: theme("colors.neutral.700");
    --color-border: #b8b8b8;
  }

  .dark-mode {
    --color-bg: theme("colors.neutral.900");
    --color-primary: theme("colors.white");
    --color-secondary: #d9d9d9;
    --color-border: #3b3b3b;
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .container {
    max-width: 1496px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;

    &.-wide {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .inner-container {
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    padding-left: 120px;
    padding-right: 120px;
  }

  h1 {
    font-size: 36px;
    line-height: 1.25;
    font-family: "TWK Lausanne - 450", sans-serif;
  }

  h2 {
    font-size: 28px;
    line-height: 1.25;
    font-family: "TWK Lausanne - 450", sans-serif;
  }

  img {
    border-radius: 6px;
  }

  p {
    font-family: "TWK Lausanne - 400", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-secondary);
  }

  a {
    &:hover {
      color: var(--color-primary);
      text-decoration: underline;
    }
  }

  @media (max-width: 1024px) {
    .container {
      padding-left: 8px;
      padding-right: 8px;

      &.-wide {
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    .inner-container {
      padding-left: 16px;
      padding-right: 16px;
    }

    h1 {
      font-size: 26px;
      line-height: 34px;
    }

    p {
      font-size: 15px;
      line-height: 26px;

      color: var(--color-secondary);
    }
  }
</style>
