---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @font-face {
    font-family: "TWK Lausanne";
    src: url("/fonts/TWKLausanne.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-primary: #000000;
    --color-secondary: #f0e6dd;
    --color-border: #e5e5e5;
  }

  .dark-mode {
    --color-bg: black;
    --color-text: #f0e6dd;
    --color-primary: #ffffff;
    --color-secondary: #2a2a2a;
    --color-border: #333333;
  }

  body {
    font-family: "TWK Lausanne", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-aliasing: antialiased;
    transition:
      background-color 0.5s ease,
      color 0.5s ease;
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  .container {
    max-width: 1720px;
    margin: 0 auto;
    // padding: 0 16px;
  }

  h1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 450;
  }

  h2 {
    font-size: 50px;
    line-height: 58px;
    font-weight: 350;
  }

  p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 350;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: var(--color-primary);
    }
  }
</style>
