---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @font-face {
    font-family: "TWK Lausanne";
    src: url("/fonts/TWKLausanne.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --color-bg: #ffffff;
    --color-primary: #000000;
    --color-secondary: #383838;
    --color-tertiary: #666666;
    --color-border: #e5e5e5;
    --color-accent: #000;
  }

  .dark-mode {
    --color-bg: #262626;
    --color-primary: #ffffff;
    --color-secondary: #dbdbdb;
    --color-tertiary: #a9a9a9;
    --color-border: #3b3b3b;
    --color-accent: #ea7d01;
  }

  body {
    font-family: "TWK Lausanne", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-aliasing: antialiased;
    transition:
      background-color 0.5s ease,
      color 0.5s ease;
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  .container {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;

    &.-wide {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  h1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 450;
  }

  h2 {
    font-size: 50px;
    line-height: 58px;
    font-weight: 350;
  }

  p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: var(--color-secondary);
  }

  a {
    &:hover {
      color: var(--color-primary);
      text-decoration: underline;
    }
  }

  .text-monospace {
    font-family: "Menlo", monospace;
    font-weight: 400;
  }

  * {
    transition:
      background-color 0.5s ease,
      border-color 0.5s ease,
      outline-color 0.5s ease,
      stroke 0.5s ease;
  }

  @media (max-width: 1024px) {
    body {
      font-size: 12px;
    }

    .container {
      padding-left: 16px;
      padding-right: 16px;

      &.-wide {
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    h1 {
      font-size: 26px;
      line-height: 34px;
      font-weight: 450;
    }

    p {
      font-size: 15px;
      line-height: 26px;
      font-weight: 400;
      color: var(--color-secondary);
    }
  }
</style>
